{% extends "base.html" %}

{% block content %}



<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Ellicott's Explosibility Graph(from Manual Entry)</h1>
            <!-- Table content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <iframe src="/FireExp/analysis/0" height=730 width=1000>
                        </iframe>
                    </div>
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>


{% endblock %}