{% extends "base.html" %}
{% block content %}
<style>
    .margin_top{
     margin-top: 15px;
    }
</style>
  <!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>


<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
             <h2 class="page-header"><b>WATER LEVEL GRAPH B/N TWO DATE-TIME</b><small> Here we can view graph b/n two date-time</small></h2>
        </div>
    </div>
    <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Choose Mine:</label>
                </div>
                <div class="col-md-4">
                    {{form.mine_id}}
                </div>
                <div class="col-md-2">
                    <label for="" class="" id="">Choose Location:</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="id_location_list">
                        <option value="">--Select Location--</option>
                    </select>
                </div>
            </div>
            <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Date-Time From:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="from_date" name="">
                </div>
                <div class="col-md-2">
                    <label for="" class="" id="">Date-Time To:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="to_date" name="">
                </div>
            </div>
    <div class="row">
        <div class="col-md-12 margin_top">
            <center><input type="button" id="btn_show" class="btn btn-primary" value="Show"/></center>
        </div>
    </div>
</div>
<div class="container-fluid">
     <span class="border border-primary">
         <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
     </span>
</div>
<script>
       $("#id_mine_id").addClass('form-control');
//------------------------------------------------------------------------------------------------------------------
    $("#id_mine_id").on("change",function(){
        mine_id=this.value;
        $.ajax({
            type:"get",
            url: "{% url 'water_level_monitoring:fetch_location_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                fill_dropdown(data.result);
                    },
            error: function(){
                    console.log("something went wrong");
                 }
        });
    });
    //------------------------------------------------------------------------------------------------------------------
     function fill_dropdown(result){
        $("#id_location_list").html("<option value=''>--Select Location--</option>");
        for (index = 0; index < result.length; index++) {
            var str_array = result[index].split(',');
            $("#id_location_list").append($("<option />").val(str_array[0]).text(str_array[1]));
        }
    }
//======================================================================================================================

//======================================================================================================================
$('#from_date').datetimepicker({
    format: 'YYYY-MM-DD hh:mm:ss'
});
$('#to_date').datetimepicker({
    format: 'YYYY-MM-DD hh:mm:ss'
});
//======================================================================================================================
 $("#btn_show").click(function() {
     var location = $("#id_location_list").val();
      var date_from = $("#from_date").val();
      var date_to = $("#to_date").val();
     if (location) {
         $(this).val("Please wait...");
         $("#btn_show").prop('disabled', true);
        $.ajax({
                type: "get",
                url: "{% url 'water_level_monitoring:fetch_water_data_bet_two_datetime' %}",
                data: {
                    'id': location,
                    'date_from': date_from,
                    'date_to': date_to,
                },
                success: function (data) {
                    //console.log(data.result);
                    var x_data=[];
                    var y_data=[];
                    for (index = 0; index < data.result.length; index++) {
                        var str_array = data.result[index].split(',');
                        x_data.push(moment(str_array[0]).format("DD-MM-YYYY HH:mm:ss"));
                        y_data.push(str_array[3]);
                    }
                    console.log(x_data);
                    console.log(y_data);
                    var data = [{
                    x: x_data.reverse(),
                    y: y_data.reverse(),
                    type: 'scatter'
                    }];
                    Plotly.newPlot('myDiv', data, {}, {showSendToCloud: true});
                    $("#btn_show").val("Show");
                    $("#btn_show").prop('disabled', false);
                   // return data;
                },
                error: function () {
                    console.log("something went wrong");
                }
            });
     }else{
         alert("Please choose location");
     }

 });
  </script>
</body>
{% endblock %}