{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="">
                <h3 class="page-header"><b>WARNING INFORMATION BETWEEN TWO DATE-TIME</b></h3>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="" id="">Choose Mine:</label>
                    </div>
                    <div class="col-md-4">
                        {{ form.mine_id }}
                    </div>
                    <div class="col-md-2">
                        <label for="" class="" id="">Choose Location:</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="id_location_list">
                            <option value="">--Select Location--</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="" id="">Date-Time From:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="from_date" value="{% now "Y-m-d 08:00:00" %}"
                               name="">
                    </div>
                    <div class="col-md-2">
                        <label for="" class="" id="">Date-Time To:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="to_date" value="{% now "Y-m-d H:i:s" %}" name="">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="" id="">Warning Type:</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="id_warning_list">
                            <option value="">--Select Warning Type--</option>
                            <option value="1">First Level Warning</option>
                            <option value="2">Second Level Warning</option>
                            <option value="3">Third Level Warning</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="text-center">
                        <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                    </div>
                </div>
                <div class="col-md-12" style="margin-top:15px;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="sensor_content">
                            <thead>
                            <tr>
                                <th>Date Time</th>
                                <th>Mine Name</th>
                                <th>Location Name</th>
                                <th>Water Level</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#id_mine_id").addClass('form-control');
            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            });
//------------------------------------------------------------------------------------------------------------------
            $("#id_mine_id").on("change", function () {
                let mine_id = this.value;
                $.ajax({
                    type: "get",
                    url: "{% url 'water_level_monitoring:fetch_location_ajax' %}",
                    data: {
                        'id': mine_id
                    },
                    success: function (data) {
                        fill_dropdown(data.result);
                    },
                    error: function () {
                        console.log("Something went wrong!");
                    }
                });
            });

            //------------------------------------------------------------------------------------------------------------------
            function fill_dropdown(waterSensor) {
                $("#id_location_list").empty();
                if (isEmpty(waterSensor)) {
                    $("#id_location_list").append($("<option />").val('').text('--No Location Found--'));
                    return;
                }
                $("#id_location_list").append($("<option />").val('').text('--Select Location--'));
                for (let water in waterSensor) {
                    if (waterSensor.hasOwnProperty(water)) {
                        $("#id_location_list").append($("<option />").val(waterSensor[water].id).text(waterSensor[water].name));
                    }
                }
            }

            $("#btn_show").click(function () {
                    let mine = $('#id_mine_id').val();
                    let location_id = $("#id_location_list").val();
                    let warning_value = $("#id_warning_list").val();
                    if (isEmpty(mine)) {
                        alert('Select Mine');
                        return;
                    }
                    if (isEmpty(location_id)) {
                        alert('Select Location');
                        return;
                    }
                    if (isEmpty(warning_value)) {
                        alert('Select Warning');
                        return;
                    }
                    let date_from = $("#from_date").val();
                    let date_to = $("#to_date").val();
                    $("#sensor_content_body").empty();//empty the table on each click
                    $.ajax({
                        type: "get",
                        url: "{% url 'water_level_monitoring:warning_fetch_water_data_bet_two_datetime' %}",
                        data: {
                            'id': location_id,
                            'date_from': date_from,
                            'date_to': date_to,
                            'warning_value': warning_value,
                        },
                        beforeSend: function () {
                            $(this).val("Please wait...");
                            $("#btn_show").prop('disabled', true);
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result')) {
                                fill_table_sensor(data.result);
                            }
                            return data;
                        },
                        error: function () {
                            console.log("Something went wrong");
                        }
                    });
                }
            );

            function fill_table_sensor(water_data) {
                let datatable = $('#sensor_content').DataTable();
                for (let water in water_data) {
                    if (water_data.hasOwnProperty(water)) {
                        datatable.row.add([water_data[water].date, water_data[water].mine, water_data[water].area, water_data[water].sensor_value]).draw().node();
                    }
                }
            }
        });
    </script>
{% endblock %}