{% extends "base.html" %}
{% block content %}
<head>
    <style>
    .margin_top{
     margin-top: 15px;
    }
     .dt-buttons {
    z-index: 1 !important;
    margin-bottom: -20px;
}
</style>

</head>
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h2 class="page-header"><b>WARNING INFORMATION BETWEEN TWO DATE-TIME</b></h2>
            <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Choose Mine:</label>
                </div>
                <div class="col-md-4">
                    {{form.mine_id}}
                </div>
                <div class="col-md-2">
                    <label for="" class="" id="">Choose Location:</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="id_location_list">
                        <option value="">--Select Location--</option>
                    </select>
                </div>
            </div>
            <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Date-Time From:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="from_date" name="">
                </div>
                <div class="col-md-2">
                    <label for="" class="" id="">Date-Time To:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="to_date" name="">
                </div>
            </div>
            <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Wireless data is comming from IP:</label>
                </div>
                <div class="col-md-4">
                     <input type="text" class="form-control" readonly id="ip_hidden">
                </div>
                <div class="col-md-2">
                    <label for="" class="" id="">Warning Type:</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="id_warning_list">
                        <option value="">--Select Sensor--</option>
                        <option value="1">First Level Warning</option>
                        <option value="2">Second Level Warning</option>
                        <option value="3">Third Level Warning</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="text-center">
                   <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                </div>
           </div>
            <div class="col-md-12" style="margin-top:15px;">
                <div class="table-responsive">
                    <table class="table table-bordered" id="sensor_content">
                        <thead>
                            <tr>
                                <th>Date Time</th>
                                <th>Mine Name</th>
                                <th>Location Name</th>
                                <th>Water Level</th>
                            </tr>
                        </thead>
                        <tbody id="sensor_content_body">


                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<script>
 $("#id_mine_id").addClass('form-control');
    $('#from_date').datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });
    $('#to_date').datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });
//------------------------------------------------------------------------------------------------------------------
    $("#id_mine_id").on("change",function(){
        mine_id=this.value;
        $.ajax({
            type:"get",
            url: "{% url 'water_level_monitoring:fetch_location_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                fill_dropdown(data.result);
                    },
            error: function(){
                    console.log("something went wrong");
                 }
        });
    });
    //------------------------------------------------------------------------------------------------------------------
     function fill_dropdown(result){
        $("#id_location_list").html("<option value=''>--Select Location--</option>");
        for (index = 0; index < result.length; index++) {
            var str_array = result[index].split(',');
            $("#id_location_list").append($("<option />").val(str_array[0]).text(str_array[1]));
        }
    }
    //------------------------------------------------------------------------------------------------------------------
    $("#id_location_list").on("change",function(){
        location_id=this.value;
        $.ajax({
                type:"get",
                url: "{% url 'water_level_monitoring:fetch_sensor_details' %}",
                data: {
                    'id': location_id
                    },
                success: function(data) {
                        for(index = 0; index < data.result.length; index++) {
                            var str_array = data.result[index].split('@#');
                            $("#ip_hidden").val(str_array[0]);
                        }
                 },
                error: function(){
                        console.log("something went worng");
                     }
         });
    });
     //------------------------------------------------------------------------------------------------------------------
    $("#btn_show").click(function(){
    var location =$("#id_location_list").val();
    let warning_value = $("#id_warning_list").val();
    if((location)&&(warning_value)){
        var date_from = $("#from_date").val();
        var date_to = $("#to_date").val();
        $("#sensor_content_body").empty();//empty the table on each click
        if (date_from && date_to) {
              $(this).val("Please wait...");
              $("#btn_show").prop('disabled', true);
            $.ajax({
                type: "get",
                url: "{% url 'water_level_monitoring:warning_fetch_water_data_bet_two_datetime' %}",
                data: {
                    'id': location,
                    'date_from': date_from,
                    'date_to': date_to,
                    'warning_value': warning_value,
                },
                success: function (data) {
                    console.log(data.result);
                    fill_table_sensor(data.result);
                    $("#btn_show").val("Show");
                    $("#btn_show").prop('disabled', false);
                   // return data;
                },
                error: function () {
                    console.log("something went wrong");
                }
            });
        }else{
            alert("Please choose From Date and To Date");
        }
    }else{
        alert("Please choose location");
    }

});
 function fill_table_sensor(result){
     if ( $.fn.DataTable.isDataTable('#sensor_content') ) {
      $('#sensor_content').DataTable().destroy();
    }
    for (index = 0; index < result.length; index++) {
        var str_array = result[index].split(',');
        $("#sensor_content_body").append($("<tr><td>"+moment(str_array[0]).format("DD-MM-YYYY HH:mm:ss")+"</td><td>"+str_array[1]+"</td><td>"+str_array[2]+"</td><td>"+str_array[3]+"</td></tr>"));
    }
    d_table();
 }
//================================================================================================================
function d_table(){
     $('#sensor_content').DataTable({
            paging: false,
            searching: true,
            "ordering": false,
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
     });
}
 $(document).ready(function() {
   d_table();
 });
</script>
</body>
{% endblock %}