asgiref==3.3.1
certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
cryptography==41.0.1
dataclasses==0.6
Django==2.2.4
django-background-tasks==1.2.0
django-compat==1.0.15
django-debug-toolbar==2.1
django-filter==2.4.0
djangorestframework==3.14.0
ez-setup==0.9
idna==2.8
Markdown==3.1.1
mysqlclient==2.0.3
numpy==1.25.0
opencv-python==4.8.0.74
pandas==2.0.3
Pillow==8.1.0
pycparser==2.20
Pygments==2.4.2
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
python-dateutil==2.8.2
pytz==2020.1
requests==2.22.0
six==1.15.0
sqlparse==0.3.1
tzdata==2023.3
urllib3==1.25.9
user-agent==0.1.9
