{% extends "base.html" %}

{% block content %}
{% load staticfiles %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
<div class="row">
        <section class="col-md-12">
          <h1 class="page header">Make Connection</h1>
        </section>
    <hr>
    <div class="row">
        <div class="form-group">
            <form method="post" name="Form" enctype="multipart/form-data" action="">{% csrf_token %}
            <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Device Name</label>
                                </div>
                               <!-- <div class="row-col-md-6">
                                    {{ form.arduinoid }}
                                </div>  -->
                               <!-- <select name="type">
  <option value="Arduino uno 001">Arduino uno 001</option>
  <option value="Arduino Mega 002">Arduino Mega 002</option>
  <option value="Arduino Nano 003">Arduino Nano 003</option>
  <option value="Arduino Mini 004">Arduino Mini 004</option>
</select> -->
                                <select name = "arduino_id" class="form-control" id="arduino_dd">
{% for element in objectlist %}
<option value={{ element.id }}>{{ element.type }}
                                    {% endfor %}
</select>
                            </div>
                        </div>
                <div class="form-group">
                  <!--  <a href="/sensor" class="btn">Make Connection</a> -->
                    <!--<input type="submit" class="btn btn-primary" id="bon" value="Make Connection"/>-->
                    <!--<input id = "bon" type= "submit"  value="click"  />-->

                    <div class="clear">
   <button type="submit" value="submit" name="subscribe" id="bon" class="submit- btn btn-default">Submit</button>
</div>

                        </div>
            </form>

        </div>
    </div>
</div>
</div>

<script>
    $("#bon").click(function(){
        id= $("#arduino_dd").val();
        <!--alert(id);-->
        pay(id);
        cls();
    });
    function pay(id)
    {
    window.open('http://localhost:8000/sensor/arduino_getdata/'+id);
    }
    function cls()
    {
    window.location =('https://login.mailchimp.com/signup');
    alert('dsa');
    }

</script>




<!--<script>-->
    <!--$("#bon").click(function(){-->
        <!--pay();-->
        <!--cls();-->
    <!--});-->
    <!--function pay()-->
    <!--{-->
            <!--a=1;-->
            <!--b=23;-->
            <!--//alert(a+b);-->
            <!--window.open("http://localhost:8000/sensor/node_manage");-->
    <!--}-->
    <!--function cls()    {-->
            <!--a=1;-->
            <!--b=23;-->
            <!--//alert(a-b);-->
            <!--window.open("http://wwww.oms.lexiconcpl.com");-->
    <!--}-->
<!--</script>-->

<div class="clear">
   <button type="submit" value="submit" name="subscribe" id="mc-embedded-subscribe" class="submit- btn btn-default" onclick="window.open('https://login.mailchimp.com/signup'), window.location = 'http://localhost:8000/sensor/arduino_getdata' ">Submit</button>
</div>

{% endblock %}




