{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h3 class="text-center page-header">Accident Record Management</h3>
                <div class="row" style="background-color: lightblue;">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <form method="post" id="RescueForm" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Select Mine</label>
                                    </div>
                                    <div class="col-md-8"><span id="mine_id_span">{{ form1.mine }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Choose Shift</label>
                                    </div>
                                    <div class="col-md-8"> <span id="shift_id_span">
                                        <select required name="shift_id"
                                                                                            id="id_shift_id"
                                                                                            class="form-control"><option
                                            value="">------------------Select Shift------------------</option></select></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Situation of Mines</label>
                                    </div>
                                    <div class="col-md-8"><span>{{ form1.situation_mines }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Name and postal address of owner</label>
                                    </div>
                                    <div class="col-md-8"><span>{{ form1.name_address }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Village Post Office Police Station Sub-Division(Taluqa) District
                                            Pin</label>
                                    </div>
                                    <div class="col-md-8"><span>{{ form1.vil_pin }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Date and hour of accident</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">

                                            <div class='input-group date' id='datetimepicker'>
{#                                                <input type='text' class="form-control"/> #}
                                                {{ form1.date_hour_accident }}
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
											    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Place of location of accident in mine/rescue station/rescue room*</label>
                                    </div>
                                    <div class="col-md-8"><span>{{ form1.accident_location }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Number of person(s) Killed</label>
                                    </div>
                                    <div class="col-md-8">
                                      <span>{{ form1.killed_num }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Number of person(s) Seriously Injured</label>
                                    </div>
                                    <div class="col-md-8"><span>{{ form1.injured_num }}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label>Cause and description of accident</label>
                                    </div>
                                    <div class="col-md-8"><span>{{ form1.accident_cause_description }}</span>
                                    </div>
                                </div>
                            </div>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border"><span style="color: blue; ">Employees</span>
                                </legend>
                                <div class="form-group col-md-12">
                                    <div class="col-md-3">
                                        <label>Person Name(s)</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Killed or Injured</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Nature of injured/cause of death</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-3">
                                        {{ form2.employee_name}}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                   name="employee_killed_or_injured"
                                                   id="exampleRadios1" value="KILLED" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Killed
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                   name="employee_killed_or_injured"
                                                   id="exampleRadios2" value="INJURED">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Injured
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form2.employee_cause }}
                                    </div>

                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-primary" id="add_employee_row">Add Row
                                        </button>
                                    </div>
                                </div>
                                <div id="employee_data"></div>

                            </fieldset>
                            <fieldset class="scheduler-border">
                                <legend class="scheduler-border"><span style="color: blue; ">Others</span>
                                </legend>
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                        <label>Person Name(s)</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Killed or Injured</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Sex</label>
                                    </div>
                                    <div class="col-md-1">
                                        <label>Age</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Nature of employment</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label>Nature of injured/cause of death</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-2">
                                       {{ form3.person_name }}
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="killed_or_injured"
                                                   id="exampleRadios1" value="KILLED" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Killed
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="killed_or_injured"
                                                   id="exampleRadios2" value="INJURED">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Injured
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="sex"
                                                   id="exampleRadios1" value="M" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                M
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="sex"
                                                   id="exampleRadios2" value="F">
                                            <label class="form-check-label" for="exampleRadios2">
                                                F
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        {{ form3.age }}
                                    </div>
                                    <div class="col-md-2">
                                       {{ form3.nature_of_employment }}
                                    </div>
                                    <div class="col-md-3">
                                       {{ form3.others_cause }}
                                    </div>
                                    <div class="col-md-1">
                                        <button type="button" class="btn btn-primary" id="add_others_row">Add Row
                                        </button>
                                    </div>
                                </div>
                                <div id="others_data"></div>

                            </fieldset>
                            <div class="text-center">
                                <button type="submit" id="Rescue_Record_Submit" class="btn btn-primary"
                                        value="Submit Records">Submit Records
                                </button>
                                &nbsp;&nbsp;&nbsp;
                                <a href="{% url 'Training_Rescue_Accident:Accident_Manage' %}" class="btn btn-primary"
                                   role="button">Show Records</a>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $(function () {
                var date_from = $('#datetimepicker').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm:ss'
                });
            });
            $('.js-example-basic-multiple').select2();
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-bottom-full-width",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "100",
                "timeOut": "3000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
            }

            $(document.body).on('blur', '#id_date_parent', function () {
                $(".date_fill").val($(this).val());
            });
            //FETCH MINE DETAILS
            $("#id_mine").change(function () {
                console.log('shits here');
                let mine_id = $(this).val();
                Fetch_Miners(mine_id);
                $.ajax({
                    type: "get",
                    url: "{% url 'attendance:fetch_shift' %}",
                    data: {
                        'id': mine_id
                    },
                    success: function (data) {
                        console.log('shits',data);
                        fill_dropdown_shift(data.result);
                        return data;
                    },
                    error: function () {
                        //console.log("Error!");
                    }
                });
            });

            //POPULATE SHIFT DROP DOWN
            function fill_dropdown_shift(Shift) {
                $("#id_shift_id:not(:first-child)").empty();
                for (let Sh in Shift) {
                    if (Shift.hasOwnProperty(Sh)) {
                        $("#id_shift_id").append($("<option />").val(Shift[Sh].id).text(Shift[Sh].shift_name));
                    }
                }
            }

            function Fetch_Miners(mine_id) {
                $.ajax({
                    type: "get",
                    url: "{% url 'Training_Rescue_Accident:fetch_miners_ajax' %}",
                    data: {
                        'mine_id': mine_id
                    },
                    success: function (data) {

                        if (data.hasOwnProperty('result')) {
                            let employees = data.result;
                            $("select#id_injured_person_name").empty();
                            $("select#id_killed_employees_name").empty();
                            for (let emp in employees) {
                                if (employees.hasOwnProperty(emp)) {
                                    $("select#id_injured_person_name").append($("<option />").val(employees[emp].id).text(employees[emp].name));
                                    $("select#id_killed_employees_name").append($("<option />").val(employees[emp].id).text(employees[emp].name));
                                }
                            }

                        }
                        return data;
                    },
                    error: function () {
                        console.log("Error!");
                    }
                });
            }

            let previousdata = "";
            $('button#add_employee_row').click(function () {
                let name_id = $("#id_employee_name").val();
                let name_text = $("#id_employee_name option:selected").text();
                let killed_or_injured = $('input[name=employee_killed_or_injured]:checked').val();
                let cause = $('#id_employee_cause').val();
                let currendata = name_id + name_text + killed_or_injured + cause;
                if (previousdata == currendata) return false;
                previousdata = currendata;
                if (isEmpty(name_id) || isEmpty(killed_or_injured) || isEmpty(cause)) return false;
                let markup = '<div class="form-group col-md-12">' +
                    '<div class="col-md-3">' +
                    '<input type="hidden" name="employee_id_post"  value="' + name_id + '" class="form-control" required=""id="id_accident_location" autocomplete="off">' +
                    '<input type="text" name="employee_name_post" value="' + name_text + '" class="form-control" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" name="employee_killed_or_injured_post" value="' + killed_or_injured + '" class="form-control" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-6">' +
                    '<input type="text" name="employee_cause_post" class="form-control" value="' + cause + '" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-1">' +
                    '<span class="glyphicon glyphicon-trash delete-row" data-toggle="tooltip" title="" data-original-title="Click here to delete employee"></span>' +
                    '</div></div>';
                $("#employee_data").append(markup);


                $("span.delete-row").click(function () {
                    $(this).parent().parent().remove();
                    previousdata = "";

                });
            });

            $('button#add_others_row').click(function () {
                let name_text = $("#id_person_name").val();
                let killed_or_injured = $('input[name=killed_or_injured]:checked').val();
                let cause = $('#id_others_cause').val();
                let sex = $('input[name=sex]:checked').val()
                let age = $('#id_age').val();

                let nature_of_employment = $('#id_nature_of_employment').val();
                let currendata = name_text + killed_or_injured + cause + sex + age + nature_of_employment;

                if (previousdata == currendata) return false;

                previousdata = currendata;

                if (isEmpty(name_text) || isEmpty(age) || isEmpty(cause) || isEmpty(nature_of_employment)) return false;

                let markup = '<div class="form-group col-md-12">' +
                    '<div class="col-md-2">' +
                    '<input type="text" name="person_name_post" value="' + name_text + '" class="form-control" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" name="others_killed_or_injured_post" value="' + killed_or_injured + '" class="form-control" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-1">' +
                    '<input type="text" name="sex_post" class="form-control" value="' + sex + '" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-1">' +
                    '<input type="text" name="age_post" class="form-control" value="' + age + '" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-2">' +
                    '<input type="text" name="nature_of_employment_post" class="form-control" value="' + nature_of_employment + '" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<input type="text" name="others_cause_post" class="form-control" value="' + cause + '" required=""id="id_accident_location" autocomplete="off">' +
                    '</div>' +
                    '<div class="col-md-1">' +
                    '<span class="glyphicon glyphicon-trash delete-row" data-toggle="tooltip" title="" data-original-title="Click here to delete employee"></span>' +
                    '</div></div>';
                $("#others_data").append(markup);


                $("span.delete-row").click(function () {
                    $(this).parent().parent().remove()
                    previousdata = "";
                });
            });
        });

    </script>
{% endblock %}