{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-header">Accident Record Management</h3>
            <form method="post" action="{% url 'Training_Rescue_Accident:Rescue_index' %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="table-responsive">
                <table class="table table-striped table-bordered responsive" id="att_table">
                    <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Mine</th>
                        <th>Shift</th>
                        <th>Situation of Mines</th>
                        <th>Name and postal address of owner</th>
                        <th>Village Post Office Police Station Sub-Division(Taluqa) District Pin</th>
                        <th>Date and hour of accident</th>
                        <th>Place of location of accident in mine/rescue station/rescue room</th>
                        <th>Number of person(s) Killed</th>
                        <th>Number of person(s) Seriously Injured</th>
                        <th>Cause and description of accident</th>
                        <th>Name of person(s) killed/injured</th>
                        <th>Nature of employment</th>
                        <th>Age</th>
                        <th>Sex</th>
                        <th>Nature of injured/cause of death</th>

                    </tr>
                    </thead>
                        <tbody>
                            {% for key,emp_show in dt_store.items %}
                            <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{emp_show.mine_name}}</td>
                            <td>{{emp_show.shift_name}}</td>
                            <td>{{emp_show.situation_mines}}</td>
                            <td>{{emp_show.name_address}}</td>
                            <td>{{emp_show.vil_pin}}</td>
                            <td>{{emp_show.date_hour_accident}}</td>
                            <td>{{emp_show.accident_location}}</td>
                            <td>{{emp_show.killed_num}}</td>
                            <td>{{emp_show.injured_num}}</td>
                            <td>{{emp_show.}}accident_cause_description</td>
                            <td>{{emp_show.person_names}}</td>
                            <td>{{emp_show.emp_nat}}</td>
                            <td>{{emp_show.age}}</td>
                            <td>{{emp_show.sex}}</td>
                            <td>{{emp_show.injury_death_cause}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            </form>
            <center>
                <hr>
                    <a href="{% url 'Training_Rescue_Accident:Rescue_index' %}" class="btn btn-primary" role="button">Go Back</a>
                <hr>
            </center>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    $('#att_table').DataTable( {
        "scrollX": true
    } );
} );
</script>
{% endblock %}