{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Manage Training Attendance Report</h2>
    <hr/>
  <div class="text-center">
      <a href="/Training_Rescue_Accident"><span class="btn btn-success">Add Employee Training Attendance</span></a>
  </div>
    <hr/>
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>Sl.No.</th>
            <th>Mine Name</th>
            <th>Shift</th>
            <th>Training Date</th>
            <th>Training Type</th>
            <th>Training Tittle</th>
            <th>Training Desc</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
         {% for obj in return_data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{obj.mine_id}}</td>
                <td>{{obj.shift_id}}</td>
                <td>{{obj.training_date}}</td>
                <td>{{obj.training_type}}</td>
                <td>{{obj.training_tittle}}</td>
                <td>{{obj.training_desc}}</td>
                <td><a class="btn btn-info" href="/Training_Rescue_Accident/ViewEmployeeTrainingAttendance/{{ obj.id }}"> View <span class="glyphicon glyphicon-list"></span></a></td>
                <td><a class="btn btn-warning" href="/Training_Rescue_Accident/EditEmployeeTrainingAttendance/{{ obj.id }}"> Edit <span class="glyphicon glyphicon-pencil"></span></a></td>
                <td>
                    <div class="btn btn-danger delete" data-url="{% url 'Training_Rescue_Accident:DeleteEmployeeTrainingAttendance' obj.id %}">
                        Delete
                        <span class="glyphicon glyphicon-trash"></span>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Alert !!!</h4>
        </div>
        <div class="modal-body">
          <p>Data will be deleted permanently. Are you want to delete ?</p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-danger pull-left" href="" id="fill_url">Delete</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>

    </div>
  </div>
<script>
    $(document).ready(function () {
            $(document.body).on("click", ".delete", function () {

                $("#sureDelete").attr("href", $(this).data('url'));
                $('#update_info').modal('show');
            });
        });
</script>
{% endblock %}