{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="container">
        <form method="post" id="form_submit" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Employee Training Attendance Management
                        <small> Here we can save training attendance of employee</small>
                    </h3>

                    <div class="row">
                        <div class="col-md-3">
                            <label> Select Mine </label><span id="mine_id_span">{{ form.mine_id }}</span><br>
                        </div>
                        <div class="col-md-3">
                            <label> Choose Shift </label> <span id="shift_id_span">
                        {{ form.shift_id }}
                    </span><br>
                        </div>
                        <div class="col-md-3">
                            <label>Date</label>
                            {{ form.training_date }}
                            {#                        <div class="form-group">#}
                            {#                            <div class='input-group date' id='datetimepicker'>#}
                            {#                                <input type='text' class="form-control" />#}
                            {#                                <span class="input-group-addon">#}
                            {#                                    <span class="glyphicon glyphicon-calendar"></span>#}
                            {#                                </span>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>
                        <div class="col-md-3">
                            <label> Training Type </label><br>
                            {{ form.training_type }}
                            {#                        <input type='text' name='training_type' class='form-control'>#}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label> Training Tittle </label><br>
                            {{ form.training_tittle }}
                            {#                        <input type='text' name='training_tittle' class='form-control'>#}
                        </div>
                        <div class="col-md-6">
                            <label> Training Description </label><br>
                            {{ form.training_desc }}
                            {#                        <textarea class="form-control" rows="5" id="comment" name="training_desc"></textarea>#}
                        </div>
                        <div class="col-md-3">
                            <label> Action </label><br>
                            <input type="button" id="show_emp" class="btn btn-primary" value="show employee"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">

                    {% csrf_token %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered responsive" id="content">
                            <thead>
                            <tr>
                                <th>SL No.</th>
                                <th><input type="checkbox" id="checkAll"> Present All</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Father's Name</th>
                                <th>Mobile</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody id="table_att">

                            </tbody>
                        </table>
                    </div>
                    <input type="submit" id="btn_show" class="btn btn-primary" value="Submit Attendance"/>
                </div>
            </div>
        </form>
    </div>
    <script>

        $(document).ready(function () {

            $('#id_mine').addClass('form-control');
            $('#id_training_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });

            $("#checkAll").click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
        });
        $(document.body).on('blur', '#id_date_parent', function () {
            $(".date_fill").val($(this).val());
        });

        //FETCH MINE DETAILS
        $("#id_mine_id").change(function () {
            mine_id = $(this).val();
            $.ajax({
                type: "get",
                url: "{% url 'attendance:fetch_shift' %}",
                data: {
                    'id': mine_id
                },
                success: function (data) {
                    //console.log(data.result);
                    //alert(data.result);
                    fill_dropdown_shift(data.result, "id_shift_id");
                    return data;
                },
                error: function () {
                    //console.log("Error!");
                }
            });

        });

        //POPULATE SHIFT DROP DOWN
        function fill_dropdown_shift(result, id) {
            $("#" + id).html("<option value='0'>--Choose Shift--</option>");
            for (index = 0; index < result.length; index++) {
                $("#" + id).append($("<option />").val(result[index].id).text(result[index].shift_name));
            }
        }

        //POPULATE TABLE ON SHIFT SELECT - JQUERY
        $("#show_emp").click(function () {
            shift_id = $("#id_shift_id").val();
            $.ajax({
                type: "get",
                url: "{% url 'attendance:fetch_employee_list' %}",
                data: {
                    'id': shift_id
                },
                success: function (data) {
                    console.log(data.result);
                    //alert(data.result);
                    fill_details_table(data.result);
                    return data;
                },
                error: function () {
                    console.log("Error!");
                }
            });
        });

        function fill_details_table(result) {
            $("#details_table").html("<div></div>");
            sl = 1;
            for (index = 0; index < result.length; index++) {
                $("#table_att").append("<tr>" +
                    "<td>" + sl + "</td>" +
                    "<td>" +
                    "<div class=\"checkbox\">" +
                    "<label><input class='present' type='checkbox' class='is_present' name='is_present'  value='Yes'>Present</label>" +
                    "</div>" +
                    "</td>" +
                    "<td><input type='hidden' name='emp_id' value=" + result[index].emp_id + ">" + result[index].emp_name + "</td>" +
                    "<td>" + result[index].emp_designation + "</td>" +
                    "<td>" + result[index].emp_father_name + "</td>" +
                    "<td>" + result[index].emp_mob + "</td>" +
                    "<td>" + result[index].emp_email + "</td>" +
                    "</tr>");
                sl++;
            }
        }

        $("#mine_id_span, #show_emp").click(function () {
            $("#table_att").empty();
        });


    $(document).on('submit','#form_submit',function(){
        var $chbx = $("input[name='is_present']");
        $chbx.each(function() {
            if ($(this).is(':checked')) {
                $(this).val("Yes");
            } else {
                $(this).val("No");
            }
        });
       $('input:checkbox').not(this).prop('checked', this.checked);
    });
    </script>
{% endblock %}