{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<style>
    .container{width:90% !important;}
</style>
<div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Employee Training Record Management</h3>
                        <form method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="col-md-4">
                                <label> Select Mine </label><span id="mine_id_span">{{form.mine}}</span><br>
                            </div>
                            <div class="col-md-4">
                                <label> Choose Shift </label> <span id="shift_id_span"><select name="shift_id" id="shift_id" class="form-control"><option value="0">  --------- </option></select></span><br>
                            </div>

                            <div class="col-md-4">
                                <div class="col-md-12">
                                     <div class="col-md-8">
                                         <label >Date</label>
                                         <div class="form-group">
                                            <div class='input-group date' id='datetimepicker'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                         </div>
                                     </div>
                                 </div>
<!--                                <label>Date</label> {{form.date_parent}}&lt;!&ndash;-<input type="text" id="date_parent" placeholder=" -&#45;&#45; Select Date -&#45;&#45;" class="form-control"/>&#45;&#45;&ndash;&gt;<br><br>-->
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <form method="post" action="{% url 'Training_Rescue_Accident:add_Training_Rescue_Accident' %}" enctype="multipart/form-data">{% csrf_token %}
                                <div class="table-responsive">
                                <table class="table table-striped table-bordered responsive" id="content">
                                <thead>
                                 <tr>
                                    <th>SL No.</th>
                                    <th>Mine</th>
                                    <th>Shift</th>
                                    <th>Employee Name</th>
                                    <th>Training Type</th>
                                    <th>Training Date</th>
                                    <th>Present / Absent</th>
                                    <th>Absent From</th>
                                    <th>Absent To</th>
                                    <th>No. of Training Attended</th>
                                    <th>Remarks</th>
                                </tr>
                                </thead>
                                <tbody id="table_att">
                                    <!--DATA IS HERE-->
                                </tbody>
                                </table>
                                </div>
                                <hr>
                                <input type="submit" id="btn_show" class="btn btn-primary" value="Submit Records"/>
                                &nbsp;&nbsp;&nbsp;<a href="{% url 'Training_Rescue_Accident:Training_Rescue_Accident_Manage' %}" class="btn btn-primary" role="button">Show Records</a>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
    </div>
<script>
    $(document).ready(function(){

        $('#id_mine').addClass('form-control');
        $('#datetimepicker').datetimepicker({
             format: 'YYYY-MM-DD'
        });

    });
    $(document.body).on('blur','#id_date_parent',function(){
        $(".date_fill").val($(this).val());
     });

    //FETCH MINE DETAILS
    $("#id_mine").click(function(){
        mine_id=$(this).val();
        $.ajax({
            type:"get",
            url: "{% url 'attendance:fetch_shift' %}",
            data: {
             'id': mine_id
            },
            success: function(data) {
                //console.log(data.result);
                //alert(data.result);
                fill_dropdown_shift(data.result);
                return data;
            },
            error: function(){
                //console.log("Error!");
            }
          });

    });

    //POPULATE SHIFT DROP DOWN
    function fill_dropdown_shift(result){
        $("#shift_id").html("<option value='0'>--Choose Shift--</option>");
        for (index = 0; index < result.length; index++) {
            //alert(result[index]);
            var str_array = result[index].split(',');
            $("#shift_id").append($("<option />").val(str_array[0]).text(str_array[1] + "("+str_array[3]+" - "+str_array[4]+")"));
        }
    }

    //POPULATE TABLE ON SHIFT SELECT - JQUERY
    $("#shift_id").change(function(){
        shift_id=$("#shift_id").val();
        //alert(shift_id);
        $.ajax({
            type:"get",
            url: "{% url 'attendance:fetch_employee_list' %}",
            data: {
             'id': shift_id
            },
            success: function(data) {
                console.log(data.result);
                //alert(data.result);
                fill_details_table(data.result);
                return data;
            },
            error: function(){
                console.log("Error!");
            }
          });
    });

    function fill_details_table(result){
        $("#details_table").html("<div></div>");
        sl=1;
        for (index = 0; index < result.length; index++) {
            //alert(result[index]);
            var str_array = result[index].split(',');
            $("#table_att").append("<tr><td>"+sl+"</td><td><input type='hidden' name='mine_id' value="+str_array[2]+">"+str_array[3]+"</td><td><input type='hidden' name='shift_id' value="+str_array[2]+">"+str_array[7]+"</td><td><input type='hidden' name='emp_id' value="+str_array[1]+">"+str_array[4]+"</td><td><input type='text' name='training_type' class='form-control'></td><td><input type='text' name='training_date' class='form-control date_fill'></td><td><select  name='is_ab_pr' class='form-control is_ab_pr'><option class='form-control' value='Present'>Present</option><option value='Absent'>Absent</option></select></td><td><input type='text' class='form-control training_ab_pr_from' name='training_ab_pr_from'></td><td><input type='text' class='form-control training_ab_pr_to' name='training_ab_pr_to'></td><td><input type='number' class='form-control' name='training_count'></td><td><input type='text' class='form-control' name='training_remarks'></td></tr>");
                //alert(str_array[0] + "," +str_array[1] + "," +str_array[2] + "," +str_array[3] + "," +str_array[4] + "," +str_array[5]);
            sl++;
            $('.is_ab_pr').parent('td').next('td').find('.training_ab_pr_from').attr('readonly', true);
            $('.is_ab_pr').parent('td').next('td').next('td').find('.training_ab_pr_to').attr('readonly', true);
        }
    }

    $("#mine_id_span, #shift_id_span").click(function() {
        $( "#table_att" ).empty();
        })

    $(document.body).on('change','.is_ab_pr',function(){
         if($(this).val() == "Present"){
            $(this).parent('td').next('td').find('.training_ab_pr_from').val('None').attr('readonly', true);
            $(this).parent('td').next('td').next('td').find('.training_ab_pr_to').attr('readonly', true);
            }else{
             $(this).parent('td').next('td').find('.training_ab_pr_from').val('None').removeAttr('readonly', false);
             $(this).parent('td').next('td').next('td').find('.training_ab_pr_to').removeAttr('readonly', false);
            }
    });
</script>
{% endblock %}