{% extends "base.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="container">
        <form method="post" id="form_submit" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header">Employee Training Attendance Management
                        <small> Here we can save training attendance of employee</small>
                    </h3>

                    <div class="row">
                        <div class="col-md-3">
                            <label> Select Mine </label><span id="mine_id_span">{{ form.mine_id }}</span><br>
                        </div>
                        <div class="col-md-3">
                            <label> Choose Shift </label>
                            <span id="shift_id_span">
                                <select name="shift_id" id="shift_id" class="form-control">
                                    <option value="0">  --------- </option>
                                </select>
                            </span>
                            <br>
                        </div>
                        <div class="col-md-3">
                            <label>Date</label>
                            {{ form.training_date }}
                        </div>
                        <div class="col-md-3">
                            <label> Training Type </label><br>
                            {{ form.training_type }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label> Training Tittle </label><br>
                            {{ form.training_tittle }}
                        </div>
                        <div class="col-md-7">
                            <label> Training Description </label><br>
                            {{ form.training_desc }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    {#                    <div class="table-responsive">#}
                    <table class="table table-bordered" id="dataTable1">
                        <thead>
                        <tr>
                            <th>SL No.</th>
                            <th><input type="checkbox" id="checkAll"> Present All</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Father's Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody id="table_att">

                        </tbody>
                    </table>
                    <input type="submit" id="btn_show" class="btn btn-primary" value="Submit Attendance"/>
                </div>
            </div>
        </form>
    </div>
    <script>

        $(document).ready(function () {

            $('#id_training_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });

            $("#checkAll").click(function () {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
            $(document.body).on('blur', '#id_date_parent', function () {
                $(".date_fill").val($(this).val());
            });

            //FETCH MINE DETAILS
            $("#id_mine_id").change(function () {
                let mine_id = $(this).val();
                $.ajax({
                    type: "get",
                    url: "{% url 'attendance:fetch_shift' %}",
                    data: {
                        'id': mine_id
                    },
                    success: function (data) {
                        if (data.hasOwnProperty('result')) {
                            let Shift = data.result;
                            fill_dropdown_shift(Shift);
                        }
                        return data;
                    },
                    error: function () {
                        //console.log("Error!");
                    }
                });

            });

            //POPULATE SHIFT DROP DOWN
            function fill_dropdown_shift(Shift) {
                $("#shift_id:not(:first-child)").empty();
                for (let Sh in Shift) {
                    if (Shift.hasOwnProperty(Sh)) {
                        $("#shift_id").append($("<option />").val(Shift[Sh].id).text(Shift[Sh].shift_name));
                    }
                }
            }

            //POPULATE TABLE ON SHIFT SELECT - JQUERY
            $("#shift_id").change(function () {
                let shift_id = $(this).val();
                let mine_id = $("#id_mine_id").val();
                console.log(mine_id, shift_id);
                $.ajax({
                    type: "get",
                    url: "{% url 'attendance:fetch_employee_list' %}",
                    data: {
                        'mine_id': mine_id,
                        'shift_id': shift_id
                    },
                    beforeSend: function () {
                    },
                    success: function (data) {
                        console.log('data', data);
                        if (data.hasOwnProperty('result')) {
                            fill_details_table(data.result);
                            $('.leave').prop('disabled', true);
                            $('.leave_no').prop('disabled', true);
                        }
                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });

            });

            function fill_details_table(Employee) {
                $("#details_table").html("<div></div>");
                let sl = 1;
                for (let emp in Employee) {
                    if (Employee.hasOwnProperty(emp)) {
                        $("#table_att").append("<tr>" +
                            "<td>" + sl + "</td>" +
                            "<td><div class=\"checkbox\">" +
                            "<label><input class='present' type='checkbox' class='is_present' name='is_present'  value='Yes'>Present</label>" +
                            "</div>" +
                            "</td>" +
                            "<td><input type='hidden' name='emp_id' value=" + Employee[emp].emp_id + ">" + Employee[emp].emp_name + "</td>" +
                            "<td>" + Employee[emp].designation + "</td>" +
                            "<td>" + Employee[emp].father_name + "</td>" +
                            "<td>" + Employee[emp].mobile + "</td>" +
                            "<td>" + Employee[emp].email + "</td>" +
                            "</tr>");
                        sl++;
                    }
                }
            }
            $(document).on('submit', '#form_submit', function () {
                var $chbx = $("input[name='is_present']");
                $chbx.each(function () {
                    if ($(this).is(":checkbox:not(:checked)")) {
                        $(this).attr("value", "No");
                        $(this).attr("type", "hidden");
                    }
                });
            });
        });
    </script>
{% endblock %}