{% extends "base.html" %}

{% block content %}
    <div class="container">
        <section class="col-md-12">
            <h1 class="page-header">Sensor Live Graph:</h1>
            <div class="form-group">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label for="" class="" id="">Choose Mine:</label>
                                </div>
                                <div class="col-md-4">
                                    {{ form.mine_id }}
                                </div>
                                <div class="col-md-2">
                                    <label for="id_mode" class="" id="id_mode_id">Choose Mode:</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="id_mode">
                                        <option value="">--Select Mode--</option>
                                        <option value="0">Node Wise</option>
                                        <option value="1">Sensor Wise</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class=" col-md-12">
                                <div class="col-md-2">

                                    <label for="id_list" class="" id="node_id">Choose :</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="id_list">
                                        <option>----------</option>
                                    </select>
                                </div>
                                <div class="col-md-2">

                                    <label for="id_sensor_list" class="" id="sensor_id">Choose :</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="id_sensor_list">
                                        <option>----------</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">

                <div class="text-center">
                    <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:15px;">
                <div class="table-responsive">
                    <div id="graph"></div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:15px;">
                <div class="table-responsive" id="table">
                </div>
            </div>
        </section>
    </div>

    <script>
        $(document).ready(function () {
            $("#id_mine_id").addClass('form-control');
            $('#id_sensor_list').hide();
            $('#sensor_id').hide();

            $("#id_mode").on("change", function () {

                $('table').empty();
                let mode = $("#id_mode").val();
                if (!isEmpty(mode)) {
                    if (mode == "Node Wise" || mode == 0) {

                        let mine_id = $("#id_mine_id").val();

                        $.ajax({
                            type: "get",
                            url: "{% url 'sensor:fetch_node_ajax' %}",
                            data: {
                                'id': mine_id
                            },
                            success: function (data) {
                                if (data.hasOwnProperty('result')) {
                                    fill_dropdown(data.result);
                                }
                                return data;
                            },
                            error: function () {
                                console.log("Something Went Wrong!");
                            }
                        });
                    } else if (mode == "Sensor Wise" || mode == 1) {
                        $('#id_sensor_list').hide();
                        $('#sensor_id').hide();
                        function_fill_dropdown_sensor_all();
                    }
                }
            });

            function fill_dropdown(nodes) {
                $("#id_list").empty();
                if (!isEmpty(nodes)) {
                    $("#id_list").append($("<option />").val('').text('--Select Node--'));
                    for (let node in nodes) {
                        if (nodes.hasOwnProperty(node)) {
                            $("#id_list").append($("<option />").val(nodes[node].id).text(nodes[node].node_name));
                        }
                    }
                } else {
                    $("#id_list").append($("<option />").val('').text('No Available Node'));
                }
            }

            $("#id_list").on("change", function () {

                let mode = $("#id_mode").val();
                let node_id = this.value;
                if (!isEmpty(mode)) {
                    if (mode == "Node Wise" || mode == 0) {
                        $("#sensor_id").show();
                        $("#id_sensor_list").show();
                    }

                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:fetch_sensor_ajax' %}",
                        data: {
                            'id': node_id
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result')) {
                                fill_dropdown_sensor(data.result);
                            }
                            return data;
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        }
                    });
                }
            });

            function fill_dropdown_sensor(Sensor) {
                $("#id_sensor_list").empty();
                if (!isEmpty(Sensor)) {
                    $("#id_sensor_list").append($("<option />").val('').text('--Select Sensor--'));
                    for (s in Sensor) {
                        if (Sensor.hasOwnProperty(s)) {
                            $("#id_sensor_list").append($("<option />").val(Sensor[s].id).text(Sensor[s].sensor_name));
                        }
                    }
                    $("#id_sensor_list").append($("<option />").val(0).text('All Sensor'));
                } else {
                    $("#id_sensor_list").append($("<option />").val('').text('No Available Sensor'));
                }
            }


            function function_fill_dropdown_sensor_all() {

                let mine_id = $('#id_mine_id').val();
                if (!isEmpty(mine_id)) {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:fetch_sensors_list' %}",
                        data: {
                            'id': mine_id
                        },
                        beforeSend: function () {
                            $("#id_list").empty();
                        },
                        success: function (data) {
                            let Sensors = data.result;
                            if (data.hasOwnProperty('result')) {
                                if (isEmpty(Sensors)) {
                                    $("#id_list").append($("<option />").val('').text('No Available Sensor'));
                                } else {
                                    $("#id_list").append($("<option />").val('').text('Select Sensor'));
                                }
                                for (let s in Sensors) {
                                    if (Sensors.hasOwnProperty(s)) {
                                        $("#id_list").append($("<option />").val(Sensors[s].sensor_name).text(Sensors[s].sensor_name));
                                    }
                                }
                            }
                            return data;
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        }
                    });
                }
            }

            let warnings = []
            $("#btn_show").click(function () {
                let mode = $("#id_mode").val();
                if (!isEmpty(mode)) {
                    if (mode == 'Node Wise' || mode == 0) {
                        let sensor_id = $("#id_sensor_list").val();
                        let node_id = $("#id_list").val();
                        if (sensor_id == '0') {
                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensor_values_all_ajax' %}",
                                data: {
                                    'id': node_id
                                },
                                beforeSend: function () {
                                    $("#btn_show").val("Please wait...");
                                    $("#btn_show").prop('disabled', true);
                                },
                                success: function (data) {
                                    if (data.hasOwnProperty('result')) {
                                        fill_all(node_id, data.result);
                                    }
                                    return data;
                                },
                                error: function () {

                                    console.log("Something Went Wrong!");
                                }
                            });


                        } else {
                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensor_ajax_sensor' %}",
                                data: {
                                    'id': sensor_id
                                },
                                beforeSend: function () {
                                    $("#btn_show").val("Please wait...");
                                    $("#btn_show").prop('disabled', true);
                                },
                                success: function (data) {
                                    if (data.hasOwnProperty('result')) {
                                        let Sensor = data.result;
                                        fill_graph_sensor(Sensor);
                                    }
                                    return data;
                                },
                                error: function () {
                                    console.log("Something Went Wrong!");
                                }
                            });
                        }
                    } else if (mode == "Sensor Wise" || mode == 1) {
                        let sensor_name = $("#id_list").val();
                        let mine_id = $("#id_mine_id").val();
                        fill_graph_sensor_node(sensor_name, mine_id);
                    }
                }
            });

            function fill_graph_sensor(SensorInit) {
                for(let s in SensorInit) {
                    if(SensorInit.hasOwnProperty(s)) {
                        $('<div>', {id: "X" + SensorInit.id}).appendTo($("#table"));
                        $('<br><br>').appendTo($("#table"));
                    }
                }
                function rand() {
                    x = 0;
                    return x;
                }

                var time = new Date();
                var data = [{
                    x: [time],
                    y: [rand()],
                    mode: 'lines+markers',
                    marker: {color: SensorInit.color, size: 8},
                    line: {width: 4},
                    name: '<b>No Data Found</b>'

                }]
                var layout = {
                    title: {
                        text: '<b>Live Sensor<i>(' + SensorInit.sensor_name + ')</i>Graph</b>',
                        font: {
                            family: 'Courier New, monospace',
                            size: 34

                        },
                        xref: 'paper',
                        x: 0.05,

                    },
                    xaxis: {
                        title: {
                            text: '<b>Time</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        },
                    },
                    yaxis: {
                        title: {
                            text: '<b>' + SensorInit.unit + '</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        }
                    },
                    showlegend: true,
                    legend: {
                        x: 4,
                        y: 4
                    }
                };

                Plotly.react('X' + SensorInit.id, data, layout);

                (function sensorGraph() {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:fetch_sensor_values_ajax' %}",
                        data: {
                            'id': SensorInit.id
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result')) {
                                data = data.result;
                                function getData() {
                                    let x = data.sensor_value;
                                    return x;
                                }
                                ShowWarning(SensorInit, getData());
                            }
                        },
                        complete: function () {
                            setTimeout(sensorGraph, 1000);
                        }
                    });
                })();
            }

            ////////////////////////////////////////////////////

            function fill_all(node_id, SensorInit) {
                console.log('all', SensorInit);
                for (let s in SensorInit) {
                    if (SensorInit.hasOwnProperty(s)) {
                        $('<div>', {id: "X" + SensorInit[s].id}).appendTo($("#table"));
                        $('<br><br>').appendTo($("#table"));
                    }
                }

                function rand() {
                    x = 0;
                    return x;
                }

                for (let s in SensorInit) {
                    if (SensorInit.hasOwnProperty(s)) {
                        var time = new Date();
                        var data = [{
                            x: [time],
                            y: [rand()],
                            mode: 'lines+markers',
                            marker: {color: '#1216f6', size: 8},
                            line: {width: 4},
                            name: '<b>No Data Found</b>'
                        }]
                        var layout = {
                            title: {
                                text: '<b>Live Sensor<i>(' + SensorInit[s].sensor_name + ')</i> Graph</b>',
                                font: {
                                    family: 'Courier New, monospace',
                                    size: 34

                                },
                                xref: 'paper',
                                x: 0.05,

                            },
                            xaxis: {
                                title: {
                                    text: '<b>Time</b>',
                                    font: {
                                        family: 'Courier New, monospace',
                                        size: 22,
                                        color: '#000000'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: '<b>' + SensorInit[s].sensor_unit + '</b>',
                                    font: {
                                        family: 'Courier New, monospace',
                                        size: 22,
                                        color: '#000000'
                                    }
                                }
                            },
                            showlegend: true,
                            legend: {
                                x: 4,
                                y: 4
                            }
                        };

                        Plotly.react('X' + SensorInit[s].id, data, layout);


                        (function sensorGraph(SensorInit) {

                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensor_values_ajax' %}",
                                data: {
                                    'id': SensorInit.id
                                },
                                success: function (data) {
                                    if (data.hasOwnProperty('result')) {
                                        data = data.result;

                                        function getData() {
                                            x = data.sensor_value;
                                            return x;
                                        }
                                        ShowWarning(SensorInit, getData())
                                    }
                                },
                                complete: function () {
                                    setTimeout(sensorGraph(SensorInit), 5000);
                                }
                            });
                        })(SensorInit[s]);
                    }
                }


            }


            function fill_graph_sensor_node(sensor_name, mine_id) {
                $.ajax({
                    type: "get",
                    url: "{% url 'sensor:sensor_wise_node_header' %}",
                    data: {
                        'id': sensor_name,
                        'mine': mine_id
                    },
                    beforeSend: function () {
                        $("#btn_show").val("Please wait...");
                        $("#btn_show").prop('disabled', true);
                    },
                    success: function (data) {
                        if (data.hasOwnProperty('result')) {
                            let Sensors = data.result;
                            for (let s in Sensors) {
                                if (Sensors.hasOwnProperty(s)) {
                                    $('<div>', {id: "X" + Sensors[s].id}).appendTo($("#table"));
                                    $('<br><br>').appendTo($("#table"));
                                    fill_graph_sensor_node_all(Sensors[s], mine_id);
                                }
                            }
                        }

                        return data;
                    }
                });
            }

            function fill_graph_sensor_node_all(SensorInit, mine_id) {
                function rand() {
                    x1 = 0;
                    return x1;
                }

                var time = new Date();
                var data = [{
                    x: [time],
                    y: [rand()],
                    mode: 'lines+markers',
                    marker: {color: '#1216f6', size: 8},
                    line: {width: 4},
                    name: '<b>No Data Found</b>'
                }];
                var layout = {
                    title: {
                        text: '<b>Live Graph for Sensor(' + SensorInit.sensor_name + ') in (' + SensorInit.sensor_node_name + ')</b>',
                        font: {
                            family: 'Courier New, monospace',
                            size: 34

                        },
                        xref: 'paper',
                        x: 0.05,

                    },
                    xaxis: {
                        title: {
                            text: '<b>Time</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        },
                    },
                    yaxis: {
                        title: {
                            text: '<b>' + SensorInit.sensor_unit + '</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        }
                    },
                    showlegend: true,
                    legend: {
                        x: 4,
                        y: 4
                    }
                };

                Plotly.react('X' + SensorInit.id, data, layout);

                (function sensor_wise_result() {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:sensor_wise_node' %}",
                        data: {
                            'id': SensorInit.sensor_name,
                            'mine': mine_id
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result')) {
                                let Sensors = data.result;
                                for (let s in Sensors) {
                                    if (Sensors.hasOwnProperty(s)) {
                                        function getData() {
                                            let x2 = Sensors[s].sensor_value;
                                            return x2;
                                        }
                                        ShowWarning(SensorInit, getData())
                                    }
                                }
                            }
                        },
                        complete: function () {
                            setTimeout(sensor_wise_result, 2000);
                        }
                    });
                })();
            }

            function ShowWarning(SensorInit, sensor_value) {
                var time = new Date();
                var update = {
                    'marker.color': SensorInit.sensor_warning_color,
                    name: '<b>SensorInit.sensor_warning_msg<b>',
                    type: 'scatter'
                };
                if (parseFloat(sensor_value) < parseFloat(SensorInit.level1)) {

                    update = {
                        'marker.color': '#' + SensorInit.sensor_warning_color,
                        name: '<b>' + SensorInit.sensor_warning_msg + '<b>',
                        type: 'scatter'
                    };

                } else if ((parseFloat(sensor_value) >= parseFloat(SensorInit.level1)) && (parseFloat(sensor_value) < parseFloat(SensorInit.level2))) {
                    console.log('1st');
                    update = {
                        'marker.color': '#' + SensorInit.level1_color,
                        name: '<b>' + SensorInit.level1_msg + '<b>',
                        type: 'scatter'
                    };


                } else if ((parseFloat(sensor_value) >= parseFloat(SensorInit.level2)) && (parseFloat(sensor_value) < parseFloat(SensorInit.level3))) {
                    update = {
                        'marker.color': '#' + SensorInit.level2_color,
                        name: '<b>' + SensorInit.level2_msg + '<b>',
                        type: 'scatter'
                    };

                } else if (parseFloat(sensor_value) > parseFloat(SensorInit.level3)) {
                    update = {
                        'marker.color': '#' + SensorInit.level3_color,
                        name: '<b>' + SensorInit.level3_msg + '<b>',
                        type: 'scatter'
                    };

                }
                var update1 = {
                    x: [[time]],
                    y: [[sensor_value]]
                }
                var olderTime = time.setMinutes(time.getMinutes() - 1);
                var futureTime = time.setMinutes(time.getMinutes() + 1);

                var minuteView = {
                    xaxis: {
                        title: {
                            text: '<b>Time</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        },
                        type: '<b>date</b>',
                        range: [olderTime, futureTime],


                    }
                };

                Plotly.relayout('X' + SensorInit.id, minuteView);
                Plotly.restyle('X' + SensorInit.id, update);
                Plotly.extendTraces('X' + SensorInit.id, update1, [0]);
                checkAndPlay(sensor_value, SensorInit.level1, SensorInit.level2, SensorInit.level3, SensorInit.audio_type, SensorInit.level1_msg, SensorInit.level2_msg, SensorInit.level3_msg, SensorInit.level1_audio, SensorInit.level2_audio, SensorInit.level3_audio, SensorInit.sensor_name)
            }

            function checkAndPlay(sensorValue, l_value, m_value, h_value, audio_type, first_warning, second_warning, third_warning, first_audio, second_audio, third_audio, node_or_sensor_name) {

                let loc = window.location;
                let baseUrl = loc.protocol + "//" + loc.hostname + (loc.port ? ":" + loc.port : "") + "/media/";

                if ((parseFloat(sensorValue) > parseFloat(l_value)) && (parseFloat(sensorValue) < parseFloat(m_value))) {//low level
                    $.toast({
                        heading: '<b>Envrionment Monitoring ' + node_or_sensor_name + ': First Level Warning</b>',
                        text: first_warning,
                        showHideTransition: 'fade',
                        position: 'bottom-right',
                        icon: 'error',

                    })
                    if (audio_type == "text2voice") {
                        Speak(first_warning, 9, 0.5);
                    } else {
                        let path = baseUrl + first_audio;
                        let playNow = new Audio(path);
                        playNow.play();
                    }
                }
                if ((parseFloat(sensorValue) > parseFloat(m_value)) && (parseFloat(sensorValue) < parseFloat(h_value))) {//middle level
                    $.toast({
                        heading: '<b>Envrionment Monitoring ' + node_or_sensor_name + ': Second Level Warning </b>',
                        text: second_warning,
                        showHideTransition: 'fade',
                        position: 'bottom-right',
                        icon: 'error',
                    });
                    if (audio_type == "text2voice") {
                        console.log(second_warning)
                        Speak(second_warning, 9, 0.5);
                    } else {
                        let path = baseUrl + second_audio;
                        let playNow = new Audio(path);
                        playNow.play();
                    }
                }

                if (parseFloat(sensorValue) > parseFloat(h_value)) {//high level

                    $.toast({
                        heading: '<b>Envrionment Monitoring ' + node_or_sensor_name + ': Third Level Warning</b> ',
                        text: third_warning,
                        position: 'bottom-right',
                        showHideTransition: 'fade',
                        icon: 'error',
                    })
                    if (audio_type == "text2voice") {
                        Speak(third_warning, 9, 0.5);
                    } else {
                        let path = baseUrl + third_audio;
                        let playNow = new Audio(path);
                        playNow.play();
                    }
                }
            }

        });
    </script>
{% endblock %}