{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h1 class="page-header">Sensor Live Data:</h1>
                <div class="row">
                    <div class="form-group">

                        <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label for="" class="" id="">Choose Mine</label>
                                    </div>
                                    <div class="col-md-4">
                                        {{ form.mine_id }}
                                    </div>

                                    <div class="col-md-2">
                                        <label for="id_mode" class="" id="mode_id">Choose Mode</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="id_mode">
                                            <option value="">Select Mode</option>
                                            <option value="0">Node Wise</option>
                                            <option value="1">Sensor Wise</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <br><br>
                                    <div class="col-md-2">
                                        <label for="id_list" class="" id="label_name">Choose</label>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" id="id_list">
                                            <option>----------</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" class="" id="time_id">Time Interval</label>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="" value="30" id="id_interval">
                                        <label for="" class="" id="time_sec"><span>(Sec)</span></label>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="col-md-12">
                            <div class="text-center">
                                <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                            </div>
                        </div>


                        <div class="col-md-12" style="margin-top:15px;">

                            <div id="tableDiv"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('#displayTable').DataTable({
                retrieve: true,
                paging: false,
                searching: true,
                "ordering": false,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
            $("#id_mine_id").addClass('form-control');

            $("#id_mode").on("change", function () {
                let mode = $("#id_mode").val();
                let mine_id = $('#id_mine_id').val();
                if (!isEmpty(mode)) {

                    if (mode == 'Node wise' || mode == '0') {

                        if (!isEmpty(mine_id)) {
                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_node_ajax' %}",
                                data: {
                                    'id': mine_id
                                },
                                success: function (data) {
                                    if (data.hasOwnProperty('result')) {
                                        let Node = data.result;
                                        fill_node_dropdown(Node);
                                    }
                                    return data;
                                },
                                error: function () {
                                    console.log("Something Went Wrong! : Fetch Mine Ajax");
                                }
                            });
                        }
                    } else if (mode == 'Sensor wise' || mode == '1') {

                        if (!isEmpty(mine_id)) {
                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensors_list' %}",
                                data: {
                                    'id': mine_id
                                },
                                beforeSend: function () {
                                    $("#id_name").empty();
                                },
                                success: function (data) {

                                    if (data.hasOwnProperty('result')) {
                                        let Sensors = data.result;
                                        fill_sensor_dropdown(Sensors);
                                    }
                                    return data;
                                },
                                error: function () {
                                    console.log("Something Went Wrong!");
                                }
                            });
                        }
                    }
                }
            });

            function fill_node_dropdown(nodes) {
                $("#id_list").empty();
                if (!isEmpty(nodes)) {
                    $("#id_list").append($("<option />").val('').text('--Select Node--'));
                    for (node in nodes) {
                        if (nodes.hasOwnProperty(node)) {
                            $("#id_list").append($("<option />").val(nodes[node].id).text(nodes[node].node_name));
                        }
                    }
                } else {
                    $("#id_list").append($("<option />").val('').text('No Available Node'));
                }
            }


            function fill_sensor_dropdown(Sensors) {
                $("#id_list").empty();
                if (isEmpty(Sensors)) {
                    $("#id_list").append($("<option />").val('').text('No Available Sensor'));
                } else {
                    $("#id_list").append($("<option />").val('').text('Select Sensor'));
                }
                for (s in Sensors) {
                    if (Sensors.hasOwnProperty(s)) {

                        $("#id_list").append($("<option />").val(Sensors[s].sensor_name).text(Sensors[s].sensor_name));
                    }
                }
            }

            $("#btn_show").on("click", function () {
                let interval_time = ($("#id_interval").val() * 1000);

                let mine_id = $('#id_mine_id').val();
                let mine_name = $('#id_mine_id :selected').text();
                let mode = $("#id_mode").val();
                $("#tableDiv").empty();

                let node_or_sensor_id = $("#id_list").val();
                let node_or_sensor_name = $('#id_list :selected').text();

                if (isEmpty(mine_id)) {alert("Choose Mine");return;}
                if (isEmpty(mode)) {alert("Choose Mode");return;}
                if (isEmpty(node_or_sensor_id)) {if (mode == "0") {alert("Choose Node");} else {alert("Choose Sensor");}return;}

                $.ajax({
                    type: "get",
                    url: "{% url 'sensor:fetch_sensor_values_ajax_sensor_table' %}",
                    data: {
                        'id': node_or_sensor_id,
                        'mine': mine_id,
                        'mode': mode
                    },
                    beforeSend: function () {
                        $("#btn_show").val("Please wait...");
                        $("#btn_show").prop('disabled', true);
                    },
                    success: function (data) {
                        if (data.hasOwnProperty('result')) {
                            fill_table_sensor_heading(data.result, data.condition);
                        }
                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });

                setInterval(function () {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:fetch_sensor_values_ajax_sensor_body' %}",
                        data: {
                            'id': node_or_sensor_id,
                            'mine': mine_id,
                            'mode': mode
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result')) {
                                fill_table_sensor(data.result, data.time, node_or_sensor_name, mine_name);
                            }
                            return data;
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        }
                    });
                }, interval_time);//time in milliseconds

            });

            function fill_table_sensor_heading(result, condition) {
                var tableHeaders = "";
                var x;
                for (x = 0; x < result.length; x++) {
                    tableHeaders += "<th>" + result[x] + "</th>";
                }
                $("#tableDiv").append('<table id="displayTable" class="display table-bordered" cellspacing="0" width="100%"><thead><tr>' + tableHeaders + '</tr></thead><tbody id="tab_1"></tbody></table>');
                $('#displayTable').DataTable({
                    'rowCallback': function (row, data, index) {

                        for (cond in condition) {
                            if (condition.hasOwnProperty(cond)) {
                                if (parseFloat(data[condition[cond].id]) < parseFloat(condition[cond].level1)) {
                                    $(row).find('td:eq(' + condition[cond].id + ')').css('color', 'blue');

                                } else if (parseFloat(data[condition[cond].id]) > parseFloat(condition[cond].level1) && parseFloat(data[condition[cond].id]) < parseFloat(condition[cond].level2)) {
                                    console.log(condition[cond].id, 'green');
                                    $(row).find('td:eq(' + condition[cond].id + ')').css('color', 'green');

                                } else if (parseFloat(data[condition[cond].id]) > parseFloat(condition[cond].level2) && parseFloat(data[condition[cond].id]) < parseFloat(condition[cond].level3)) {
                                    $(row).find('td:eq(' + condition[cond].id + ')').css('color', 'yellow');

                                } else {
                                    $(row).find('td:eq(' + condition[cond].id + ')').css('color', 'red');
                                }
                            }
                        }
                    },

                    retrieve: true,
                    paging: false,
                    searching: true,
                    "ordering": false,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });

            }

            function fill_table_sensor(NodeSensor, Time, node_or_sensor_name, mine_name) {

                data = [];
                data.push(Time);
                data.push(mine_name);
                data.push(node_or_sensor_name);
                for (node in NodeSensor) {
                    if (NodeSensor.hasOwnProperty(node)) {
                        data.push(NodeSensor[node].sensor_value)
                    }
                }
                var datatable = $('#displayTable').DataTable();
                datatable.row.add(data).draw().node();
            }
        });


    </script>
{% endblock %}