{% extends "base.html" %}

{% block content %}

    <div class="container">
        <section class="col-md-12">
            <h1 class="page-header">Sensor Live Graph:</h1>
            <div class="form-group">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label for="" class="" id="">Choose Mine:</label>
                                </div>
                                <div class="col-md-4">
                                    {{ form.mine_id }}
                                </div>
                                <div class="col-md-2">
                                    <label for="id_mode" class="" id="id_mode_id">Choose Mode:</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="id_mode">
                                        <option value="">--Select Mode--</option>
                                        <option value="0">Node Wise</option>
                                        <option value="1">Sensor Wise</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class=" col-md-12">
                                <div class="col-md-2">

                                    <label for="id_list" class="" id="node_id">Choose :</label>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control" id="id_list">
                                        <option>----------</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">

                <div class="text-center">
                    <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:15px;">
                <div class="table-responsive">
                    <div id="graph"></div>
                </div>
            </div>
            <div class="col-md-12" style="margin-top:15px;">
                <div class="table-responsive" id="table">
                </div>
            </div>
        </section>
    </div>

    <script>
        $(document).ready(function () {
            $("#id_mine_id").addClass('form-control');

            $("#id_mode").on("change", function () {

                $('table').empty();
                let mode = $("#id_mode").val();
                if (!isEmpty(mode)) {
                    if (mode == "Node Wise" || mode == 0) {

                        let mine_id = $("#id_mine_id").val();

                        $.ajax({
                            type: "get",
                            url: "{% url 'sensor:fetch_node_ajax' %}",
                            data: {
                                'id': mine_id
                            },
                            success: function (data) {
                                console.log(data);
                                if (data.hasOwnProperty('result')) {
                                    fill_dropdown(data.result);
                                }
                                return data;
                            },
                            error: function () {
                                console.log("Something Went Wrong!");
                            }
                        });
                    } else if (mode == "Sensor Wise" || mode == 1) {

                        function_fill_dropdown_sensor_all();
                    }
                }
            });

            function fill_dropdown(nodes) {
                $("#id_list").empty();
                if (!isEmpty(nodes)) {
                    $("#id_list").append($("<option />").val('').text('--Select Node--'));
                    for (node in nodes) {
                        if (nodes.hasOwnProperty(node)) {
                            $("#id_list").append($("<option />").val(nodes[node].id).text(nodes[node].node_name));
                        }
                    }
                } else {
                    $("#id_list").append($("<option />").val('').text('No Available Node'));
                }
            }

            $("#id_list").on("change", function () {
                $("#sensor_id").show();
                $("#id_sensor_list").show();
                let node_id = this.value;
                $.ajax({
                    type: "get",
                    url: "{% url 'sensor:fetch_sensor_ajax' %}",
                    data: {
                        'id': node_id
                    },
                    success: function (data) {
                        if (data.hasOwnProperty('result')) {
                            fill_dropdown_sensor(data.result);
                        }
                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });
            });

            function fill_dropdown_sensor(Sensor) {
                $("#id_sensor_list").empty();
                if (!isEmpty(Sensor)) {
                    $("#id_sensor_list").append($("<option />").val('').text('--Select Sensor--'));
                    for (s in Sensor) {
                        if (Sensor.hasOwnProperty(s)) {
                            $("#id_sensor_list").append($("<option />").val(Sensor[s].id).text(Sensor[s].sensor_name));
                        }
                    }
                    $("#id_sensor_list").append($("<option />").val(0).text('All Sensor'));
                } else {
                    $("#id_sensor_list").append($("<option />").val('').text('No Available Sensor'));
                }
            }


            function function_fill_dropdown_sensor_all() {

                let mine_id = $('#id_mine_id').val();
                if (!isEmpty(mine_id)) {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:fetch_sensors_list' %}",
                        data: {
                            'id': mine_id
                        },
                        beforeSend: function () {
                            $("#id_name").empty();

                        },
                        success: function (data) {
                            let Sensors = data.result;
                            if (data.hasOwnProperty('result')) {
                                if (isEmpty(Sensors)) {
                                    $("#id_name").append($("<option />").val('').text('No Available Sensor'));
                                } else {
                                    $("#id_name").append($("<option />").val('').text('Select Sensor'));
                                }
                                for (s in Sensors) {
                                    if (Sensors.hasOwnProperty(s)) {

                                        $("#id_name").append($("<option />").val(Sensors[s].sensor_name).text(Sensors[s].sensor_name));
                                    }
                                }
                            }
                            return data;
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        }
                    });
                }
            }

            $("#btn_show").click(function () {
                let mode = $("#id_mode").val();
                if (!isEmpty(mode)) {
                    if (mode == 'Node Wise' || mode == 0) {
                        let sensor_id = $("#id_sensor_list").val();
                        let node_id = $("#id_node_list").val();
                        if (sensor_id == '0') {
                            console.log('IF paRT');
                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensor_values_all_ajax' %}",
                                data: {
                                    'id': node_id
                                },
                                beforeSend: function () {
                                    $("#btn_show").val("Please wait...");
                                    $("#btn_show").prop('disabled', true);
                                },
                                success: function (data) {
                                    fill_all(node_id, data.result);
                                    return data;
                                },
                                error: function () {

                                    console.log("Something Went Wrong!");
                                }
                            });


                        } else {
                            console.log('Else Part', sensor_id);
                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensor_ajax_sensor' %}",
                                data: {
                                    'id': sensor_id
                                },
                                beforeSend: function () {
                                    $("#btn_show").val("Please wait...");
                                    $("#btn_show").prop('disabled', true);
                                },
                                success: function (data) {
                                    if (data.hasOwnProperty('result')) {
                                        console.log(data.result)
                                        fill_graph_sensor(data.result.id, data.result.sensor_name, data.result.unit, data.result.color);
                                    }
                                    return data;
                                },
                                error: function () {
                                    console.log("Something Went Wrong!");
                                }
                            });
                        }
                    } else if (mode == "Sensor Wise" || mode == 1) {
                        console.log('Sensor Wise Else')
                        let sensor_name = $("#id_name").val();
                        let mine_id = $("#id_mine_id").val();
                        fill_graph_sensor_node(sensor_name, mine_id);
                    }
                }
            });

            function fill_graph_sensor(sensor_id, name, unit, level) {
                function rand() {
                    x = 0;
                    return x;
                }

                var time = new Date();
                var data = [{
                    x: [time],
                    y: [rand()],
                    mode: 'lines+markers',
                    marker: {color: level, size: 8},
                    line: {width: 4},
                    name: '<b>No Data Found</b>'

                }]
                var layout = {
                    title: {
                        text: '<b>Live Sensor<i>(' + name + ')</i>Graph</b>',
                        font: {
                            family: 'Courier New, monospace',
                            size: 34

                        },
                        xref: 'paper',
                        x: 0.05,

                    },
                    xaxis: {
                        title: {
                            text: '<b>Time</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        },
                    },
                    yaxis: {
                        title: {
                            text: '<b>' + unit + '</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        }
                    },
                    showlegend: true,
                    legend: {
                        x: 4,
                        y: 4
                    }
                };

                Plotly.react('graph', data, layout);

                (function sensorGraph() {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:fetch_sensor_values_ajax' %}",
                        data: {
                            'id': sensor_id
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result')) {
                                data = data.result;

                                function getData() {
                                    x = data.sensor_value;
                                    return x;
                                }

                                var time = new Date();

                                var update = {
                                    'marker.color': data.sensor_warning_color,
                                    name: '<b>' + data.sensor_warning_msg + '<b>',

                                    type: 'scatter'

                                }
                                var update1 = {
                                    x: [[time]],
                                    y: [[getData()]]
                                }
                                var olderTime = time.setMinutes(time.getMinutes() - 1);
                                var futureTime = time.setMinutes(time.getMinutes() + 1);

                                var minuteView = {
                                    xaxis: {
                                        title: {
                                            text: '<b>Time</b>',
                                            font: {
                                                family: 'Courier New, monospace',
                                                size: 22,
                                                color: '#060216'
                                            }
                                        },
                                        type: '<b>date</b>',
                                        range: [olderTime, futureTime],


                                    }
                                };

                                Plotly.relayout('graph', minuteView);
                                //Plotly.extendTraces('graph', update, [0])
                                Plotly.restyle('graph', update);
                                Plotly.extendTraces('graph', update1, [0]);
                            }
                        },
                        complete: function () {
                            setTimeout(sensorGraph, 1000);
                        }
                    });
                })();
            }

            ////////////////////////////////////////////////////

            function fill_all(node_id, Sensor) {
                for (s in Sensor) {
                    if (Sensor.hasOwnProperty(s)) {
                        $('<div>', {id: "X" + Sensor[s].id}).appendTo($("#table"));
                        $('<br><br>').appendTo($("#table"));
                    }
                }

                function rand() {
                    x = 0;
                    return x;
                }

                for (s in Sensor) {
                    if (Sensor.hasOwnProperty(s)) {
                        var time = new Date();
                        var data = [{
                            x: [time],
                            y: [rand()],
                            mode: 'lines+markers',
                            marker: {color: '#1216f6', size: 8},
                            line: {width: 4},
                            name: '<b>No Data Found</b>'
                        }]
                        var layout = {
                            title: {
                                text: '<b>Live Sensor<i>(' + Sensor[s].sensor_name + ')</i> Graph</b>',
                                font: {
                                    family: 'Courier New, monospace',
                                    size: 34

                                },
                                xref: 'paper',
                                x: 0.05,

                            },
                            xaxis: {
                                title: {
                                    text: '<b>Time</b>',
                                    font: {
                                        family: 'Courier New, monospace',
                                        size: 22,
                                        color: '#000000'
                                    }
                                },
                            },
                            yaxis: {
                                title: {
                                    text: '<b>' + Sensor[s].sensor_unit + '</b>',
                                    font: {
                                        family: 'Courier New, monospace',
                                        size: 22,
                                        color: '#000000'
                                    }
                                }
                            },
                            showlegend: true,
                            legend: {
                                x: 4,
                                y: 4
                            }
                        };

                        Plotly.react('X' + Sensor[s].id, data, layout);


                        (function sensorGraph(sensor_id) {

                            $.ajax({
                                type: "get",
                                url: "{% url 'sensor:fetch_sensor_values_ajax' %}",
                                data: {
                                    'id': sensor_id
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (data.hasOwnProperty('result')) {
                                        data = data.result;

                                        function getData() {
                                            x = data.sensor_value;
                                            return x;
                                        }

                                        var time = new Date();

                                        var update = {
                                            'marker.color': data.sensor_warning_color,
                                            name: '<b>' + data.sensor_warning_msg + '<b>',

                                            type: 'scatter'

                                        }
                                        var update1 = {
                                            x: [[time]],
                                            y: [[getData()]]
                                        }
                                        var olderTime = time.setMinutes(time.getMinutes() - 1);
                                        var futureTime = time.setMinutes(time.getMinutes() + 1);

                                        var minuteView = {
                                            xaxis: {
                                                title: {
                                                    text: '<b>Time</b>',
                                                    font: {
                                                        family: 'Courier New, monospace',
                                                        size: 22,
                                                        color: '#060216'
                                                    }
                                                },
                                                type: '<b>date</b>',
                                                range: [olderTime, futureTime],


                                            }
                                        };

                                        Plotly.relayout('X' + sensor_id, minuteView);
                                        Plotly.restyle('X' + sensor_id, update);
                                        Plotly.extendTraces('X' + sensor_id, update1, [0]);
                                    }
                                },
                                complete: function () {
                                    setTimeout(sensorGraph(sensor_id), 5000);
                                }
                            });
                        })(Sensor[s].id);
                    }
                }


            }

            ///////for sensor node
            function fill_graph_sensor_node(sensor_name, mine_id) {
                $.ajax({
                    type: "get",
                    url: "{% url 'sensor:sensor_wise_node' %}",
                    data: {
                        'id': sensor_name,
                        'mine': mine_id
                    },
                    beforeSend: function () {
                        $("#btn_show").val("Please wait...");
                        $("#btn_show").prop('disabled', true);
                    },
                    success: function (data) {
                        if (data.hasOwnProperty('result')) {
                            let Sensors = data.result;
                            console.log(Sensors);
                            for (s in Sensors) {
                                if (Sensors.hasOwnProperty(s)) {
                                    $('<div>', {id: "X" + Sensors[s].id}).appendTo($("#table"));
                                    $('<br><br>').appendTo($("#table"));
                                    console.log(Sensors[s].id, mine_id, Sensors[s].sensor_unit, Sensors[s].sensor_node_name, Sensors[s].sensor_name);
                                    fill_graph_sensor_node_all(Sensors[s].id, mine_id, Sensors[s].sensor_unit, Sensors[s].sensor_node_name, Sensors[s].sensor_name);
                                }
                            }
                        }

                        return data;
                    }
                });
            }

            function fill_graph_sensor_node_all(i, mine_id, unit, node_name, sensor_name) {
                function rand() {
                    x1 = 0;
                    return x1;
                }

                var time = new Date();
                var data = [{
                    x: [time],
                    y: [rand()],
                    mode: 'lines+markers',
                    marker: {color: '#1216f6', size: 8},
                    line: {width: 4},
                    name: '<b>No Data Found</b>'
                }]
                var layout = {
                    title: {
                        text: '<b>Live Graph for Sensor(' + sensor_name + ') in (' + node_name + ')</b>',
                        font: {
                            family: 'Courier New, monospace',
                            size: 34

                        },
                        xref: 'paper',
                        x: 0.05,

                    },
                    xaxis: {
                        title: {
                            text: '<b>Time</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        },
                    },
                    yaxis: {
                        title: {
                            text: '<b>' + unit + '</b>',
                            font: {
                                family: 'Courier New, monospace',
                                size: 22,
                                color: '#060216'
                            }
                        }
                    },
                    showlegend: true,
                    legend: {
                        x: 4,
                        y: 4
                    }
                };

                Plotly.react('X' + i, data, layout);

                var cnt = 0;
                (function sensor_wise_result() {
                    $.ajax({
                        type: "get",
                        url: "{% url 'sensor:sensor_wise_node' %}",
                        data: {
                            'id': sensor_name,
                            'mine': mine_id
                        },
                        success: function (data) {

                            if (data.hasOwnProperty('result')) {
                                let Sensors = data.result;
                                for (s in Sensors) {
                                    if (Sensors.hasOwnProperty(s)) {
                                        function getData() {
                                            x2 = Sensors[s].sensor_value;
                                            return x2;
                                        }

                                        var time = new Date();
                                        var update = {
                                            'marker.color': Sensors[s].sensor_warning_color,
                                            name: '<b>' + Sensors[s].sensor_warning_msg + '<b>',
                                            type: 'scatter'

                                        }
                                        var update1 = {
                                            x: [[time]],
                                            y: [[getData()]]

                                        }

                                        var olderTime = time.setMinutes(time.getMinutes() - 1);
                                        var futureTime = time.setMinutes(time.getMinutes() + 1);

                                        var minuteView = {
                                            xaxis: {
                                                title: {
                                                    text: '<b>Time</b>',
                                                    font: {
                                                        family: 'Courier New, monospace',
                                                        size: 22,
                                                        color: '#060216'
                                                    }
                                                },
                                                type: '<b>date</b>',
                                                range: [olderTime, futureTime]
                                            }
                                        };

                                        Plotly.relayout('X' + Sensors[s].id, minuteView);
                                        Plotly.restyle('X' + Sensors[s].id, update);
                                        Plotly.extendTraces('X' + Sensors[s].id, update1, [0])
                                    }
                                }
                            }
                        },
                        complete: function () {
                            setTimeout(sensor_wise_result, 2000);
                        }
                    });
                })();
            }
        });
    </script>
{% endblock %}


