{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="{% static '/css/bootstrap-timepicker.css' %}">
<script src="{% static 'js/bootstrap-timepicker.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Add Mining Shift<small>&nbsp&nbsp&nbspHere you can assign Shift to :<font color="f77c4a"> {{mine_name}}</font></small></sma></h1>

            <div class="row text-center">
                <div class="col-md-12">

                    <a class="btn btn-primary" href="">Manage Mining Shift</a>
                </div>
            </div>
            <hr>
            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}


                        <div class="form-group">
                            <table  class="table table-responsive table-bordered">
                            {{ form.as_table }}
                                </table>
                            <center><input type="submit" class="btn btn-primary" value="Submit"/></center>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#id_time_from").timepicker();
        $("#id_time_to").timepicker();
    });
</script>
{% endblock %}