{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h3 class="page-header"><b>MANAGE MININIG ROLE: {{ action }} ROLE</b>
                    <small>Here you can add basic info of mining Role/Class</small>
                </h3>

                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'employee:manage_mining_role' %}">Manage Role</a>
                    </div>
                </div>
                <br>
                <!-- Table content -->
                <div class="row">
                    <div class="form-group col-md-12">
                        <form class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return validateForm(this)">
                            {% csrf_token %}
                                <table class="table table-responsive table-bordered">
                                    <tbody>
                                        <tr>
                                            <th><label for="id_mine">Mine:</label></th>
                                            <td>
                                                {% if admin %}
                                                    {{ form.mine }}
                                                {% else %}
                                                    <b>{{ mine_name.name }}<b>
                                                {% endif %}

                                            </td>
                                        </tr>

                                    <tr>
                                        <th><label for="id_parent_role" id="fetch_role"
                                                   data-url="{% url 'employee:mine_role_fetch_ajax' %}">Parent
                                            role:</label>
                                        <input type="checkbox" name="parent" id="parent" aria-label="Checkbox for following text input">
                                        </th>
                                        <td>
                                            {{ form.parent_role }}
                                            <span style="color:red">{{form.parent_role.errors|striptags}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            <label for="id_name">Name:</label>

                                        </th>

                                        <td>
                                            {{ form.name }}
                                            <span style="color:red">{{form.name.errors|striptags}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_type_0">Type:</label></th>
                                        <td>
                                            {{ form.type }}
                                            <span style="color:red">{{form.type.errors|striptags}}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><label for="id_description">Description:</label></th>
                                        <td>
                                            {{ form.description }}
                                            <span style="color:red">{{form.description.errors|striptags}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="text-center"><input type="submit" id="submit" class="btn btn-primary" value="Submit"/>
                                </div>

                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <style>
        ul {
            list-style: none
        }

    </style>
    <script>
        $(document).ready(function () {
            $("#id_parent_role").addClass('form-control');
             $("#id_parent_role").prop('required',false);
            $('select#id_mine').addClass('form-control');
            $('select#id_mine').prop('required',true);

            $('select#id_mine').change(function () {
                let mine_id = this.value;
                $.ajax({
                    url: $('#fetch_role').data('url'),
                    data: {
                        'mine_id': mine_id
                    },
                    beforeSend: function (jqXHR) {
                        $.xhrPool.push(jqXHR);
                         $('select#id_parent_role').empty();
                    },
                    success: function (data) {
                        let role = JSON.parse(data.result);
                        X=role;
                        $('select#id_parent_role').append("<option value=''>---------</option>");
                        for (i = 0; i < role.length; i++) {
                            console.log(role[i].pk)
                            $('select#id_parent_role').append('<option value=' + role[i].pk + '>' + role[i].fields.name + '</option>');
                        }
                    },
                    error: function () {
                    }
                });
            });
            if(isEmpty($('#id_parent_role').val())){
                    $('#parent').prop('checked', true);
                }

            $('#id_parent_role').change(function(){
                if(isEmpty(this.value)){
                    $('#parent').prop('checked', true);
                }
                else{
                     $('#parent').prop('checked', false);
                }
            })
        });


    </script>
{% endblock %}