{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h3 class="page-header"><b>MANAGE MININIG ROLE:</b> {% if request.user.is_superuser %}ALL {% else %}
                    <span style="color:#ff9800">{{ mine_name }}</span>{% endif %}</h3>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'employee:add_mining_role' %}">Add Mining Role</a>
                    </div>
                </div>
                <hr>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="MiningRole">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Name</th>
                                    <th>Parent Role</th>
                                    <th>Type</th>
                                    <th>Mine</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for book in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.parent_role }}</td>
                                        <td>{{ book.type }}</td>
                                        <td>{{ book.mine.name }}</td>

                                        <td class="text-center"><a href="{% url 'employee:edit_mining_role' book.id %}"
                                                                   title="Edit Mining Role."><span
                                                class="glyphicon glyphicon-pencil"></span></a></td>
                                        <td class="text-center"><a href="#" class="delete"
                                                                   data-url="{% url 'employee:delete_mining_role' book.id %}"
                                                                   title="Delete Mining Role."><span
                                                class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->


            </section>
        </div>
    </div>


    <script>
        $(document).ready(function () {

            $('select#id_mine').addClass('form-control');
            $(document.body).on("click", ".delete", function () {

                $("#sureDelete").attr("href", $(this).data('url'));
                $('#update_info').modal('show');


            });

            $('#MiningRole').DataTable({
                dom: 'Bflrtip',
                buttons: [


                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },


                ]

            });

        });

    </script>

{% endblock %}