{% extends "base.html" %}

{% block content %}

<!--<h2>Manage Employee</h2>-->

<!--<ul>-->
<!--{% for book in object_list %}-->
<!--<li>{{ book.fname }}  ({{ book.age }} )-->
<!--<a href="{% url 'employee:employee_edit' book.id %}">edit</a>-->
<!--<a href="{% url 'employee:employee_delete' book.id %}">delete</a>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->

<!--<a href="{% url 'employee:employee_add' %}">New</a>-->


<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Manage Mining Role:{{mine_name.name}}</h1>
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="{% url 'employee:add_mining_role' %}">Add Mining Role</a>
                </div>
            </div>
            <hr>
            <!-- Table content -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="content">
                            <thead>
                            <tr>
                                <th>SL No</th>
                                <!--                            <th>ID</th>-->
                                <th>Name</th>
                                <th>Parent Role</th>
                                <th>Type</th>
                                <th class="text-center" colspan="3">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for book in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <!--                            <td>{{ book.id }}</td>-->
                                <td>{{ book.name }}</td>
                                <td>{{ book.parent_role}}</td>
                                <td>{{ book.type }}</td>

                                <td class="text-center"><a href="{% url 'employee:edit_mining_role' book.id %}"
                                                           title="Edit Mining Role."><span
                                        class="glyphicon glyphicon-pencil"></span></a></td>
                                <td class="text-center"><a href="#" class="delete"
                                                           data-url="{% url 'employee:delete_mining_role' book.id %}"
                                                           title="Delete Mining Role."><span
                                        class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!--end Table content -->
            <div id="map" style="width:100%;height:400px"></div>
        </section>
    </div>
</div>


<script>
    $(document.body).on("click", ".delete", function () {

        $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');

    });

</script>

{% endblock %}