{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h2 class="page-header text-center"><b>MANAGE MINE</b></h2>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'employee:add_mine' %}">Add Mine</a>
                    </div>
                </div>
                <br>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="content">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>State</th>
                                    <th>Assign Shift</th>
                                    <th>Map</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <!--<th class="text-center" colspan="4">Action</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ book.id }}</td>
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.state }}</td>

                                        <td class="text-center"><a target="_blank"
                                                                   href="{% url 'employee:manage_mining_shift' book.id %}"><span
                                                class="glyphicon glyphicon-plus" data-toggle="tooltip"
                                                title="Manage Shift"></span></a></td>
                                        <td class="text-center"><span class="btn btn-info btn-sm map_details"
                                                                      data-url="{{ book.latitude }}"
                                                                      id="{{ book.longitude }}">Google Map</span>&nbsp;<span
                                                class="btn btn-info btn-sm mine_map"
                                                data-url="{{ book.mine_map_image }}">Mine Map</span></td>
                                        <td class="text-center"><a href="{% url 'employee:edit_mine' book.id|encrypt %}"
                                                                   title="Edit Mine."><span
                                                class="glyphicon glyphicon-pencil"></span></a></td>
                                        <td class="text-center"><a href="#" class="delete"
                                                                   data-url="{% url 'employee:delete_mine' book.id|encrypt %}"
                                                                   title="Delete Mine."><span
                                                class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->
                <div class="row">
                    <div id="KBtestmap" style="width:100%;height:600px"></div>
                </div>
                <div class="row" style="height: 100px">
                    {#                    <div id="map" style="width:100%;height:400px"></div>#}
                </div>
                <!--<div id="mine_map" style="width:100%;height:400px"></div>-->
            </section>
        </div>

    </div>

    <!-- Map Details Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mine Map</h4>
                </div>
                <div class="modal-body">
                    <div id="map_details_data"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $(document.body).on("click", ".delete", function () {
                $("#sureDelete").attr("href", $(this).data('url'));
                $('#update_info').modal('show');


            });
            FULLSCREEN();

            $(document.body).on("click", ".map_details", function () {
                let lat = $(this).data('url');
                let long = this.id;
                myMap(lat, long);
            });

            $(document.body).on("click", ".mine_map", function () {
                let img = $(this).data('url');
                $('#KBtestmap').empty();
                if (img) {
                    CreateKBtestMap(img)
                    {#$("#map").append("<img style='' id='theImg' src='/media/" + img + "'/>");#}
                    {#$('#map').css("background-image", "url(/media/" + img + ")");#}
                } else {
                    $("#KBtestmap").css("");
                    $("#KBtestmap").html("No Mine map(blue print) is added in this mine.please add it.");
                }


            });

            function CreateKBtestMap(data) {
                var img = data;
                //console.log(url);
                if (addedKBmaps.length > 0) {
                    addedKBmaps.pop();
                    $('.KBmap__mapContainer').remove();
                }
                if (img) {
                    createKBmap('KBtestmap', '/media/' + img);
                } else {
                    $("#KBtestmap").css("");
                    $("#KBtestmap").html("No Mine map(blue print) is added in this mine.please add it.");
                }
            };

            function myMap(lat, long) {
                $('#KBtestmap').empty();
                let mapOptions = {
                    center: new google.maps.LatLng(lat, long),
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.HYBRID
                }
                let map = new google.maps.Map(document.getElementById("KBtestmap"), mapOptions);
            }
        });

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSCjDrQyZpBPQOEXexNLeOW9RLRWVkw9o"></script>
{% endblock %}