{% extends "base.html" %}
{% block content %}
<head>
    <style>
    .margin_top{
     margin-top: 15px;
    }
</style>

</head>
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header"><b>WATER LEVEL MONITORING LIVE GRAPH</b><small> Here we can view live graph</small></h1>
            <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Choose Mine:</label>
                </div>
                <div class="col-md-4">
                    {{form.mine_id}}
                </div>
                <div class="col-md-2">
                    <label for="" class="" id="">Choose Location:</label>
                </div>
                <div class="col-md-4">
                    <select class="form-control" id="id_location_list">
                        <option>--Select Location--</option>
                    </select>
                </div>
            </div>
            <div class="row margin_top">
                <div class="col-md-2">
                     <label for="" class="" id="">Wireless data is comming from IP:</label>
                </div>
                <div class="col-md-4">
                     <input type="text" class="form-control" readonly id="ip_hidden">
                </div>
                <div class="col-md-6">
                     <div class="text-left">
                        <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                     </div>
                </div>
            </div>
        </section>
    </div>
</div>
<br/>
<br/>
<body>
<div id="chartContainer" style="height: 500px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
 $("#id_mine_id").addClass('form-control');
 //------------------------------------------------------------------------------------------------------------------
    $("#id_mine_id").on("change",function(){
        mine_id=this.value;
        $.ajax({
            type:"get",
            url: "{% url 'water_level_monitoring:fetch_location_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                fill_dropdown(data.result);
                    },
            error: function(){
                    console.log("something went wrong");
                 }
        });
    });
    //------------------------------------------------------------------------------------------------------------------
     function fill_dropdown(result){
        $("#id_location_list").html("<option value=''>--Select Location--</option>");
        for (index = 0; index < result.length; index++) {
            var str_array = result[index].split(',');
            $("#id_location_list").append($("<option />").val(str_array[0]).text(str_array[1]));
        }
    }
    //------------------------------------------------------------------------------------------------------------------
    //------------------------------------------------------------------------------------------------------------------
    var l_color = "#C0DF81";
     var m_color = "#FEFE9A";
     var h_color = "#F37C84";

     var l_value = "";
     var m_value = "";
     var h_value = "";
     var t_hight = 0;
    $("#id_location_list").on("change",function(){
        location_id=this.value;
        $.ajax({
                type:"get",
                url: "{% url 'water_level_monitoring:fetch_sensor_details' %}",
                data: {
                    'id': location_id
                    },
                success: function(data) {
                        console.log(data);
                     for(index = 0; index < data.result.length; index++) {
                            var str_array = data.result[index].split(',');
                            console.log(str_array);
                             $("#ip_hidden").val(str_array[0]);
                            l_value = str_array[1];
                            m_value = str_array[2];
                            h_value = str_array[3];
                            t_hight = str_array[4];

                        }
                 },
                error: function(){
                        console.log("error he ji");
                     }
         });
    });
     //------------------------------------------------------------------------------------------------------------------

    $(document.body).on('click','#btn_show',function(){
        var location = $("#id_location_list").val();
        if(location){
            fill_water_level_graph();
        }else{
        alert("Please choose location");
        }
    });
 //==================graph part================================================================================================


function fill_water_level_graph(){
        var dps = []; // dataPoints
        var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        title: {
            text: ""
        },
        axisX: {
            title: "Time"
        },
        axisY: {
            title: "Water level (in cm)",
            //suffix: "mm"
            maximum: t_hight,
            stripLines: [
		    {
		        label: "Level 1",
				startValue:parseFloat(l_value),
				endValue:parseFloat(m_value),
				color: l_color
			},
			{
		        label: "Level 2",
				startValue:parseFloat(m_value),
				endValue:parseFloat(h_value),
				color:m_color
			},
			{
		        label: "Level 3",
				startValue:parseFloat(h_value),
				endValue:parseFloat(5000),
				color:h_color
			}
			]
        },

        data: [{
            type: "area",
            name: "CPU Utilization",
            connectNullData: true,
            //nullDataLineDashType: "solid",
            xValueType: "dateTime",
            xValueFormatString: "DD MMM hh:mm TT",
            yValueFormatString: "#,##0.##\"cm\"",
            dataPoints: dps
        }]
    });

    var xVal = 0;
    var yVal = 100;
    var updateInterval = 4000;
    var dataLength = 20; // number of dataPoints visible at any point

 var updateChart = function () {
    var location = $("#id_location_list").val();
    $.ajax({
        type:"get",
        url: "{% url 'water_level_monitoring:fetch_water_level_ajax' %}",
        data: {
                 'id': location
               },
        success: function(data) {
            console.log(data.result);
            for(index = 0; index < data.result.length; index++) {
                var str_array = data.result[index].split(',');
                dps.push({
                    x: Date.parse(str_array[2]),
                    y: ((t_hight - Number((str_array[5]))) > 0 ? (t_hight - Number((str_array[5]))) : 0)
                });
                //xVal++;
               }
            return data;
                },
        error: function(){
                console.log("error he ji");
             }
    });


	if (dps.length > dataLength) {
		dps.shift();
	}

	chart.render();
$(".canvasjs-chart-credit").text('');
 };

updateChart(dataLength);
setInterval(function(){updateChart()}, updateInterval);
}

    //------------------------------------------------------------------------------------------------------------------
</script>
</body>
{% endblock %}