{% extends "base.html" %}

{% block content %}

<!--<h2>Manage Employee</h2>-->

<!--<ul>-->
    <!--{% for book in object_list %}-->
    <!--<li>{{ book.fname }}  ({{ book.age }} )-->
    <!--<a href="{% url 'employee:employee_edit' book.id %}">edit</a>-->
    <!--<a href="{% url 'employee:employee_delete' book.id %}">delete</a>-->
    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

<!--<a href="{% url 'employee:employee_add' %}">New</a>-->



<div class="container">
    <div class="row">
<section class="col-md-12">
    <h1 class="page-header">Manage Employee</h1>
    <div class="row text-center">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{% url 'employee:employee_add' %}">Add Employee</a>
        </div>
    </div>
    <hr>
    <!-- Table content -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="content">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Date of Joinig</th>
                            <th>RFID</th>
                            <th>Address</th>
                            <th>State</th>
                            <th>Pin</th>
                            <th>Email</th>
                            <th>Mob</th>
                            <th class="text-center" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for book in object_list %}
                        <tr>
                            <td>{{ book.fname }}</td>
                            <td>{{ book.lname }}</td>
                            <td>{{ book.age }}</td>
                            <td>{{ book.doj }}</td>
                            <td>{{ book.rfid }}</td>
                            <td>{{ book.address }}</td>
                            <td>{{ book.state }}</td>
                            <td>{{ book.pin }}</td>
                            <td>{{ book.email }}</td>
                            <td>{{ book.mob }}</td>


                            <td class="text-center"><a href="{% url 'employee:employee_edit' book.id %}" title="Edit Employee."><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="text-center"><a href="{% url 'employee:employee_delete' book.id %}" title="Delete Employee."><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul id="pagination" class="pagination light-theme simple-pagination"><li class="active"><span class="current prev">Prev</span></li><li class="active"><span class="current">1</span></li><li><a class="page-link" href="#page-2">2</a></li><li><a class="page-link" href="#page-3">3</a></li><li><a class="page-link next" href="#page-2">Next</a></li></ul>
        </div>
    </div><!--end Table content -->
</section>
        </div>
</div>


{% endblock %}