{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div class="container">
        <style>
            .header {
                background-color: #f1e6d6;
                font-size: 1.0em;
            }

            .table-data {
                font-size: 1.0em;
            }

            fieldset.scheduler-border {
                border: 1px groove #ddd !important;
                padding: 0 0.4em 1.4em 1.4em !important;
                margin: 0 0 0.5em 0 !important;
                -webkit-box-shadow: 0px 0px 0px 0px #000;
                box-shadow: 0px 0px 0px 0px #000;
            }

            legend.scheduler-border {
                font-size: 0.9em !important;
                font-weight: bold !important;
                text-align: left !important;
                width: auto;
                padding: 0 5px;
                border-bottom: none;
            }

            @media screen {
                #printSection {
                    display: none;
                }
            }

            @media print {
                body * {
                    visibility: hidden;
                }

                button.close {
                    visibility: hidden !important;
                }

                #printSection * {
                    visibility: visible !important;
                    overflow: visible !important;
                }

                .header {
                {#background-color: #f1e6d6 !important;#}

                }

                .modal {

                    left: 0;
                    top: 0;
                    margin: 0;
                    padding: 0;
                    min-height: 0px;
                {#visibility: visible !important;#}
                    /**Remove scrollbar for printing.**/
                {#overflow: visible !important;#}
                }

                .modal-dialog {
                    visibility: visible !important;
                    /**Remove scrollbar for printing.**/
                {#overflow: visible !important;#}
                }

                fieldset {
                    page-break-after: auto;
                }
            }

        </style>
        <div class="row">
            <section class="col-md-12">
                <h1 class="page-header">Manage Employee</h1>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'employee:employee_add' %}" data-toggle="tooltip"
                           title="Click here to Add New Employee">Add Employee</a>
                    </div>
                </div>
                <hr>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive" align="right">
                            <table class="table table-bordered" id="content">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <!--                                <th>ID</th>-->
                                    <th>Name</th>
                                    <th>Mine Name</th>
                                    <!--                                <th>Father Name</th>-->
                                    <th>Email</th>
                                    <th>Token No</th>
                                    <th>RFID</th>
                                    <!--<th>Mining Role</th>-->
                                    <th>Photo</th>

                                    <th class="text-center" colspan="5">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}
                                        </td>
                                        <!--                                <td>{{ book.id }}</td>-->
                                        <td>{{ book.name }}</td>
                                        <td>{{ book.mine.name }}</td>
                                        <!--                                <td>{{ book.father_name }}</td>-->
                                        <td>{{ book.email }}</td>
                                        <td>{{ book.token_no }}</td>
                                        <td>{{ book.rfid }}</td>

                                        <td><img alt="Image not found"
                                                 class="image image-responsive"
                                                 onerror="this.onerror=null;this.src='/media/employee_image/male_alt_photo.svg';"
                                                 src="/media/{{ book.photo }}"
                                                 width="100"
                                                 height="100"/>
                                        </td>


                                        <td class="text-center"><span class="btn btn-info btn-sm more_details"
                                                                      data-toggle="tooltip"
                                                                      data-url="{% url 'employee:more_details_ajax' %}"

                                                                      id="{{ book.id }}"
                                                                      title="Click here to get more details">More Details</span>
                                            <br>
                                            <br>
                                            <span class="btn btn-info btn-sm generate_login"
                                                  data-toggle="tooltip"
                                                  data-url="{% url 'employee:generate_login_details_ajax' %}"
                                                  data-email="{{ book.email }}"
                                                  id="{{ book.id }}"
                                                  title="Click here generate Login">Generate Login</span>


                                        </td>
                                        <!--                                "{% url 'employee:update_shift_link' book.id %}-->
                                        <td class="text-center">
                                            <span class="btn  {%  if book.get_shift %} btn-success {% else %}btn-warning{% endif %} btn-sm update_shift" data-toggle="tooltip"
                                                  data-url="{% url 'employee:update_shift_link_ajax' %}"
                                                  id="{{ book.id }}"
                                                  mode="0"
                                                  title="Click here to update shift">Update Shift
                                            </span>

                                            <br><br>
                                            <a data-toggle="tooltip"
                                               href="{% url 'employee:details_employee_shift_assign' book.id %}"
                                               title="Click here to Check Shift History of an Employee">
                                                <small>Shift History</small>
                                            </a>
                                        </td>
                                        <td class="text-center"><a href="{% url 'employee:update_medical' book.id %}">
                                            <span class="glyphicon glyphicon-plus-sign"
                                                  data-toggle="tooltip"
                                                  title="Click here to update Medical Info">

                                            </span></a></td>
                                        <td class="text-center"><a href="{% url 'employee:employee_edit' book.id %}"
                                                                   title="Edit Employee."><span
                                                class="glyphicon glyphicon-pencil"
                                                data-toggle="tooltip"
                                                title="Click here to edit"></span></a></td>
                                        <td class="text-center"><a class="delete"
                                                                   data-url="{% url 'employee:employee_delete' book.id %}"
                                                                   href="#"
                                                                   title="Delete Employee."><span
                                                class="glyphicon glyphicon-trash"
                                                data-toggle="tooltip"
                                                title="Click here to delete employee"></span></a></td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->
            </section>
        </div>
    </div>

    </div>

    <!-- More Details Modal -->
    <div>
        <div class="modal fade" id="myModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
             aria-hidden="true">
            <div id="printThis" class="modal-dialog modal-lg" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header employee_details">
                        <button class="close" class="button" data-dismiss="modal" type="button">&times;</button>
                        <div class="text-center" style="padding-left:10px;">
                            <img class="image image-responsive"
                                 height="50"
                                 src="{% static 'image/csir_logo.svg' %}"
                                 width="50">&nbsp;
                            <b>Employee Information Form</b>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <div class="row">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Personal Details</b></span></legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Father's Name</th>
                                            <th class="text-center">Gender</th>
                                            <th class="text-center">D.O.B</th>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span id="name">Name</span></td>
                                            <td class="text-center"><span id="father_name">Father's Name</span></td>
                                            <td class="text-center"><span id="gender">Gender</span></td>
                                            <td class="text-center"><span id="dob">D.O.B</span></td>
                                        </tr>
                                        <tr class="header">
                                            <th class="text-center">Email</th>
                                            <th class="text-center">Marital Status</th>
                                            <th class="text-center">Spouse</th>
                                            <th class="text-center">Nationality</th>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><span id="email">Name</span></td>
                                            <td class="text-center"><span id="marital_status">Father's Name</span></td>
                                            <td class="text-center"><span id="spouse_name">Gender</span></td>
                                            <td class="text-center"><span id="nationality">D.O.B</span></td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Contact Details</b></span>
                                    </legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Present Address</th>
                                            <th class="text-center">Permanent Address</th>
                                            <th class="text-center">State</th>
                                            <th class="text-center">City</th>

                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="present_address">Name</span></td>
                                            <td class="text-center"><span id="permanent_address">Name</span></td>
                                            <td class="text-center"><span id="state">Father's Name</span></td>
                                            <td class="text-center"><span id="city">Gender</span></td>

                                        </tr>
                                        <tr class="header">
                                            <th class="text-center">Pin Code</th>
                                            <th class="text-center">Mobile No</th>
                                            <th class="text-center">Marital Status</th>
                                            <th class="text-center">Spouse</th>

                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="pin">D.O.B</span></td>
                                            <td class="text-center"><span id="mob">Name</span></td>
                                            <td class="text-center"><span id="marital_status">Father's Name</span></td>
                                            <td class="text-center"><span id="spouse_name">Gender</span></td>
                                        </tr>
                                    </table>

                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Medical Details</b></span>
                                    </legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Medical Status</th>
                                            <th class="text-center">Is Rescue</th>
                                            <th class="text-center">Blood Group</th>
                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="medical_status">Name</span></td>
                                            <td class="text-center"><span id="is_rescue">Name</span></td>
                                            <td class="text-center"><span id="blood_group">Father's Name</span></td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Mine Details</b></span>
                                    </legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Mine</th>
                                            <th class="text-center">RFID</th>
                                            <th class="text-center">Designation</th>
                                            <th class="text-center">Token No</th>
                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="mine">Name</span></td>
                                            <td class="text-center"><span id="rfid">Name</span></td>
                                            <td class="text-center"><span id="designation">Father's Name</span></td>
                                            <td class="text-center"><span id="token_no">Father's Name</span></td>
                                        </tr>
                                        <tr class="header">
                                            <th class="text-center">DoJ</th>
                                            <th class="text-center">DoR</th>
                                            <th class="text-center">Job Type</th>
                                            <th class="text-center">Mining Role</th>
                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="date_of_joining">Name</span></td>
                                            <td class="text-center"><span id="retirement_date">Name</span></td>
                                            <td class="text-center"><span id="job_type">Father's Name</span></td>
                                            <td class="text-center"><span id="mining_role">Father's Name</span></td>
                                        </tr>
                                        <tr class="header">
                                            <th class="text-center">Cat Type</th>
                                            <th class="text-center">Immediate Staff</th>

                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="cat_type">Name</span></td>
                                            <td class="text-center"><span id="immediate_staff">-------</span></td>
                                        </tr>

                                    </table>

                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Bank Details</b></span>
                                    </legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Bank Name</th>
                                            <th class="text-center">Bank Account No</th>
                                            <th class="text-center">Bank IFSC</th>
                                            <th class="text-center">Bank PF No</th>
                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="bank_name">Name</span></td>
                                            <td class="text-center"><span id="bank_ac_no">Name</span></td>
                                            <td class="text-center"><span id="bank_ifsc">Father's Name</span></td>
                                            <td class="text-center"><span id="bank_pf_no">Gender</span></td>

                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="row">

                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Document Details</b></span>
                                    </legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Aadhaar No</th>
                                            <th class="text-center">Pan No</th>
                                            <th class="text-center">Voter ID No</th>
                                            <th class="text-center">Medical Insurance No.</th>

                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="aadhaar_no">-------</span></td>
                                            <td class="text-center"><span id="pan_no">Name</span></td>
                                            <td class="text-center"><span id="voter_id_no">Father's Name</span></td>
                                            <td class="text-center"><span id="medical_ins_no">Gender</span></td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                            <div class="row">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border"><span><b>Education Details</b></span>
                                    </legend>
                                    <table style="width:100%" class="table-bordered">
                                        <tr class="header">
                                            <th class="text-center">Course Name</th>
                                            <th class="text-center">Board Name</th>
                                            <th class="text-center">Year</th>
                                            <th class="text-center">Percentage</th>

                                        </tr>
                                        <tr class="table-data">
                                            <td class="text-center"><span id="edu_course_name">Name</span></td>
                                            <td class="text-center"><span id="edu_board_name">Name</span></td>
                                            <td class="text-center"><span id="edu_year">Father's Name</span></td>
                                            <td class="text-center"><span id="edu_percent">Gender</span></td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary hidden-print" id="btnPrint">
                            <span aria-hidden="true" class="glyphicon glyphicon-print"></span>Print
                        </button>
                        <button class="btn btn-default hidden-print" data-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="UpdateShiftModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header update_employee">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="UpdateEmployeeTitle">Update Employee Shift</h4>
                </div>
                <div id="status_msg" style="font-size: large"></div>
                <input id="MinerIdUpdateShift" type="hidden" value="">
                <div class="modal-body" id="UpdateShiftOptions">

                </div>
                <div class="modal-footer">
                    <input class="btn btn-primary" id="UpdateShift" mode='1' type="submit" value="UpdateShift">

                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="generate_login" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header update_employee">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title " style="text-align:center" id="UpdateEmployeeTitle">Generate Login</h4>
                </div>
                <div id="status_msg_login"></div>
                <input id="MinerIdUpdateShift" type="hidden" value="">
                <div class="modal-body" id="UpdateShiftOptions">
                    <form>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_username">Username:</label>
                            <input type="text" name="username" autofocus="" class=" form-control" required=""
                                   id="id_username">
                        </div>
                        <div class="form-group">
                            <label for="id_username">Password:</label>
                            <input type="text" name="username" autofocus="" class=" form-control" required=""
                                   id="id_password">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" id="generate_login_submit" mode='1' type="submit" value="Generate">
                        Generate
                    </button>

                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(document.body).on("click", ".delete", function () {

                $("#sureDelete").attr("href", $(this).data('url'));
                $('#update_info').modal('show');

            });


            $(document.body).on("click", ".more_details", function () {

                url = $(this).data('url');
                id = this.id;

                $.ajax({
                    url: url,
                    dataType: 'json',
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.result)[0].fields;
                        obj['mine'] = data['mine_name'];
                        obj['mining_role'] = data['mining_role'];
                        FillDataToModel(obj);
                        $('#myModal').modal('show');
                    }
                });
            });

            function FillDataToModel(obj) {
                console.log('Moda Object', obj);
                for (let ob in obj) {

                    if (ob == 'photo' && !isEmpty(obj['photo'])) {
                        $('img#photo').attr("src", '/media/' + obj[ob]);
                    } else {
                        $("span#" + ob).html((isEmpty(obj[ob])) ? "-------" : obj[ob]);
                    }
                }
            }

            document.getElementById("btnPrint").onclick = function () {
                printElement(document.getElementById("printThis"));
                window.print();
            };

            function printElement(elem, append, delimiter) {

                let domClone = elem.cloneNode(true);
                console.log(domClone);
                let $printSection = document.getElementById("printSection");


                if (!$printSection) {
                    $printSection = document.createElement("div");
                    $printSection.id = "printSection";
                    document.body.appendChild($printSection);
                }
                $printSection.innerHTML = "";
                $printSection.appendChild(domClone);

            }

            $(document.body).on('click', ".generate_login", function (e) {
                let url = $(this).data('url');
                let email = $(this).data('email');
                let id = this.id;
                $('input#id_username').val(email.split('@')[0]);
                var randomstring = Math.random().toString(36).slice(-8);
                $('input#id_password').val(randomstring);
                $('#generate_login').modal('show');
                e.preventDefault();

                $("button#generate_login_submit").unbind().click(function () {
                    e.preventDefault();
                    $.ajax({
                        type: 'post',
                        url: url,
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: "{{ csrf_token }}",
                            'miner_id': id,
                            'username': $('input#id_username').val(),
                            'email': email,
                            'pass': $('input#id_password').val()
                        },
                        beforeSend: function () {
                            $('#status_msg_login').empty();
                            $('button#generate_login_submit').attr('disabled', 'true');
                            $('button#generate_login_submit').html('<span id="loading" class="glyphicon glyphicon-refresh"></span> Generating')
                        },
                        success: function (data) {
                            console.log(data);
                            if (!isEmpty(data.ie)) {
                                $('#status_msg_login').html('<span style="color:red;">&nbsp;&nbsp;&nbsp;&nbsp;' + data.ie + '!</span>');
                            } else if (!isEmpty(data.success)) {
                                $('#status_msg_login').html('<span style="color:green;">&nbsp;&nbsp;&nbsp;&nbsp;' + data.success + '!</span>');
                            }
                        },
                        error: function () {
                            console.log('Something Went Wrong!');
                        },
                        complete: function () {
                            $('button#generate_login_submit').removeAttr('disabled');
                            $('button#generate_login_submit').html('Generate')
                        }

                    });
                })
            });

            $(document.body).on("click", ".update_shift", function () {
                $('#status_msg').empty();
                let url = $(this).data('url');
                let id = this.id;
                let mode = $(this).attr('mode');
                $.ajax({
                    type: 'get',
                    url: url,
                    dataType: 'json',
                    data: {
                        'miner_id': id,
                        'mode': mode,
                    },
                    beforeSend: function () {
                        $('#UpdateShiftOptions').empty();
                    },
                    success: function (data) {
                        console.log('DATA', data);
                        let Y = data;
                        data = JSON.parse(data.result);

                        for (let d in data) {
                            if (data.hasOwnProperty(d)) {
                                $('#UpdateShiftOptions').append('<span><input type="radio" name="mine_shift_id" id="radio' + data[d].pk + '" required="true" value="' + data[d].pk + '">' + data[d].fields.shift_name + '(' + data[d].fields.time_from + '-' + data[d].fields.time_to + ')</span><br>');
                            }
                        }
                        $('input#MinerIdUpdateShift').val(id);

                        if (isEmpty(Y.assigned_shift)) {
                            $('#status_msg').html('<div class="alert alert-warning">Shift not assigned yet!</div>');
                        }
                        $('#UpdateEmployeeTitle').text('Employee shift update' + Y.employee_name);
                        $("#radio" + Y.assigned_shift).prop("checked", true);

                    },
                    complete: function () {
                        $('#UpdateShiftModal').modal('show')
                    }
                });

            });
            $(function () {

                $('#UpdateShift').on('click', function (e) {

                    let url = $('.update_shift').data('url');
                    let mode = $(this).attr('mode');
                    let mine_shift_id = $('input[name=mine_shift_id]:checked').val();
                    var $btn = $(this);
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: url,
                        data: {
                            'miner_id': $('input#MinerIdUpdateShift').val(),
                            'mode': mode,
                            'mine_shift_id': mine_shift_id,

                        },
                        beforeSend: function () {
                            $btn.button('loading');
                        },
                        success: function (response) {
                            if (response.hasOwnProperty('success')) {
                                $('#status_msg').html('<div class="alert alert-success">Shift updated successfully!</div>');
                                return response
                            }
                            $('#status_msg').html('<div class="alert alert-danger">Something Went Wrong!!</div>');

                        },
                        error: function () {
                            $('#status_msg').html('<div class="alert alert-danger">Something Went Wrong!!</div>');
                            console.log('Something Went Wrong!')
                        },
                        complete: function () {
                            $btn.button('reset');
                            setTimeout(function () {
                                $('#UpdateShiftModal').modal('toggle');
                            }, 1000)
                        }
                    });
                    return false;
                });
            });
        });
    </script>
    <style>
        .glyphicon-plus-sign {
            color: red !important;
        }

        input[type="radio"]:checked + label {
            font-weight: bold;
        }
    </style>
{% endblock %}