{% extends "base.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<div class='row'>
    <div class='col-sm-12'>
        <center><h1>Today's CH4-REPORT(in %)OF LAST TEN RECORDS</h1></center>
        <div class="col-md-8">
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>

    </div>
</div>
<script>
 $(document).ready(function(){


var endpoint = '{% url 'employee:get_data_for_graph' %}'
var defaultData = []
var labels = [];
$.ajax({
    method: "GET",
    url:endpoint,
    success: function(data){
         //alert(data);
         labels = data.labels
         defaultData = data.default
         setChart()

     },
     error: function(error_data){
          console.log("error he ji")
          console.log(error_data)
         }
  })
 function setChart(){
        var ctx = document.getElementById("myChart");
                var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: 'ch4 %',
                                    data: defaultData,
                                    backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true

                }
            }]
        }
     }
   });
   }



















    });
</script>
{% endblock %}