{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
{#                <h1 class="page-header">Manage wireless Sensor</h1>#}
                 <h3 class="page-header"><b>ENVIRONMENT MONITORING : {{ action }} SENSOR UNDER</b>
                   (<span style="color:Tomato;">{{ mine_name }}</span> /
                    <span style="color:Tomato;">{{ node_name }}</span>)
                </h3>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'sensor:add_sensor' mine node_id %}">Add Sensor</a>
                    </div>
                </div>
        <hr>
        <!-- Table content -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <!--                <div><a href="{% url 'sensor:background_data'%}" title="show live"><span class="glyphicon glyphicon-pencil"></span></a></div>-->
                    <table class="table table-bordered" id="content">
                        <thead>
                        <tr>
                            <th class="text-center">SL No</th>
                            <th class="text-center">Mine name</th>
                            <th class="text-center">Sensor Id</th>
                            <th class="text-center">Sensor Name</th>
                            <th class="text-center">IP Address</th>
                            <th class="text-center">Sensor unit</th>
                            <th class="text-center">Threshold Vlaue</th>
                            <th class="text-center">Sensor data acquisition</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for wireless in result %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td class="text-center">{{ wireless.mine_name }}</td>
                                <td class="text-center">{{ wireless.sensor_id }}</td>
                                <td class="text-center">{{ wireless.sensor_name }}</td>
                                <td class="text-center">{{ wireless.ip }}</td>
                                <td class="text-center">{{ wireless.unit }}</td>
                                <td class="text-center">{{ wireless.thresholdlimit }}</td>
{#                                <td class="text-center"><a#}
{#                                        href="{% url 'sensor:start_save_sensor' wireless.id %}"#}
{#                                        title="{% if wireless.background %}Stop {% else %}Start {% endif %}sensor data acquisition"#}
{#                                        style="color:{% if wireless.background %}green {% endif %}"><span#}
{#                                        class="glyphicon glyphicon-record"></span></a></td>#}
                                <td class="text-center"><input {% if wireless.background %}checked {% endif %}
                                                                       data-url="{% url 'sensor:start_save_sensor' wireless.id %}"
                                                                       id="isAcquire{{ wireless.id }}"
                                                                       data-val="{{ wireless.id }}" class="DataAcquisition"
                                                                       type="checkbox"
                                                                       data-toggle="toggle" data-on="On"
                                                                       data-off="off" data-onstyle="success"
                                                                       data-offstyle="danger"></td>
                                <td class="text-center">
                                    <a href="{% url 'sensor:edit_sensor' wireless.id wireless.node_id %}"
                                        title="Edit Node.">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>

                                </td>
                                <td class="text-center"><a href="#" class="delete"
                                                           data-url="{% url 'sensor:delete_sensor' wireless.id wireless.node_id %}"
                                                           title="Delete Node."><span
                                        class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end Table content -->
        </section>
    </div>
    </div>
    <script>
     $(document).ready(function () {
          $(document.body).on("click", ".delete", function () {
            $("#sureDelete").attr("href", $(this).data('url'));
            $('#update_info').modal('show');

        });

     $('.DataAcquisition').change(function () {
                let isAcquire=this.id;
                let action=$('#'+isAcquire).prop("checked");
                $.ajax({
                    type: "post",
                    url: $(this).data('url'),
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        'action':action
                    },
                    success: function (json) {
                        if(json.hasOwnProperty("error")){
                            $('#'+isAcquire).bootstrapToggle('off');
                        }
                    },
                    error: function () {
                         $('#'+isAcquire).bootstrapToggle('off');
                        console.log("something is not right.please contact admin - 1");
                    }
                });
                {#console.log($(this).data('val'), $(this).prop('checked'));#}
            });


           });

    </script>

{% endblock %}