{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h2 class="page-header" style="text-align: left;"><b>Show Strata Graph between dates</b></h2>
                <div class="row">
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Mine:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.mine_name }}
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Location:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="id_location_id"
                                data-url="{% url 'Strata:fetch_location_ajax' %}">
                            <option value="">--Select Location--</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Sensor:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="id_sensor_list"
                                data-url="{% url 'Strata:fetch_sensor_ajax' %}">>
                            <option value="">--Select Sensor--</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-1">
                        <label for="" class="" id="">From Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="from_date" value="{% now "Y-m-d  08:00:00" %}">
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">To Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="to_date" value="{% now "Y-m-d  H:i:s" %}">
                    </div>
                    <div class="col-md-4">
                        <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                    </div>
                </div>
                <div id='stratamonitoring' data-strata-location="{{ iframe_strata_location }}"
                     data-strata-sensor="{{ iframe_strata_sensor }}"
                     data-values-url="{% url 'Strata:fetch_sensor_date_range' %}"
                     data-url="{% url 'Strata:fetch_sensor_common_values_ajax' %}">

                    <!-- Plotly chart will be drawn inside this DIV --></div>
            </section>
        </div>
    </div>
    <script>

        $(document).ready(function () {

            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss'
            });
            let strata_location_url = $('#id_location_id').attr('data-url');
            let strata_sensor_url = $('#id_sensor_list').attr('data-url');
            $("#id_mine_name").addClass('form-control');
            $("#id_mine_name").on("change", function () {
                let mine_id = this.value;
                console.log(mine_id);
                $.ajax({
                    type: "get",
                    url: strata_location_url,
                    data: {
                        'id': mine_id
                    },
                    success: function (data) {
                        fill_dropdown(data.result);
                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });
            });

            function fill_dropdown(result) {
                console.log(result);
                $("#id_location_id").html("<option>--Select Location--</option>");
                for (var strata in result) {
                    if (result.hasOwnProperty(strata)) {
                        $("#id_location_id").append($("<option />").val(result[strata].id).text(result[strata].name));
                    }
                }
            }

            $("#id_location_id").on("change", function () {
                let location_id = this.value;
                $.ajax({
                    type: "get",
                    url: strata_sensor_url,
                    data: {
                        'id': location_id
                    },
                    success: function (data) {
                        fill_dropdown_sensor(data.result);

                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });
            });

            function fill_dropdown_sensor(result) {

                $("#id_sensor_list").html("<option>--Select Location--</option>");
                for (var sensor in result) {
                    if (result.hasOwnProperty(sensor)) {
                        $("#id_sensor_list").append($("<option />").val(result[sensor].id).text(result[sensor].name));
                    }
                }
            }

            let strata_url = $('#stratamonitoring').attr('data-url');
            let strata_values_url = $('#stratamonitoring').attr('data-values-url');

            $("#btn_show").click(function () {
                $("#btn_show").val("Please wait...");
                $("#btn_show").prop('disabled', true);

                let sensor_id = $("#id_sensor_list").val();
                if (sensor_id) {
                    let datefrom = $("#from_date").val();
                    let dateto = $("#to_date").val();
                    strataStart(sensor_id, strata_url, datefrom, dateto);
                }else{
                    alert("Please choose sensor");
                    $("#btn_show").val("Show");
                    $("#btn_show").prop('disabled', false);
                }
            });

            function strataStart(sensor_id, url, datefrom, dateto) {
                $.xhrPool.abortAll();
                $.ajax({
                    type: "get",
                    url: url,
                    data: {
                        'id': sensor_id
                    },
                    beforeSend: function (jqXHR) {
                        $.xhrPool.push(jqXHR);
                    },
                    success: function (data) {
                        var strata = data.result;

                        let strata_l_Value = parseFloat(strata.level1);
                        let strata_m_Value = parseFloat(strata.level2);
                        let strata_h_Value = parseFloat(strata.level3);

                        stratamonitoringajax(strata_l_Value, strata_m_Value, strata_h_Value, strata_values_url, sensor_id, datefrom, dateto);

                        $("#btn_show").val("Show");
                        $("#btn_show").prop('disabled', false);
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }, timeout: 10000
                });
            }

            var stratamonitoringajax = function (strata_l_Value, strata_m_Value, strata_h_Value, url, sensor_id, datefrom, dateto) {

                StrataAjax = $.ajax({
                    type: "get",
                    url: url,
                    data: {
                        'id': sensor_id,
                        'date_from': datefrom,
                        'date_to': dateto,
                    },
                    beforeSend: function (jqXHR) {
                        $.xhrPool.push(jqXHR);
                    },
                    success: function (data) {
                        let time = [];
                        let strataValue = [];
                        let strataL = [];
                        let strataM = [];
                        let strataH = [];
                        let strataHH = [];
                        let strata = data.result;
                        for (let st in strata) {
                            if (strata.hasOwnProperty(st)) {
                                time.push(strata[st].date);
                                strataValue.push(strata[st].sensor_value / 15);
                                strataL.push(strata_l_Value);
                                strataM.push(strata_m_Value);
                                strataH.push(strata_h_Value);
                                strataHH.push(strata_h_Value * 1.2);
                            }
                        }
                        let sL = {
                            x: time,
                            y: strataL.reverse(),
                            fill: 'tonexty',
                            type: 'scatter',
                            fillcolor: 'rgba(158,158,158,0.18)', //white
                            hoverinfo: 'skip',
                            mode: 'lines',
                            name: 'Safe',
                        };
                        let sM = {
                            x: time,
                            y: strataM.reverse(),
                            fill: 'tonexty',
                            mode: 'lines',
                            fillcolor: '#0096888a',
                            hoverinfo: 'skip',
                            name: '1st Level',

                        };
                        let sH = {
                            x: time,
                            y: strataH.reverse(),
                            fill: 'tonexty',
                            type: 'scatter',
                            fillcolor: '#ffeb3b75',
                            hoverinfo: 'skip',
                            mode: 'lines',
                            name: '2nd Level',

                        };
                        let sHH = {
                            x: time,
                            y: strataHH.reverse(),
                            fill: 'tonexty',
                            type: 'scatter',
                            fillcolor: '#f443368c',
                            hoverinfo: 'skip',
                            mode: 'lines',
                            name: '3rd Level',

                        };
                        let s = {
                            x: time,
                            y: strataValue.reverse(),
                            type: 'scatter',
                            fillcolor: 'rgba(3,169,244,0.5)',
                            mode: 'markers+lines',
                            marker: {
                                color: 'rgba(3,169,244,1)',
                                size: 12
                            },
                            hoveron: 'points',
                            hovertemplate: '%{x} : %{y:0.2f} mm<extra></extra>',
                            hoverinfo: 'text',
                            title: 'Time',
                            name: 'Strata',
                        };


                        let strata_layout = {
                            xaxis: {
                                nticks: 10,
                                domain: [0, 1],
                                title: "Time",
                            },
                            yaxis: {
                                domain: [0, 1],
                                title: "Strata Level (in mm)",
                                range: [0, strata_h_Value * 1.2]
                            },
                            images: [{
                                name: 'watermark_1',
                                source: "http://localhost:8000/static/image/csir_logo.svg",
                                xref: "paper",
                                yref: "paper",
                                x: 0.25,
                                y: 0.9,
                                sizex: 0.7,
                                sizey: 0.7,
                                opacity: 0.1,
                                layer: "below"
                            }],
                            showlegend: true,
                            legend: {
                                xanchor: "left",//"auto" | "left" | "center" | "right"
                                yanchor: "bottom",//"auto" | "top" | "middle" | "bottom"
                                y: 1,//number between or equal to -2 and 3
                                x: 0,//number between or equal to -2 and 3
                                orientation: "h"
                            }
                        };
                        let config = {responsive: true};
                        let update = [sL, sM, sH, sHH, s];
                        Plotly.react('stratamonitoring', update, strata_layout, config, [0, 1, 2, 3, 4]);
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    },
                    timeout: 60000,
                })
            };
        });
    </script>
{% endblock %}