{% extends "base.html" %}
{% block content %}
<!--<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->
<!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Show Strata Graph between dates</h1>
                <div class="row">
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Mine:</label>
                    </div>
                    <div class="col-md-3">
                        {{form.mine_name}}
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Location:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="id_location_list">
                            <option value="">--Select Location--</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Sensor:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="id_sensor_list">
                            <option value="">--Select Sensor--</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-1">
                        <label for="" class="" id="">From Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="from_date" name="">
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">To Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="to_date" name="">
                    </div>
                    <div class="col-md-4">
                        <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <input type="button" style="display:none" id="btn_print" class="btn btn-success btn-sm" value="Print"/>
                    <div class="table-responsive">
                        <div id="chartContainer" style="width: 100%; height: 500px;"></div>

                    </div>
                </div>
        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $('#from_date').datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });
    $('#to_date').datetimepicker({
        format: 'YYYY-MM-DD hh:mm:ss'
    });

    <!--$("#from_date").datepicker({ format: 'yyyy-mm-dd'});-->
    <!--$("#to_date").datepicker({ format: 'yyyy-mm-dd'});-->
    $("#id_mine_name").addClass('form-control');
    $("#id_mine_name").on("change",function(){
    mine_id=this.value;
    $.ajax({
            type:"get",
            url: "{% url 'Strata:fetch_location_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                //console.log(data.result);
                //alert(data.result[0]);
                fill_dropdown(data.result);

                return data;
                    },
            error: function(){
                    console.log("error he ji");
                 }
            });
});
function fill_dropdown(result){
    $("#id_location_list").html("<option>--Select Location--</option>");
    for (index = 0; index < result.length; index++) {
    //alert(result[index]);
    var str_array = result[index].split(',');
    //alert("id="+str_array[0]+":name="+str_array[1]);
    $("#id_location_list").append($("<option />").val(str_array[0]).text(str_array[1]));
    }
}
    $("#id_location_list").on("change",function(){
    location_id=this.value;
    $.ajax({
            type:"get",
            url: "{% url 'Strata:fetch_sensor_ajax' %}",
            data: {
                     'id': location_id
                   },
            success: function(data) {
                //console.log(data.result);
                //alert(data.result[0]);
                fill_dropdown_sensor(data.result);

                return data;
                    },
            error: function(){
                    console.log("error he ji");
                 }
            });
});
function fill_dropdown_sensor(result){
    $("#id_sensor_list").html("<option>--Select Sensor--</option>");
    for (index = 0; index < result.length; index++) {
    //alert(result[index]);
    var str_array = result[index].split(',');
    //alert("id="+str_array[0]+":name="+str_array[1]);
    $("#id_sensor_list").append($("<option />").val(str_array[0]).text(str_array[1]));
    }
}
    $("#btn_show").click(function(){
        $("#btn_show").val("Please wait...");
        $("#btn_show").prop('disabled', true);

         sensor_id=$("#id_sensor_list").val();
        if(sensor_id){
            datefrom=$("#from_date").val();
            dateto=$("#to_date").val();


            $.ajax({
            type:"get",
            url: "{% url 'Strata:fetch_sensor_date_range' %}",
            data: {
                     'id': sensor_id,
                     'date_from':datefrom,
                     'date_to':dateto,
                   },
            success: function(data) {
                console.log(data)
                    var x_data=[];
                    var y_data=[];
                    for (index = 0; index < data.result.length; index++) {
                        var str_array = data.result[index].split(',');
                        x_data.push(moment(str_array[0]).format("DD-MM-YYYY HH:mm:ss"));
                        y_data.push(str_array[4]);
                    }
                    console.log(x_data);
                    console.log(y_data);
                    var data = [{
                    x: x_data.reverse(),
                    y: y_data.reverse(),
                    type: 'scatter'
                    }];
                    Plotly.newPlot('chartContainer', data, {}, {showSendToCloud: true});
                    $("#btn_show").val("Show");
                    $("#btn_show").prop('disabled', false);
                return data;
                    },
            error: function(){
                    console.log("error he ji");
                 }
            });
        }else{
            alert("Please choose sensor");
        }

    });
// function call_graph(data){
//     var dps = [];
//     for(index = 0; index < data.length; index++) {
//                     var str_array = data[index].split(',');
//                     dps.push({
// 			            x: Date.parse(str_array[0]),
// 			            y: Number(str_array[1])
// 		            });
//     }
// var chart = new CanvasJS.Chart("chartContainer", {
// 	animationEnabled: true,
// 	theme: "light2",
// 	title:{
// 		text: "Sensor Data Records"
// 	},
// 	axisX: {
// 		valueFormatString: "DD MMM"
// 	},
// 	axisY: {
// 		title: "mm",
// 		maximum: 20
// 	},
// 	data: [{
// 		type: "splineArea",
// 		color: "#6599FF",
// 		xValueType: "dateTime",
// 		xValueFormatString: "DD MMM",
// 		yValueFormatString: "#,##0.##\"mm\"",
// 		dataPoints: dps
// 	}]
// });

//chart.render();
//}

</script>
{% endblock %}