{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h2 class="page-header"><b>SHOW STRATA DATA BETWEEN TWO DATES
                    <small> Here we can view strata data</small>
                </b></h2>
                <div class="row">
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Mine:</label>
                    </div>
                    <div class="col-md-3">
                        {{ form.mine_name }}
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Location:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="id_location_id">
                            <option value="">--Select Location--</option>
                        </select>
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">Choose Sensor:</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" id="id_sensor_list">
                            <option value="">--Select Sensor--</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-1">
                        <label for="" class="" id="">From Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="from_date" name="">
                    </div>
                    <div class="col-md-1">
                        <label for="" class="" id="">To Date:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="to_date" name="">
                    </div>
                    <div class="col-md-4">
                        <input type="submit" id="btn_show" class="btn btn-primary" value="Show"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="text-center">

                    </div>
                </div>
                <div class="col-md-12" style="margin-top:15px;">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="sensor_content">
                            <thead>
                            <tr>
                                <th>Date Time</th>
                                <th>Mine Name</th>
                                <th>Location Name</th>
                                <th>Sensor Name</th>
                                <th>Sensor Value</th>
                                <th>Sensor Unit</th>
                                <th>Tag No</th>
                            </tr>
                            </thead>
                            <tbody id="sensor_content_body">


                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>#}
{#    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>#}
{#    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>#}

    <script>

        $(document).ready(function () {
            d_table();
            console.log('Table');
            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD hh:mm:ss'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD hh:mm:ss'
            });
            //$("#from_date").datepicker({ format: 'yyyy-mm-dd'});
            //$("#to_date").datepicker({ format: 'yyyy-mm-dd'});
            $("#id_mine_name").addClass('form-control');

            $("#id_mine_name").on("change", function () {
                mine_id = this.value;
                $.ajax({
                    type: "get",
                    url: "{% url 'Strata:fetch_location_ajax' %}",
                    data: {
                        'id': mine_id
                    },
                    success: function (data) {
                        console.log(data);
                        fill_dropdown(data.result);
                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });
            });

            function fill_dropdown(result) {
                $("#id_location_id").html("<option>--Select Location--</option>");
                for (var strata in result) {
                    if (result.hasOwnProperty(strata)) {
                        $("#id_location_id").append($("<option />").val(result[strata].id).text(result[strata].name));
                    }
                }
            }

            $("#id_location_id").on("change", function () {
                location_id = this.value;
                $.ajax({
                    type: "get",
                    url: "{% url 'Strata:fetch_sensor_ajax' %}",
                    data: {
                        'id': location_id
                    },
                    success: function (data) {
                        fill_dropdown_sensor(data.result);
                        return data;
                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                    }
                });
            });

            function fill_dropdown_sensor(result) {
                 $("#id_sensor_list").html("<option>--Select Location--</option>");
                for (var sensor in result) {
                    if (result.hasOwnProperty(sensor)) {
                        $("#id_sensor_list").append($("<option />").val(result[sensor].id).text(result[sensor].name));
                    }
                }

            }

            $("#btn_show").click(function () {
                sensor_id = $("#id_sensor_list").val();
                $("#btn_show").val("Please wait...");
                $("#btn_show").prop('disabled', true);
                if (sensor_id) {

                    date_from = $("#from_date").val();
                    date_to = $("#to_date").val();
                    $("#sensor_content_body").empty();//empty the table on each click
                    $.ajax({
                        type: "get",
                        url: "{% url 'Strata:fetch_sensor_date_range' %}",
                        data: {
                            'id': sensor_id,
                            'date_from': date_from,
                            'date_to': date_to,
                        },
                        success: function (data) {
                            console.log(data.result);
                            <!--alert(data.result);-->
                            fill_table_sensor(data.result);

                            return data;
                        },
                        error: function () {
                            console.log("error he ji");
                        }
                    });
                } else {
                    alert("Please choose sensor");
                }

            });

            function fill_table_sensor(result) {
                if ($.fn.DataTable.isDataTable('#sensor_content')) {
                    $('#sensor_content').DataTable().destroy();
                }
                for (index = 0; index < result.length; index++) {
                    var str_array = result[index].split(',');
                    $("#ip_hidden").val(str_array[1]);
                    $("#sensor_content_body").append($("<tr><td>" + moment(str_array[0]).format("DD-MM-YYYY HH:mm:ss") + "</td><td>" + str_array[1] + "</td><td>" + str_array[2] + "</td><td>" + str_array[3] + "</td><td>" + str_array[4] + "</td><td>" + str_array[5] + "</td><td>" + str_array[6] + "</td></tr>"));
                }
                d_table();
                $("#btn_show").val("Show");
                $("#btn_show").prop('disabled', false);
            }

            function d_table() {
                $('#sensor_content').DataTable({
                    paging: false,
                    searching: true,
                    "ordering": false,
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            }

        });
    </script>
{% endblock %}