{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h2 class="page-header" style="text-align: left;"><b>STRATA LIVE GRAPH</b>
                    <small> Here we can view strata live graph</small>
                </h2>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="" id="">Choose Mine:</label>
                    </div>
                    <div class="col-md-4">
                        {{ form.mine_name }}
                    </div>
                    <div class="col-md-2">
                        <label for="" class="" id="">Choose Location:</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="id_location_id"
                                data-url="{% url 'Strata:fetch_location_ajax' %}">
                            <option>--Select Location--</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <label for="" class="" id="">Choose Sensor:</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="id_sensor_list"
                                data-url="{% url 'Strata:fetch_sensor_ajax' %}">
                            <option value="">--Select Sensor--</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="" class="" id="">Wireless data is comming from IP:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" readonly id="ip_hidden">
                    </div>
                </div>
                <div class="row margin_top">
                    <div class="text-center">
                        <input type="button" id="btn_show" class="btn btn-primary" value="Show"/>
                    </div>
                </div>
                <div id='stratamonitoring' data-strata-location="{{ iframe_strata_location }}"
                     data-strata-sensor="{{ iframe_strata_sensor }}"
                     data-values-url="{% url 'Strata:fetch_sensor_values_ajax' %}"
                     data-url="{% url 'Strata:fetch_sensor_common_values_ajax' %}">

                    <!-- Plotly chart will be drawn inside this DIV --></div>
            </section>

        </div>
    </div>
    <script>
        $(document).ready(function () {
                $.xhrPool = [];
                $.xhrPool.abortAll = function () {
                    $(this).each(function (i, jqXHR) {   //  cycle through list of recorded connection
                        jqXHR.abort();  //  aborts connection
                        $.xhrPool.splice(i, 1); //  removes from list by index
                    });
                };
                let strata_location_url = $('#id_location_id').attr('data-url');
                let strata_sensor_url = $('#id_sensor_list').attr('data-url');
                $("#id_mine_name").addClass('form-control');
                //------------------------------------------------------------------------------------------------------------------
                $("#id_mine_name").on("change", function () {
                    mine_id = this.value;
                    $.ajax({
                        type: "get",
                        url: strata_location_url,
                        data: {
                            'id': mine_id
                        },
                        success: function (data) {
                            fill_dropdown(data.result);
                            return data;
                        },
                        error: function () {
                            console.log("something went wrong");
                        }
                    });
                });

                //------------------------------------------------------------------------------------------------------------------
                function fill_dropdown(result) {
                    $("#id_location_id").html("<option>--Select Location--</option>");
                    for (var strata in result) {
                        if (result.hasOwnProperty(strata)) {
                            $("#id_location_id").append($("<option />").val(result[strata].id).text(result[strata].name));
                        }
                    }
                }

                //------------------------------------------------------------------------------------------------------------------
                $("#id_location_id").on("change", function () {

                    let location_id = this.value;
                    $.ajax({
                        type: "get",
                        url: strata_sensor_url,
                        data: {
                            'id': location_id
                        },
                        success: function (data) {
                            fill_dropdown_sensor(data.result);
                            return data;
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        }
                    });
                });

                //------------------------------------------------------------------------------------------------------------------
                function fill_dropdown_sensor(result) {

                    $("#id_sensor_list").html("<option>--Select Location--</option>");
                    for (var sensor in result) {
                        if (result.hasOwnProperty(sensor)) {
                            $("#id_sensor_list").append($("<option />").val(result[sensor].id).text(result[sensor].name));
                        }
                    }
                }

                //------------------------------------------------------------------------------------------------------------------
                var l_label = "Low";
                var l_Value = "";
                var l_color = "";

                var m_label = "Medium";
                var m_Value = "";
                var m_color = "";

                var h_label = "High";
                var h_Value = "";
                var h_endValue = "";
                var h_color = "";
                var unit_sensor = "";
                var custom_title = "";

                var audio_type = "";
                var first_warning = "";
                var second_warning = "";
                var third_warning = "";

                var first_audio = "";
                var second_audio = "";
                var third_audio = "";

                let strataFlag = 0;
                let strata_url = $('#stratamonitoring').attr('data-url');
                let strata_values_url = $('#stratamonitoring').attr('data-values-url');

                $("#btn_show").click(function () {
                    $.xhrPool.abortAll();
                    var warning_validation = 2;
                    $("#ip_hidden").val("");//empty the IP address on each click
                    let sensor_id = $("#id_sensor_list").val();
                    if (sensor_id) {
                        strataFlag = 1;
                        strataStart(sensor_id, strata_url);
                        strataFlag = 0;
                    }
                });


                function strataStart(sensor_id, url) {
                    $.xhrPool.abortAll();
                    $.ajax({
                        type: "get",
                        url: url,
                        data: {
                            'id': sensor_id
                        },
                        beforeSend: function (jqXHR) {
                            $.xhrPool.push(jqXHR);
                        },
                        success: function (data) {

                            var strata = data.result;
                            console.log(strata);
                            $("#ip_hidden").val(strata.ip);
                            let strata_l_Value = parseFloat(strata.level1);
                            let strata_l_color = strata.level1_color;

                            let strata_m_Value = parseFloat(strata.level2);
                            let strata_m_color = strata.level2_color;

                            let strata_h_Value = parseFloat(strata.level3);
                            let strata_h_color = strata.level3_color;

                            let strata_audio_type = strata.audio_type;
                            let strata_first_warning = strata.level1_msg;
                            let strata_second_warning = strata.level2_msg;
                            let strata_third_warning = strata.level3_msg;

                            let strata_first_audio = strata.level1_audio;
                            let strata_second_audio = strata.level2_audio;
                            let strata_third_audio = strata.level3_audio;

                            console.log('strata l m h', strata_l_Value, strata_m_Value, strata_h_Value);

                            //INITIALIZING PLOTLY
                            var y = [];
                            var time = new Date();

                            var strata_white = {
                                x: [1, 2, 3, 4],
                                y: [strata_l_Value, strata_l_Value, strata_l_Value, strata_l_Value],
                                fill: 'tonexty',
                                type: 'scatter',
                                fillcolor: 'rgba(158,158,158,0.18)', //white
                                hoverinfo: 'skip',
                                mode: 'lines',
                                name: 'Safe',

                            };
                            var strata_green = {
                                x: [1, 2, 3, 4],
                                y: [strata_m_Value, strata_m_Value, strata_m_Value, strata_m_Value],
                                fill: 'tonexty',
                                mode: 'lines',
                                fillcolor: '#0096888a',
                                hoverinfo: 'skip',
                                name: '1st Level',
                            };
                            var strata_yellow = {
                                x: [1, 2, 3, 4],
                                y: [strata_h_Value, strata_h_Value, strata_h_Value, strata_h_Value],
                                fill: 'tonexty',
                                type: 'scatter',
                                fillcolor: '#ffeb3b75',
                                hoverinfo: 'skip',
                                mode: 'lines',
                                name: '2nd Level',
                            };
                            var strata_red = {
                                x: [1, 2, 3, 4],
                                y: [strata_h_Value * 1.2, strata_h_Value * 1.2, strata_h_Value * 1.2, strata_h_Value * 1.2],
                                fill: 'tonexty',
                                type: 'scatter',
                                fillcolor: '#f443368c',
                                hoverinfo: 'skip',
                                mode: 'lines',
                                name: '3rd Level',

                            };
                            var strata = {
                                x: [time],
                                y: y,
                                type: 'scatter',
                                fillcolor: 'rgba(3,169,244,0.5)',
                                mode: 'markers+lines',
                                marker: {
                                    color: 'rgba(3,169,244,1)',
                                    size: 12
                                },

                                hoveron: 'points',
                                hovertemplate: '%{x} : %{y:0.2f} mm<extra></extra>',
                                hoverinfo: 'text',
                                title: 'Time',
                                name: 'Strata',
                            };

                            var strata_layout = {
                                xaxis: {
                                    nticks: 10,
                                    domain: [0, 1],
                                    title: "Time",
                                },
                                yaxis: {
                                    domain: [0, 1],
                                    title: "Strata Level (in mm)",
                                    range: [0, strata_h_Value * 1.2]
                                },
                                images: [{
                                    name: 'watermark_1',
                                    source: "http://localhost:8000/static/image/csir_logo.svg",
                                    xref: "paper",
                                    yref: "paper",
                                    x: 0.25,
                                    y: 0.9,
                                    sizex: 0.7,
                                    sizey: 0.7,
                                    opacity: 0.1,
                                    layer: "below"
                                }],
                                showlegend: true,
                                legend: {
                                    xanchor: "left",//"auto" | "left" | "center" | "right"
                                    yanchor: "bottom",//"auto" | "top" | "middle" | "bottom"
                                    y: 1,//number between or equal to -2 and 3
                                    x: 0,//number between or equal to -2 and 3
                                    orientation: "h"
                                }
                            }

                            var strata_data = [strata_white, strata_green, strata_yellow, strata_red, strata];
                            var config = {responsive: true};
                            Plotly.react('stratamonitoring', strata_data, strata_layout, config);

                            //PLOTLY INITIALZATION END

                            stratamonitoringajax(strata_l_Value, strata_m_Value, strata_h_Value, strata_values_url, sensor_id);

                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        }, timeout: 10000
                    });
                }

                $("#current_date").removeAttr('style');


                //------------------------------------------------------------------------------------------------------------------

                var stratamonitoringajax = function (strata_l_Value, strata_m_Value, strata_h_Value, url, sensor_id) {
                    console.log('flag', strataFlag);
                    StrataAjax = $.ajax({
                        type: "get",
                        url: url,
                        data: {
                            'id': sensor_id
                        },
                        beforeSend: function (jqXHR) {
                            $.xhrPool.push(jqXHR);
                        },
                        success: function (data) {
                            console.log('new l m h', strata_l_Value, strata_m_Value, strata_h_Value);
                            var value = data.result.sensor_value;
                            time = new Date();
                            var update = {
                                x: [[time], [time], [time], [time], [time]],
                                y: [[strata_l_Value], [strata_m_Value], [strata_h_Value], [strata_h_Value * 1.2], [value / 15]],
                            };
                            var olderTime = time.setMinutes(time.getMinutes() - 1);
                            var futureTime = time.setMinutes(time.getMinutes() + 1);
                            var minuteView = {
                                legend: {
                                    xanchor: "left",//"auto" | "left" | "center" | "right"
                                    yanchor: "bottom",//"auto" | "top" | "middle" | "bottom"
                                    y: 1,//number between or equal to -2 and 3
                                    x: 0,//number between or equal to -2 and 3
                                    orientation: "h"
                                },
                                xaxis: {
                                    type: 'date',
                                    range: [olderTime, futureTime],
                                    title: 'Time',
                                    nticks: 10,
                                    domain: [0, 1],
                                }
                            };

                            Plotly.relayout('stratamonitoring', minuteView);
                            Plotly.extendTraces('stratamonitoring', update, [0, 1, 2, 3, 4]);

                            checkAndPlay(Number(str_array[6]))

                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                        },
                        complete: function () {
                            if (strataFlag == 1) {
                                strataFlag = 0;
                                return;
                            }
                            setTimeout(stratamonitoringajax(strata_l_Value, strata_m_Value, strata_h_Value, url, sensor_id), 100);
                        }, timeout: 60000,
                    });
                };

                function checkAndPlay(sensorValue) {
                    console.log(sensorValue);
                    console.log("Value Came");

                    var loc = window.location;
                    var baseUrl = loc.protocol + "//" + loc.hostname + (loc.port ? ":" + loc.port : "") + "/media/";

                    if ((parseFloat(l_Value) < parseFloat(sensorValue)) && (parseFloat(sensorValue) < parseFloat(m_Value))) {//low level
                        $.toast({
                            heading: '<b>Strata Monitoring : First Level Warning</b>',
                            text: first_warning,
                            showHideTransition: 'fade',
                            position: 'bottom-right',
                            icon: 'error'
                        })
                        if (audio_type == "text2voice") {
                            Speak(first_warning, 9, 0.5);
                        } else {
                            path = baseUrl + first_audio;
                            var playNow = new Audio(path);
                            playNow.play();
                        }
                    }
                    if ((parseFloat(m_Value) < parseFloat(sensorValue)) && (parseFloat(sensorValue) < parseFloat(h_Value))) {//middle level
                        $.toast({
                            heading: '<b>Strata Monitoring : Second Level Warning </b>',
                            heading: '<b>Strata Monitoring : Second Level Warning </b>',
                            text: second_warning,
                            showHideTransition: 'fade',
                            position: 'bottom-right',
                            icon: 'error'
                        })
                        if (audio_type == "text2voice") {
                            console.log(second_warning)
                            Speak(second_warning, 9, 0.5);
                        } else {
                            path = baseUrl + second_audio;
                            var playNow = new Audio(path);
                            playNow.play();
                        }
                    }

                    if (parseFloat(h_Value) < parseFloat(sensorValue)) {//high level
                        $.toast({
                            heading: '<b>Strata Monitoring : Third Level Warning</b> ',
                            text: third_warning,
                            position: 'bottom-right',
                            showHideTransition: 'fade',
                            icon: 'error'
                        })
                        if (audio_type == "text2voice") {
                            Speak(third_warning, 9, 0.5);
                        } else {
                            path = baseUrl + third_audio;
                            var playNow = new Audio(path);
                            playNow.play();
                        }
                    }
                }
            }
        );
    </script>
{% endblock %}


