{% extends "base.html" %}
{% block content %}
    {% if messages %}
        <center>
            <b class="text-danger">
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

            </b>
        </center>
    {% endif %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h2 class="page-header" style="text-align: left;"><b>Manage Sensor</b>
                    <small> Here you can manage sensor</small>
                </h2>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'Strata:add_sensor_in_location' %}">Add Sensor</a>
                    </div>
                </div>
                <br>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover" id="content">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Mine Name</th>
                                    <th>Location Name</th>
                                    <th>Sensor Name</th>
                                    <th>Sensor Unit</th>
                                    <th>Tag-No</th>
                                    <th>IP Address</th>
                                    <th class="text-center">Sensor data acquisition</th>
                                    <th class="text-center">Audio setting</th>
                                    <th class="text-center">Edit</th>
                                    <th class="text-center">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for strata in result %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ strata.mine }}</td>
                                        <td>{{ strata.location }}</td>
                                        <td>{{ strata.sensor }}</td>
                                        <td>{{ strata.unit }}</td>
                                        <td>{{ strata.tag }}</td>
                                        <td>{{ strata.ip }}</td>
                                        <td class="text-center"><a href="{% url 'Strata:start_save_sensor' strata.id %}"
                                                                   title="{% if strata.background %}Stop {% else %}Start {% endif %}sensor data acquisition" style="color:{% if strata.background %}green {% endif %}"><span
                                                class="glyphicon glyphicon-record"></span></a></td>
                                        <td class="text-center"><a href="{% url 'Strata:audio_setting' strata.id %}"
                                                                   title="Stop audio warning notification."><span
                                                class="glyphicon glyphicon-stop"></span></a></td>
                                        <td class="text-center"><a
                                                href="{% url 'Strata:edit_sensor_in_location' strata.id %}"
                                                title="Edit"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        <td class="text-center"><a href="#" class="delete"
                                                                   data-url="{% url 'Strata:delete_sensor' strata.id %}"
                                                                   title="Delete Location."><span
                                                class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->
            </section>
        </div>
    </div>
    <script>
        $(document.body).on("click", ".delete", function () {
            $("#sureDelete").attr("href", $(this).data('url'));
            $('#update_info').modal('show');
        });
    </script>
{% endblock %}