{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
 <!--<body id="bg" style="background-image: url('{% static "image/electronics.jpg"%}')";> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Add Wireless Information under: {{ nodename }}</h1>
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="{% url 'sensor:wireless_manage' nodeid %}">Manage Wireless Info</a>
                </div>
            </div>
            <hr>
            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}


                        <!--<div class="form-group">-->
                            <!--<table  class="table table-responsive table-bordered">-->
                            <!--&lt;!&ndash;{{ form.as_table }}&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="" >Name</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Enter your name" name="fname">&ndash;&gt;-->
                            <!--&lt;!&ndash;{{form.as_table}}&ndash;&gt;-->
                            <!--&lt;!&ndash;{{ form }}&ndash;&gt;-->
                                <!--</table>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                <label>Mine</label>
                                </div>
                                <div class="col-md-6">
                                    <input type = 'text' class="form-control" id ='node_mine_id' value = "{{nodemineid}}">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                <label>Node</label>
                                </div>
                                <div class="col-md-6">
                                    <input type = 'text' class="form-control" id ='node_name' value = "{{nodename}}">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                <label>IP Address</label>
                                </div>
                                <div class="col-md-6">
                                    {{ form.ipaddress }}
                                </div>
                            </div>
                        </div>
                        <hr>
                          <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                <label>Name</label>
                                </div>
                                <div class="col-md-6">
                                    {{ form.name }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                        <input type="submit"class="btn btn-primary" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>
{% endblock %}
