{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h2 class="page-header" style="text-align: left;"><b>Manage Location for Slope</b>
                    <small> Here you can manage different location in underground mine</small>
                </h2>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'Slope:convergence_add_location' %}">Add Location</a>
                    </div>
                </div>
                <hr>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="content">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Mine Name</th>
                                    <th>Loc Name</th>
                                    <th>Tag No</th>
                                    <th>Created</th>
                                    <th class="text-center" colspan="3">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ book.mine_name }}</td>
                                        <td>{{ book.location_name }}</td>
                                        <td>{{ book.tag_no }}</td>
                                        <td>{{ book.created_date }}</td>

                                        <td class="text-center"><a
                                                href="{% url 'Slope:convergence_edit_location' book.id %}"
                                                title="Edit Location."><span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
                                        <td class="text-center"><a href="#" class="delete"
                                                                   data-url="{% url 'Slope:convergence_delete_location' book.id %}"
                                                                   title="Delete Location."><span
                                                class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->
            </section>
        </div>
    </div>

    <script>
        $(document.body).on("click", ".delete", function () {
            $("#sureDelete").attr("href", $(this).data('url'));
            $('#update_info').modal('show');

        });
    </script>
{% endblock %}