{% extends "base.html" %}

{% block content %}
{#    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>#}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <div style="text-align: center;">
                    <h1 class="page-header">Graphical Report</h1>
                    <!-- Table content -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div style="text-align: center;">
                                    <div class="form-group">
                                        <form class="form-horizontal" method="post"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <div class="form-group col-md-12">
                                                <div class="col-md-12">
                                                    <div class="col-md-2">
                                                        <label for="" class="form pull-right" id="">Choose Mine:</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ form.mine_id }}
                                                    </div>
                                                    <div class="col-md-2" style="margin-right: 15px;">
                                                        <label for="" class="pull-right" id="">Choose Location:</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-control" id="id_area_id" name="area_id" required>
                                                            <option value="">--Select Area--</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-2">

                                                    </div>
                                                </div>
                                                <div class="col-md-12" style="margin-top:30px;">

                                                    <div class="col-md-2">
                                                        <label for="" class="pull-right" id="">From Date:</label>
                                                    </div>
                                                    <div class="col-md-3" style="margin-right: 15px;">
                                                        <input type="text" required class="form-control" id="from_date"
                                                               value='{% now "Y-m-d" %}' name="">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="" class="pull-right" id="">To Date:</label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <input type="text" required class="form-control" id="to_date"
                                                               value='{% now "Y-m-d" %}' name="">
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="col-md-12" style="margin-top:30px;">
                                        <div class="text-center">
                                            <input type="submit" id="btn_reportShow" class="btn btn-warning"
                                                   style="width:200px" value="Line chart Ratio Graph"/>
                                            <input type="submit" id="btn_Show_ratio_report" style="width:200px"
                                                   class="btn btn-danger" value="Young's CO Ratio Graph"/>
                                            <input type="submit" id="btn_Ellicots" style="width:200px"
                                                   class="btn btn-success" value="Ellicots Extention"/>
                                            <a class="btn btn-success btn-sm" style="width:100px"
                                               href="{% url 'gasmonitoring_wifi:show_area' %}">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {#                <div class="col-md-12">#}
                    <div id="linechart" class="text-center">
                        <!--LINE CHART GOES HERE-->
                        {#                    </div>#}
                    </div>
                </div>

            </section>


        </div>
    </div>

    <script>

        $(document).ready(function () {

            $('#from_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $('#to_date').datetimepicker({
                format: 'YYYY-MM-DD'
            });
            $("#id_mine_id").addClass('form-control');


            $("#id_mine_id").on("change", function () {
                let mine_id = this.value;
                $.ajax({
                    type: "get",
                    url: "{% url 'gasmonitoring_wifi:fetch_area_ajax' %}",
                    data: {
                        'id': mine_id
                    },
                    success: function (data) {
                        fill_dropdown(data.result);
                        return data;
                    },
                    error: function () {
                        console.log("error");
                    }
                });
            });

            function fill_dropdown(result) {
                $("#id_area_id").html("<option value=''>--Select Area--</option>");
                for (index = 0; index < result.length; index++) {
                    var str_array = result[index].split(',');
                    $("#id_area_id").append($("<option />").val(str_array[0]).text(str_array[1]));
                }
            }


            $("#btn_reportShow").click(function () {
                $("#linechart").html("");
                drawChart();
            });

            $("#btn_Show_ratio_report").click(function () {
                $("#linechart").html("");
                drawChart2();
            });

            $("#btn_Ellicots").click(function () {
                $("#linechart").html("");
                if(!isEmpty($('#id_mine_id').val()) && !isEmpty($('#id_area_id').val()) )
                EEllicots();
            });

            function drawChart() {
                let area_id = $("#id_area_id").val();
                //alert(area_id)

                let date_from = $("#from_date").val();
                let date_to = $("#to_date").val();
                let endpoint = '{% url 'gasmonitoring_wifi:fetch_gas_ratios_ajax_wifi' %}';

                let defaultData = [];
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    data: {
                        'id': area_id,
                        'date_from': date_from,
                        'date_to': date_to,
                    },
                    success: function (data_ajax) {

                        <!--console.log(data_ajax.result);-->
                        defaultData = data_ajax.result;
                        console.log(defaultData);
                        let co = [];
                        let graham_ratio = [];
                        let coco2_ratio = [];
                        let jtr_ratio = [];
                        let date = [];
                        for (data in defaultData) {
                            if (defaultData.hasOwnProperty(data)) {
                                date.push(defaultData[data].date);
                                co.push(defaultData[data].co);
                                graham_ratio.push(defaultData[data].graham_ratio);
                                coco2_ratio.push(defaultData[data].coco2_ratio);
                                jtr_ratio.push(defaultData[data].jtr_ratio);
                            }

                        }
                        console.log(date, co, graham_ratio, coco2_ratio, jtr_ratio);
                        var co_trace = {
                            x: date,
                            y: co,
                            type: 'scatter',
                            name: 'CO Ratio'
                        };

                        var graham_ratio_trace = {
                            x: date,
                            y: graham_ratio,
                            type: 'scatter',
                            name: "Graham Ratio"
                        };
                        var coco2_ratio_trace = {
                            x: date,
                            y: coco2_ratio,
                            type: 'scatter',
                            name: 'COCO<sub>2</sub> Ratio'
                        };
                        var jtr_ratio_trace = {
                            x: date,
                            y: jtr_ratio,
                            type: 'scatter',
                            name: 'JTR Ratio'
                        };

                        var data = [co_trace, graham_ratio_trace, coco2_ratio_trace, jtr_ratio_trace];

                        Plotly.newPlot('linechart', data);
                        {#data.addRows(defaultData);#}
                    },
                    error: function (error_data) {
                        console.log("error occurred")
                        console.log(error_data)
                        alert("Please select Mine and location to see graph")
                    }
                });

            }


            function drawChart2() {
                let area_id = $("#id_area_id").val();
                let date_from = $("#from_date").val();
                let date_to = $("#to_date").val();


                let endpoint = '{% url 'gasmonitoring_wifi:fetch_young_co_ajax_wifi' %}';
                $.ajax({
                    method: "GET",
                    url: endpoint,
                    data: {
                        'id': area_id,
                        'date_from': date_from,
                        'date_to': date_to,
                    },
                    success: function (data_ajax) {
                        defaultData = data_ajax.result;
                        console.log(defaultData);
                        let co = [];
                        let young_ratio = [];
                        let graham_ratio=[];
                        let coco2_ratio=[];
                        let jtr_ratio=[];

                        let date = [];
                        for (data in defaultData) {
                            if (defaultData.hasOwnProperty(data)) {
                                date.push(defaultData[data].date);
                                co.push(defaultData[data].co);
                                young_ratio.push(defaultData[data].young_ratio);
                                graham_ratio.push(defaultData[data].graham_ratio);
                                coco2_ratio.push(defaultData[data].coco2_ratio);
                                jtr_ratio.push(defaultData[data].jtr_ratio);

                            }

                        }

                        var co_ratio_trace = {
                            x: date,
                            y: co_ratio,
                            type: 'scatter',
                            name: 'CO Ratio'
                        };

                        var young_ratio_trace = {
                            x: date,
                            y: young_ratio,
                            type: 'scatter',
                            name: "Graham Ratio"
                        };

                        var data = [co_ratio_trace, young_ratio_trace];

                        Plotly.newPlot('linechart', data);

                    },
                    error: function (error_data) {
                        console.log("error he ji")
                        console.log(error_data)
                        alert("Please select Mine and location to see graph")
                    }
                });
            }

            function Ellicots() {
                let area_id = $("#id_area_id").val();
                let date_from = $("#from_date").val();
                let date_to = $("#to_date").val();

                {#let endpoint = '{% url 'gasmonitoring_wifi:fetch_young_co_ajax_wifi' %}';#}
                $.ajax({
                    type: "get",
                    url: "{% url 'gasmonitoring_wifi:explosibility' 0 %}",
                    data: {
                        'id': area_id,
                        'date_from': date_from,
                        'date_to': date_to,
                    },
                    beforeSend: function (jqXHR) {
                        $.xhrPool.push(jqXHR);
                    },
                    success: function (data) {
                        console.log('data', data);

                        result = data.result;

                        {#console.log(result);#}
                        var x_list = [];
                        var y_list = [];
                        var text = [];
                        var color = [];
                        var dates = [];
                        for (var i = 0; i < result.length; i++) {
                            x_list.push(result[i].x);
                            y_list.push(result[i].y);
                            text.push((i + 1).toString());
                            color.push(result[i].color);
                            dates.push(result[i].dates);
                        }
                        var xhighest = Math.max.apply(Math, x_list);
                        var xlowest = Math.min.apply(Math, x_list);
                        var yhighest = Math.max.apply(Math, y_list);
                        var ylowest = Math.min.apply(Math, y_list);


                        var highest = Math.max.apply(Math, [Math.abs(xhighest), Math.abs(xlowest), Math.abs(yhighest), Math.abs(ylowest)]);
                        var lowest = Math.min.apply(Math, y_list);
                        lowest = Math.abs(lowest);

                        console.log(lowest, highest);
                        var trace1 = {
                            {#x: [-1*((highest*lowest)/2)*.4, ((highest*lowest)/2)*0.5],#}
                            {#y: [((highest*lowest)/2)*0.8, ((highest*lowest)/2)*0.8],#}
                            x: [-highest, highest],
                            y: [lowest * 1.3, lowest * 1.3],
                            xa: dates,
                            mode: 'text',
                            name: 'Lines, Markers and Text',
                            text: ['<b>CLEAN FUEL NON-EXPLOSIVE</b>', '<b>EXPLOSIVE</b>'],
                            hoverinfo: 'skip',
                            textposition: 'center',
                            textfont: {
                                {#family: 'sans serif ,bold',#}
                                size: 13,
                                color: '#1f77b4'
                            },
                            type: 'scatter'
                        };
                        var trace2 = {
                            {#x: [-1*((highest*lowest)/2)*0.5, ((highest*lowest)/2)*0.5],#}
                            {#y: [-1*((highest*lowest)/2)*0.9, -1*((highest*lowest)/2)*0.9],#}
                            x: [-highest, highest],
                            y: [-lowest * 1.3, -lowest * 1.3],
                            xa: dates,
                            mode: 'text',
                            name: 'Lines and Text',
                            text: ['<b>NON COMBUSTIBLE NON-EXPLOSIVE</b>', '<b>POTENTIALLY EXPLOSIVE</b>'],
                            hoverinfo: 'skip',
                            textposition: 'bottom center',
                            textfont: {
                                {#family: 'sans serif',#}
                                size: 13,
                                color: '#ff7f0e'
                            },
                            type: 'scatter'
                        };
                        console.log(dates)
                        date = ['1', '2', '3'];
                        var trace3 = {
                            x: x_list,
                            y: y_list,
                            xa: dates,
                            mode: 'text+dates+markers',
                            type: 'scatter',
                            {#name:dates,#}
                            text: text,
                            textfont: {
                                {#family: 'sans serif',#}
                                size: 20,
                                color: color,
                                weight: '900'
                            },
                            marker: {size: dates,},
                            textposition: 'bottom center',

                            hoveron: 'points',
                            hovertemplate: "<b>%{marker.size}<b><extra></extra>",


                            hoverinfo: 'x+y',
                        };


                        var data = [trace1, trace2, trace3];
                        var layout = {
                            title: 'Ellicott\'s Explosibility Graph(from Manual Entry)',
                            titlefont: {
                                size: 32
                            },
                            width: 1200,
                            height: 800,

                            xaxis: {
                                title: "<b>(EFFECTIVE INSERT GASES IN %)</b>",
                                tickmode: "linear", //  If "linear", the placement of the ticks is determined by a starting position `tick0` and a tick step `dtick`
                                tick0: 0,
                                dtick: 10,
                                autoscale: true,
                                range: [-1 * (highest * 1.5), (highest * 1.5)],
                                {#range: [-100, 100],#}
                                ticks: "outside",
                                showgrid: true,
                                zeroline: true,
                                showline: true,
                                mirror: 'ticks',
                                gridcolor: '#bdbdbd',
                                gridwidth: 0.05,
                                zerolinecolor: '#969696',
                                zerolinewidth: 3,
                                linecolor: '#636363',
                                linewidth: 6,
                                {#side:'right'#}
                            },
                            yaxis: {
                                title: "<b>(TOTAL EFFECTIVE COMBUSTIBLE IN %)</b>",
                                tickmode: "linear", //  If "linear", the placement of the ticks is determined by a starting position `tick0` and a tick step `dtick`
                                tick0: 0,
                                dtick: 2,
                                autoscale: true,
                                {#yanchor:'right',#}
                                ticks: 'inside',
                                range: [-1 * (lowest * 1.5), (lowest * 1.5)],
                                {#range: [-30, 30],#}
                                showgrid: true,
                                zeroline: true,
                                showline: true,
                                mirror: 'ticks',
                                gridcolor: '#bdbdbd',
                                gridwidth: 0.15,
                                zerolinecolor: '#969696',
                                zerolinewidth: 3,
                                linecolor: '#636363',
                                linewidth: 6,

                            },

                            showlegend: false
                        };
                        Plotly.newPlot('linechart', data, layout, {modeBarButtonsToRemove: ['autoScale2d']});
                        var i = 4;
                        var interval = setInterval(function () {
                            var randomColor = Math.floor(Math.random() * 16777215).toString(16);
                            randomColor = "#" + randomColor;
                            var update = {
                                x: [[-highest, highest], [-highest, highest], [Math.floor(Math.random() * 6) + 1]],
                                y: [[-lowest * 1.3, -lowest * 1.3], [lowest * 1.3, lowest * 1.3], [Math.floor(Math.random() * 10) + 1]],
                                xa: [["2020-04-29"], ["2020-04-29"], ["2020-04-29"]],
                                text: [[i.toString()], [i.toString()], [i.toString()]],
                            }
                            relayout = {
                                xaxis: {
                                    range: [(-1) * (Math.floor(Math.random() * 10) + 1), (Math.floor(Math.random() * 10) + 1)]
                                }, yaxis: {
                                    range: [(-1) * (Math.floor(Math.random() * 10) + 1), (Math.floor(Math.random() * 10) + 1)]
                                }
                            }

                            Plotly.relayout('linechart', relayout);
                            Plotly.extendTraces('linechart', update, [0, 1, 2]);
                            i += 1;
                        }, 2000);

                    },
                    error: function () {
                        console.log("Something Went Wrong!");
                        alert("Please select Mine and location to see graph")
                    },
                });
            }

            function EEllicots() {
                let area_id = $("#id_area_id").val();
                let date_from = $("#from_date").val();
                let date_to = $("#to_date").val();
                date = new Date();
                date = ['1', '2', '3'];
                var trace3 = {
                    x: [],
                    y: [],
                    xa: [],
                    mode: 'text+dates+markers',
                    type: 'scatter',
                    name: [],
                    text: [],
                    textfont: {
                        {#family: 'sans serif',#}
                        size: 20,
                        color: [],
                        weight: '900'
                    },
                    marker: {size: date.toString(),},
                    textposition: 'bottom center',

                    hoveron: 'points',

                    {#hovertemplate: "<b>%{name}<b><extra></extra>",#}
                    hovertext:[],

                    {#hoverinfo: 'x+y',#}
                };


                var data = [trace3];
                var layout = {
                    title: 'Ellicott\'s Explosibility Graph(Automatic)',
                    titlefont: {
                        size: 32
                    },
                    width: 1200,
                    height: 800,

                    xaxis: {
                        title: "<b>(EFFECTIVE INSERT GASES IN %)</b>",
                        tickmode: "linear", //  If "linear", the placement of the ticks is determined by a starting position `tick0` and a tick step `dtick`
                        tick0: 0,
                        dtick: 10,
                        autoscale: true,
                        range: [-1 * (10 * 1.5), (10 * 1.5)],
                        {#range: [-100, 100],#}
                        ticks: "outside",
                        showgrid: true,
                        zeroline: true,
                        showline: true,
                        mirror: 'ticks',
                        gridcolor: '#bdbdbd',
                        gridwidth: 0.05,
                        zerolinecolor: '#969696',
                        zerolinewidth: 3,
                        linecolor: '#636363',
                        linewidth: 6,
                        {#side:'right'#}
                    },
                    yaxis: {
                        title: "<b>(TOTAL EFFECTIVE COMBUSTIBLE IN %)</b>",
                        tickmode: "linear", //  If "linear", the placement of the ticks is determined by a starting position `tick0` and a tick step `dtick`
                        tick0: 0,
                        dtick: 2,
                        autoscale: true,
                        {#yanchor:'right',#}
                        ticks: 'inside',
                        range: [-1 * (2 * 1.5), (2 * 1.5)],
                        {#range: [-30, 30],#}
                        showgrid: true,
                        zeroline: true,
                        showline: true,
                        mirror: 'ticks',
                        gridcolor: '#bdbdbd',
                        gridwidth: 0.15,
                        zerolinecolor: '#969696',
                        zerolinewidth: 3,
                        linecolor: '#636363',
                        linewidth: 6,

                    },
                    annotations: [
                        {
                            x: -10,
                            y: 2,
                            xref: 'x',
                            yref: 'y',
                            text: '<b>CLEAN FUEL NON-EXPLOSIVE</b>',
                            bgcolor: "#ff7f0e",
                            showarrow: false,
                            arrowhead: 7,
                            ax: 0,
                            ay: -40
                        },
                        {
                            x: 10,
                            y: 2,
                            xref: 'x',
                            yref: 'y',
                            text: '<b>EXPLOSIVE</b>',
                            bgcolor: "#ff7f0e",
                            showarrow: false,
                            arrowhead: 7,
                            ax: 0,
                            ay: -40
                        },
                        {
                            x: -10,
                            y: -2,
                            xref: 'x',
                            yref: 'y',
                            text: '<b>NON COMBUSTIBLE NON-EXPLOSIVE</b>',
                            bgcolor: "#ff7f0e",
                            showarrow: false,
                            arrowhead: 7,
                            ax: 0,
                            ay: -40
                        },
                        {
                            x: 10,
                            y: -2,
                            xref: 'x',
                            yref: 'y',
                            text: '<b>POTENTIALLY EXPLOSIVE</b>',
                            bgcolor: "#ff7f0e",
                            showarrow: false,
                            arrowhead: 7,
                            ax: 0,
                            ay: -40
                        }
                    ],

                    showlegend: false
                };
                Plotly.newPlot('linechart', data, layout, {modeBarButtonsToRemove: ['autoScale2d']});
                var x_list = [];
                var y_list = [];
                var text = [];
                var color = [];
                var dates = [];

                {#let endpoint = '{% url 'gasmonitoring_wifi:fetch_young_co_ajax_wifi' %}';#}
                (function GRAPH () {
                    var i = 4;
                    $.ajax({
                        type: "get",
                        url: "{% url 'gasmonitoring_wifi:explosibilityNew' 0 %}",
                        data: {
                            'id': area_id,
                            'date_from': date_from,
                            'date_to': date_to,
                        },
                        beforeSend: function (jqXHR) {
                            $.xhrPool.push(jqXHR);
                        },
                        success: function (data) {
                            console.log('data', data);

                            result = data.result;
                            result = result[0];
                            {#console.log(result);#}

                            x_list.push(result.x);
                            y_list.push(result.y);
                            text.push(x_list.length.toString());
                            color.push(result.color);
                            dates.push(result.dates);

                            var xhighest = Math.max.apply(Math, x_list);
                            var xlowest = Math.min.apply(Math, x_list);
                            var yhighest = Math.max.apply(Math, y_list);
                            var ylowest = Math.min.apply(Math, y_list);


                            var highest = Math.max.apply(Math, [Math.abs(xhighest), Math.abs(xlowest), Math.abs(yhighest), Math.abs(ylowest)]);
                            var lowest = Math.min.apply(Math, y_list);
                            lowest = Math.abs(lowest);

                            console.log(lowest, highest, result.x, result.y);
                            {#Plotly.deleteTraces('linechart', [0]);#}
                            date = new Date();
                            console.log('DATE', date.toString());
                            var update = {
                                    x: [[result.x]],
                                    y: [[result.y]],
                                    xa: [["2020-04-29"]],
                                    text: [[x_list.length.toString()]],
                                    hovertext: [[date.toString()]],

                                }
                            relayout = {
                                xaxis: {
                                    range: [-highest * 1.3, highest * 1.3]
                                }, yaxis: {
                                    range: [-lowest * 1.3, lowest * 1.3]
                                },
                                annotations: [
                                    {
                                        x: -highest,
                                        y: highest,
                                        text: '<b>CLEAN FUEL NON-EXPLOSIVE</b>',
                                        bgcolor: "#ff7f0e",
                                        showarrow: false,
                                    },
                                    {
                                        x: highest,
                                        y: highest,
                                        text: '<b>EXPLOSIVE</b>',
                                        bgcolor: "#ff7f0e",
                                        showarrow: false,
                                    },
                                    {
                                        x: -highest,
                                        y: -highest,
                                        text: '<b>NON COMBUSTIBLE NON-EXPLOSIVE</b>',
                                        bgcolor: "#ff7f0e",
                                        showarrow: false,
                                    },
                                    {
                                        x: highest,
                                        y: -highest,
                                        text: '<b>POTENTIALLY EXPLOSIVE</b>',
                                        bgcolor: "#ff7f0e",
                                        showarrow: false,
                                    }
                                ]
                            }

                            Plotly.relayout('linechart', relayout);
                            Plotly.extendTraces('linechart', update, [0], [10]);

                        },
                        complete:function(){
                            setTimeout(GRAPH,2000);
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                            alert("Please select Mine and location to see graph")
                        },
                    });
                })();
            }
        })
        ;


    </script>
{% endblock %}