{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h1 class="page-header">Manage Tub Information</h1>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'ProductionMonitoring:container_details_add' %}">Add Tub
                            Information</a>
                    </div>
                </div>
                <hr>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="content">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Name of the Tub</th>
                                    <th>Initial Weight</th>
                                    <th>Laden Weight</th>
                                    <th>Weight Unit</th>
                                    <th class="text-center" colspan="5">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!--<td>{{ book.id }}</td>-->
                                        <td>{{ book.name_of_the_tub }}</td>
                                        <td>{{ book.initial_weight }}</td>
                                        <td>{{ book.laden_weight }}</td>
                                        <td>{{ book.weight_unit }}</td>
                                        <td class="text-center"><a
                                                href="{% url 'ProductionMonitoring:container_details_edit' book.id %}"
                                                title="Edit Container Details."><span
                                                class="glyphicon glyphicon-pencil"></span></a></td>
                                        <td class="text-center"><a href="#" class="delete"
                                                                   data-url="{% url 'ProductionMonitoring:container_details_delete' book.id %}"
                                                                   title="Delete Container Details."><span
                                                class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->
            </section>
        </div>
    </div>
    <script>
        $(document.body).on("click", ".delete", function () {

            $("#sureDelete").attr("href", $(this).data('url'));
            $('#update_info').modal('show');

        });


        $(document.body).on("click", ".more_details", function () {

            url = $(this).data('url');
            id = this.id;

            $.ajax({
                url: url,
                dataType: 'json',
                data: {
                    'id': id
                },
                success: function (data) {

                    <!--alert(data.result);-->
                    console.log(data)
                    $("#more_details_data").html(data.name);
                    $('#myModal').modal('show');
                }
            });
        });
    </script>
{% endblock %}