{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
<section class="col-md-12">
    <h1 class="page-header">Manage Manual Entry</h1>
    <div class="row text-center">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{% url 'ProductionMonitoring:manualentry_add' %}">Add Manual Entry</a>
        </div>
    </div>
    <hr>
    <!-- Table content -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="content">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>Mine</th>
                            <th>Weighbridge Name</th>
                            <th>Vehicle Registration No</th>
                            <th>WB Code</th>
                            <th>Production Type</th>


                            <!--<th>Mining Role</th>-->


                            <th class="text-center" colspan="5">Action</th>
{#                            <th class="text-center" colspan="5">Delete</th>#}
                        </tr>
                    </thead>
                    <tbody>
                            {% for entry in manual_entry %}
                        <tr>
                            <!-- 0-mine_id,1-,5-id -->
                            <td>{{forloop.counter}}</td>
                            <td>{{ entry.mine.name }}</td>
                            <td>{{ entry.wb_name }}</td>
                            <td>{{ entry.vechile }}</td>
                            <td>{{ entry.wb_code }}</td>
                            <td>{{ entry.type }}</td>

                            <td class="text-center"><a href="{% url 'ProductionMonitoring:manualentry_edit' entry.id.id %}" title="Edit Prodcution."><span class="glyphicon glyphicon-pencil"></span></a></td>

                            <td class="text-center"><a href="#" class="delete" data-url="{% url 'ProductionMonitoring:manualentry_delete' entry.id.id %}" title="Delete Manual Entry."><span class="glyphicon glyphicon-trash"></span></a></td>



                        </tr>

                    {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div><!--end Table content -->
</section>
        </div>
</div>
<script>
    $(document.body).on("click", ".delete", function () {

        $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');

    });




    $(document.body).on("click", ".more_details", function () {

        url=$(this).data('url');
        id=this.id;

        $.ajax({
        url: url,
        dataType: 'json',
            data: {
                'id': id
                },
            success: function(data) {

              <!--alert(data.result);-->
              console.log(data)
              $("#more_details_data").html(data.name);
              $('#myModal').modal('show');
        }});


        <!--$('#myModal').modal('show');-->

    });
</script>
<style>
    .glyphicon-plus-sign{
        color:red !important;
    }
</style>
{% endblock %}