{% extends "base.html" %}

{% block content %}

{% load staticfiles %}
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Daily Entry Of Coal/Ore
                </h1>
            <div class="row text-center">

            </div>
            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                     {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissable"{% endif %} style="box-shadow:10px 10px 5px #aaaaaa";>
                                            <a class="panel-close close" data-dismiss="alert">×</a>
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                                {{ message }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue">Daily Entry</font></legend>
                                <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="" class="" id="">Select Mine:<font color="red">*</font> </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.mine_id}}
                                        <span style="color:red">{{form.mine_id.errors|striptags}}</span>
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="" class="" id="">Select shift<font color="red">*</font></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="id_shift_name" name="shift_name">
                                            <option>All</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                             <div class="form-group col-md-12">
                               <div class="col-md-6">
                                     <div class="col-md-4">
                                        <label for="" class="" id="">Total Weight</label>
                                    </div>
                                    <div class="col-md-4">
                                        {{form.total_weight}}
                                        <span style="color:red">{{form.total_weight.errors|striptags}}</span>
                                    </div>
                                   <div class="col-md-1">
                                       in
                                   </div>
                                   <div class="col-md-3">
                                        {{form.weight_unit}}
                                       <span style="color:red">{{form.weight_unit.errors|striptags}}</span>
                                    </div>

                                 </div>
                                 <div class="col-md-6">
                                     <div class="col-md-4">
                                        <label for="" class="" id="">Production Type</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.production_type}}
                                        <span style="color:red">{{form.production_type.errors|striptags}}</span>
                                    </div>

                                 </div>

                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                     <div class="col-md-4">
                                        <label for="" class="" id="">Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.dates}}
                                        <span style="color:red">{{form.dates.errors|striptags}}</span>
                                    </div>

                                 </div>
                                 <div class="col-md-6">
                                     <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">

                                    </div>

                                 </div>
                            </div>

                        </fieldset>
                        <br/><br/>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Submit"/>

                        </div>
                    </form>
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>
<style>

    fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}
fieldset ul {list-style:none}


</style>
<script>
$(document).ready(function(){
        $("#id_mine_id").addClass('form-control');

        $("#id_vehicle_id").addClass('form-control');
        $("#id_name_of_the_tub").addClass('form-control');
         $("#id_shift_name").addClass('form-control');
          $("#id_mine_id").on("change",function(){
                fill_dropdown(this.value);
            });
            if(!isEmpty($('#id_mine_id').val())){
                fill_dropdown($('#id_mine_id').val());
            }

});

function fill_dropdown(mine_id){
    $.ajax({
            type:"get",
            url: "{% url 'ProductionMonitoring:fetch_shift_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                $("#id_shift_name").html("<option value='0'>All</option>");
                for (index = 0; index < data.result.length; index++) {
                    var shift = data.result[index].split(',');
                    $("#id_shift_name").append($("<option />").val(shift[0]).text(shift[1]));
                }
                    },
            error: function(){
                    console.log("error he ji");
                 }
            });

}

</script>

{% endblock %}