{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Report Of Daily Entry Of Coal/Ore</h1>

            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue"> Daily Entry</font></legend>
                                <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="" class="" id="">Select Mine:<font color="red">*</font> </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.mine_id}}
                                    </div>
                                </div>
                                    <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="" class="" id="">Select shift<font color="red">*</font></label>
                                    </div>
                                    <div class="col-md-8">
                                        <select class="form-control" id="id_shift_name" name="shift_name">
                                            <option>All</option>
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                     <div class="col-md-4">
                                        <label for="" class="" id="">From Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="from_date_time_picker">
                                                {{ form.dates }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                         <span style="color:red">{{form.dates.errors|striptags}}</span>
                                    </div>

                                 </div>
                                 <div class="col-md-6">
                                     <div class="col-md-4">
                                        <label for="" class="" id="">To Date</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="to_date_time_picker">
                                                {{ form.dates }}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                         <span style="color:red">{{form.dates.errors|striptags}}</span>
                                    </div>
                                 </div>
                            </div>
                        </fieldset>
                        <br/><br/>
                         <div class="text-center">
                <input class="btn btn-primary" type="button" id="id_show" value="Show"/>
            </div>
                    </form>
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>

<div class="container">
    <div class="row">
<section class="col-md-12">
    <!-- Table content -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered"  id="ProductionTable">
                    <thead>
                        <tr>
                            <th>Mine Name</th>
                            <th>Shift Name</th>
                            <th>Date</th>
                            <th>Total Production</th>
                            <th>unit</th>

                        </tr>
                    </thead>
                    <tbody id="results"></tbody>
                </table>

                </div>
            <div class="text-center">
                <input class="btn btn-primary" onclick="myFunction()" type="button" id="id_print" value="Print"/>
            </div>
            <br/>
            <br/>

        </div>
    </div><!--end Table content -->
</section>
        </div>
</div>
<style>

    fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}
fieldset ul {list-style:none}


</style>
<script>
$(document).ready(function(){
        $("#id_mine_id").addClass('form-control');
        $("#id_vehicle_id").addClass('form-control');
        $("#id_name_of_the_tub").addClass('form-control');
        $("#id_shift_name").addClass('form-control');
        var from=$('#from_date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
             });
        var to=$('#to_date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
             });
        $("#id_mine_id").on("change",function(){
                fill_dropdown(this.value);
        });
        if(!isEmpty($('#id_mine_id').val())){
                fill_dropdown($('#id_mine_id').val());
        }
        $('#ProductionTable').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ],
                }
            )
});

function fill_dropdown(mine_id){
    $.ajax({
            type:"get",
            url: "{% url 'ProductionMonitoring:fetch_shift_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                 $("#id_shift_name").html("<option value='0'>All</option>");
                for (index = 0; index < data.result.length; index++) {
                    var shift = data.result[index].split(',');
                    $("#id_shift_name").append($("<option />").val(shift[0]).text(shift[1]));
                }
            },
            error: function(){
                    console.log("Something Went Wrong!");
                 }
            });
}

  $("#id_show").click(function(){
        var mine_id = $("#id_mine_id").val();
        var shift_id = $("#id_shift_name").val();
        var from_id =$('#from_date_time_picker input').val()
        var to_id=$('#to_date_time_picker input').val()
           $.ajax({
            type:"get",
            url: "{% url 'ProductionMonitoring:fetch_report_daily_ajax' %}",
            data: {
                     'mine_ID': mine_id,
                     'shift_ID':shift_id,
                     'from_ID':from_id,
                     'to_ID':to_id,
                   },
            success: function(data) {
                fill_table(data.result);
            },
            error: function(){
                    console.log("Error!");
                 }
            });
});
function fill_table(entry_detail) {
            datatable = $('#ProductionTable').DataTable();
            datatable.clear().draw();
            for (entry = 0; entry < entry_detail.length; entry++) {
                var E = entry_detail[entry];
                var row = datatable.row.add([E.mine, E.shift, E.date, E.total_production, E.unit]).draw().node();
                          }
        }

function myFunction() {
  window.print();
}

</script>

{% endblock %}