{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <section class="col-md-12">
                <h1 class="page-header">Manage Vehicle</h1>
                <div class="row text-center">
                    <div class="col-md-12">
                        <a class="btn btn-primary" href="{% url 'ProductionMonitoring:vehicle_add' %}">Add Vehicle</a>
                    </div>
                </div>
                <hr>
                <!-- Table content -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="content">
                                <thead>
                                <tr>
                                    <th>SL No</th>
                                    <th>Mine</th>
                                    <th>RFID</th>
                                    <th>Vehicle Registration no</th>
                                    <th> Owner's Name</th>
                                    <th>Driver's Name</th>
                                    <th>Transporter's Name</th>
                                    <!--<th>Mining Role</th>-->


                                    <th class="text-center" colspan="5">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for book in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <!--<td>{{ book.id }}</td>-->
                                        <td>{{ book.mine_id }}</td>
                                        <td>{{ book.rfid }}</td>
                                        <td>{{ book.vehicle_reg_no }}</td>
                                        <td>{{ book.o_name }}</td>
                                        <td>{{ book.d_name }}</td>
                                        <td>{{ book.t_name }}</td>


                                        <!-- <img class="image image-responsive" src="/media/{{ book.d_photo }}" height="100" width="100"/>-->


                                        <!--<span class="btn btn-info btn-sm more_details" data-url="{% url 'employee:more_details_ajax' %}" id="{{book.id}}">More Details</span></td>-->
                                        <!--<td class="text-center"><a href="{% url 'employee:update_shift_link' book.id %}"> <span class="btn btn-success btn-sm update_shift" data-url="" id="">Update Shift</span></a><br><br><a href="{% url 'employee:details_employee_shift_assign' book.id %}"><small>Check Report</small></a> </td>-->
                                        <!--<td class="text-center"><a href="{% url 'employee:update_medical' book.id %}"> <span class="glyphicon glyphicon-plus-sign"></span></a> </td>-->
                                        <td class="text-center"><a
                                                href="{% url 'ProductionMonitoring:vehicle_edit' book.id %}"
                                                title="Edit Vehicle."><span
                                                class="glyphicon glyphicon-pencil"></span></a></td>
                                        <td class="text-center"><a href="#" class="delete"
                                                                   data-url="{% url 'ProductionMonitoring:vehicle_delete' book.id %}"
                                                                   title="Delete Vehicle."><span
                                                class="glyphicon glyphicon-trash"></span></a></td>

                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!--end Table content -->
            </section>
        </div>
    </div>
    <script>
        $(document.body).on("click", ".delete", function () {

            $("#sureDelete").attr("href", $(this).data('url'));
            $('#update_info').modal('show');

        });
        $(document.body).on("click", ".more_details", function () {
            url = $(this).data('url');
            id = this.id;
            $.ajax({
                url: url,
                dataType: 'json',
                data: {
                    'id': id
                },
                success: function (data) {
                    $("#more_details_data").html(data.name);
                    $('#myModal').modal('show');
                }
            });
        });
    </script>
{% endblock %}