{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Add Vehicle
                <small>&nbsp&nbsp&nbspHere you can add/edit basic info of vehicle</small>

                </h1>
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="{% url 'ProductionMonitoring:vehicle_manage' %}">Manage Vehicle</a>
                </div>
            </div>


            <div class="row text-center">

            </div>
            <hr>
            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}

                         <!--{{form.as_table}}-->
                            <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue"> Vehicle Details</font></legend>
                               <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_mine" class="" id=""> Select Mine / खदान चुने </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.mine_id}}
                                         <span style="color:red">{{form.mine_id.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_vehicle_reg_no" class="" id="">Vehicle Reg.no<font color="red">*</font> </label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.vehicle_reg_no}}
                                         <span style="color:red">{{form.vehicle_reg_no.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_type_of_vehicle" class="" id="">Type of vehicle </label>

                                    </div>
                                    <div class="col-md-8">
                                        {{form.type_of_vehicle}}
                                        <span style="color:red">{{form.type_of_vehicle.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_reg_laden_weight_of_the_vehicle" class="" id="">Registered laden weight <font color="red">*</font></label>
                                        </label>
                                    </div>
                                     <div class="col-md-4">
                                            {{form.reg_laden_weight_of_the_vehicle}}
                                          <span style="color:red">{{form.reg_laden_weight_of_the_vehicle.errors|striptags}}</span>

                                    </div>
                                    <div class="col-md-1">
                                      in
                                    </div>
                                    <div class="col-md-3">
                                           <!-- <div class="col-md-3">
                                            <label for="id_reg_laden_weight_of_the_vehicles" class="" id=""></label>
                                            </div>
                                            <div class="col-md-9">-->

                                                {{form.reg_laden_weight_of_the_vehicles}}
                                        <span style="color:red">{{form.reg_laden_weight_of_the_vehicles.errors|striptags}}</span>
                                    </div>

                                        </div>

                                    </div>


                                <div class="form-group col-md-12">
                                    <div class="col-md-6">
                                        <div class="col-md-4">
                                            <label for="id_rfid" class="" id="">RFID / आर.एफ.आइ.डी </label>
                                        </div>
                                         <div class="col-md-8">
                                            {{form.rfid}}
                                             <span style="color:red">{{form.rfid.errors|striptags}}</span>
                                         </div>
                                    </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <br/><br/>

                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue">Owner Info</font></legend>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_o_name" class="" id=""> Owner's Name<font color="red">*</font> </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.o_name}}
                                        <span style="color:red">{{form.o_name.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_o_address" class="" id="">Owner's Address / पता   </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.o_address}}
                                        <span style="color:red">{{form.o_address.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">

                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_o_mob" class="" id="">Owner's Mobile no. </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.o_mob}}
                                        <span style="color:red">{{form.o_mob.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_o_email" class="" id="">Owner's Email / ईमेल <font color="red">*</font></label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.o_email}}
                                        <span style="color:red">{{form.o_email.errors|striptags}}</span>
                                    </div>
                                </div>


                            </div>



                        </fieldset>
                        <br/><br/>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue">Driver Info</font></legend>
                            <div class="form-group col-md-12">

                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_d_name" class="" id="">Driver's Name<font color="red">*</font></label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.d_name}}
                                        <span style="color:red">{{form.d_name.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_d_address" class="" id="">Driver's Address</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.d_address}}
                                        <span style="color:red">{{form.d_address.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_d_email" class="" id="">Driver's Email / ईमेल <font color="red">*</font></label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.d_email}}
                                        <span style="color:red">{{form.d_email.errors|striptags}}</span>
                                    </div>
                                </div>
                               <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_d_mob" class="" id="">Driver's Mobile no. </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.d_mob}}
                                        <span style="color:red">{{form.d_mob.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_d_photo" class="" id="">Driver's Image / फोटो </label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.d_photo}}
                                        <span style="color:red">{{form.d_photo.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-8">

                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <br/><br/>
                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue">Transporter Info</font></legend>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_t_name" class="" id="">Transporter's Name<font color="red">*</font></label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.t_name}}
                                        <span style="color:red">{{form.t_name.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_t_address" class="" id="">Transporter's Address</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.t_address}}
                                        <span style="color:red">{{form.t_address.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                       <label for="id_t_email" class="" id="">Transporter's Email / ईमेल <font color="red">*</font></label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.t_email}}
                                        <span style="color:red">{{form.t_email.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_w_no" class="" id="">Work Order no.</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.w_no}}
                                        <span style="color:red">{{form.w_no.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_dates" class="" id="">Date</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="date_time_picker">
                                            {{form.dates}}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span style="color:red">{{form.dates.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_party_details" class="" id="">Party Details</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.party_details}}
                                        <span style="color:red">{{form.party_details.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_sale" class="" id="">Sale</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.sale}}
                                        <span style="color:red">{{form.sale.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_grade" class="" id="">Grades</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.grade}}
                                        <span style="color:red">{{form.grade.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_source" class="" id="">Source</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.source}}
                                        <span style="color:red">{{form.source.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_destination" class="" id="">Destination</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         {{form.destination}}
                                        <span style="color:red">{{form.destination.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_validity" class="" id="">Validity</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="validity_date_time_picker">
                                            {{form.validity}}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span style="color:red">{{form.validity.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_start_date_of_order" class="" id="">Start Date Of Order</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="order_start_date_time_picker">
                                            {{form.start_date_of_order}}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span style="color:red">{{form.start_date_of_order.errors|striptags}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_end_date_of_order" class="" id="">End Date Of Order</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="input-group date" id="order_end_date_time_picker">
                                            {{form.end_date_of_order}}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span style="color:red">{{form.end_date_of_order.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_value_of_order" class="" id="">Value Of Order</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">
                                         <div class="input-group date" i>

                                             {{form.value_of_order}}

                                            <span class="input-group-addon">
                                               <i style="font-size:24px" class="fa"></i>
                                            </span>
                                        </div>
                                        <span style="color:red">{{form.value_of_order.errors|striptags}}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_validity_of_tag" class=""d="validity_tag_date_time_picker">Validity Of Tag</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">

                                        <div class="input-group date" id="validity_tag_date_time_picker">
                                            {{form.validity_of_tag}}
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span style="color:red">{{form.validity_of_tag.errors|striptags}}</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_trip_cycle" class="" id="">Trip Cycle</label>
                                        </label>
                                    </div>
                                    <div class="col-md-8">

                                         {{form.trip_cycle}}
                                        <span style="color:red">{{form.trip_cycle.errors|striptags}}</span>

                                    </div>
                                </div>
                            </div>


                        </fieldset>

                        <br/><br/>


                        <br/><br/>
                        <br/><br/>
                        <br/><br/>

                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>
<style>
    fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}
fieldset ul {list-style:none}

</style>
<script>
$(document).ready(function(){
    $("#id_mine_id").addClass('form-control');
    $("#id_mining_role").addClass('form-control');
    $("#id_immediate_staff").addClass('form-control');
     $("#id_type_of_vehicle").addClass('form-control');
      $("#id_reg_laden_weight_of_the_vehicles").addClass('form-control');



      var date=$('#date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
                });
      var validity=$('#validity_date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
                });
      var order_start=$('#order_start_date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
                });
      order_start.children()[0].id="id_start_date_of_order";
      order_start.children()[0].required="true";
      var order_end=$('#order_end_date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
                });
      order_end.children()[0].id="id_end_date_of_order";
      order_end.children()[0].required="true";
      var validity_tag=$('#validity_tag_date_time_picker').datetimepicker({
                     format: 'YYYY-MM-DD'
                });


      $("#order_start_date_time_picker").on("dp.change", function (e) {
                    $('#order_end_date_time_picker').data("DateTimePicker").minDate(e.date);
                });
                $("#order_end_date_time_picker").on("dp.change", function (e) {
                    $('#order_start_date_time_picker').data("DateTimePicker").maxDate(e.date);
                });

      $('#id_value_of_order').on('input',function(e){
          val=$(this).val();
          console.log("Occurence=> "+(val.match(/\./g)|| []).length);
          console.log("value=> "+val);
          console.log("Length=> "+val.length);

      })

});

</script>

{% endblock %}






