{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header">Add Nodesensor</h1>
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="{% url 'sensor:nodesensor_manage' %}">Manage Nodesensor</a>
                </div>
            </div>
            <hr>
            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}


                        <!--<div class="form-group">-->
                            <!--<table  class="table table-responsive table-bordered">-->
                            <!--&lt;!&ndash;{{ form.as_table }}&ndash;&gt;-->
                            <!--&lt;!&ndash;<label class="" >Name</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Enter your name" name="fname">&ndash;&gt;-->
                            <!--&lt;!&ndash;{{form.as_table}}&ndash;&gt;-->
                            <!--&lt;!&ndash;{{ form }}&ndash;&gt;-->
                                <!--</table>-->
                        <!--</div>-->
                        <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Node Name</label>
                                </div>
                                <div class="row-col-md-6">
                                    {{ form.name }}
                                </div>
                            </div>
                        </div>
                          <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Nodesensor ID</label>
                                </div>
                                <div class="row-col-md-6">
                                    {{ form.sensorid }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Nodesensor Name</label>
                                </div>
                                <div class="row-col-md-6">
                                    {{ form.option}}
                                     <select name="nodesensorname">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Threshold Value</label>
                                </div>
                                <div class="row-col-md-6">
                                    {{ form.thresholdvalue}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Alert Colour Priority</label>
                                </div>
                                <div class="row-col-md-6">
                                    {{ form.option }}
                                    <select name="alertcolourpriority">
  <option value="Green">Green</option>
  <option value="Blue">Blue</option>
  <option value="Orange">Orange</option>
  <option value="Red">Red</option>
</select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row-md-12">
                                <div class="col-md-3">
                                <label>Description</label>
                                </div>
                                <div class="row-col-md-6">
                                    {{ form.description }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </form>
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>

{% endblock %}