{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">

        <div class="row">
        <section class="col-md-12">
            
            <center>
            <h1 class="page-header"><centre>Category Report<small> (Detailed information based on each category)</small></centre></h1>

            <!-- Table content -->
           </center>
            <!-- Table content -->

<div class="row text-center">
        <div class="col-md-12">
        	 <a class="btn btn-primary" href="{% url 'inventory_management:outlet_viewall' %}"> Back</a>
          <!--    <a class="btn btn-primary" href="{% url 'inventory_management:OutOfStock' %}"> OutOfStock Report</a> -->
             <!-- <a class="btn btn-primary" href="{% url 'inventory_management:ExpiredProdView' %}"> Expired Product Report</a> -->
              <!-- <a class="btn btn-primary" href="{% url 'inventory_management:view_product' %}"> View All Products</a> -->
              <input type="submit" id="btn_print" class="btn btn-success btn-sm" style="width:100px" value="Print"/>
             
        </div>
    </div>
            <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table " id="myTable">
                     
                    <thead>
                        <tr>
                            
                            <th>Sl No</th>
                          <!--   <th>Today's date</th> -->
                            <th>Mine Name</th>
                            <th>Category Name</th>
                            <th>No of Product</th>
                            <th>Available Stock</th>
                            <th>No.of Prod Expiring Soon...(2 months)</th>

                        </tr>
                    </thead>
                     <tbody id="body_id">
		                    {% if object_list2 %}     
		                        {% for x in object_list2 %}
		                            {% if x.2 == "0" %} 
                                	   <tr>
		                                    <td>{{forloop.counter}}</td>
		                                    <td>{{x.0}}</td>
		                                    <td>{{ x.1}}</td>
		                                    <td>{{ x.3 }}</td>
		                                    <td> Out of Stock</td>
		                                    <td> Out of Stock </td>
		                                </tr>  
		                            {% else %}
                                         <tr>
		                                    <td>{{forloop.counter}}</td>
		                                    <td>{{x.0}}</td>
		                                    <td>{{ x.1}}</td>
		                                    <td>{{ x.3 }}</td>
		                                    <td>{{ x.2}}</td>
		                                    <td> {{ x.4}} </td>
		                                </tr>  
                                	{% endif %}
		                    	{% endfor %}
		                    {% else %}
		                            {% for x in object_list %}
		                               {% if x.2 == "0" %} 
	                                	   <tr>
			                                    <td>{{forloop.counter}}</td>
			                                    <td>{{x.0}}</td>
			                                    <td>{{ x.1}}</td>
			                                    <td>{{ x.3 }}</td>
			                                    <td> Out of Stock</td>
			                                    <td> Out of Stock </td>
			                                </tr>  
		                            	{% else %}
	                                         <tr>
			                                    <td>{{forloop.counter}}</td>
			                                    <td>{{x.0}}</td>
			                                    <td>{{ x.1}}</td>
			                                    <td>{{ x.3 }}</td>
			                                    <td>{{ x.2}}</td>
			                                    <td> 0 </td>
			                                </tr>  
                                	{% endif %}
		                    	{% endfor %}
		                    {% endif %}            
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </section>
    </div>
</div>




<script>
    $(document).ready(function(){


        $('#myTable').DataTable();
    });

$("#btn_print").click(function(){
    window.print();
});
</script>
{% endblock %}