{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">
        <section class="col-md-12">
           <center> <h1 class="page-header">Custom Expiry Report<small></small></sma></h1></center>

            <!-- Table content -->
                                 <form class="form-horizontal" method="post" enctype="multipart/form-data">{% csrf_token %}
                              <div class="form-group col-md-12">
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <label for="" class="pull-right" id="">Choose Mine:</label>

                                    </div>
                                    <div class="col-md-2">

                                        {{form.mine_id}}
                                    </div>
                                    
                                    <div class="col-md-2">
                                        <label for="" class="pull-right" id="">Choose Category:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" id="id_category_list">
                                            <option>--Select Category--</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" class="pull-right" id="">Choose Product:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <select class="form-control" id="id_product_list">
                                            <option>--Select Product--</option>
                                        </select>
                                    </div>
                                </div>
                               
                                <div class="col-md-12" style="margin-top:30px;">
                            
                                    <div class="col-md-2">
                                        <label for="" class="pull-right" id="">From Date:</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" required class="form-control" id="from_date"  name="" value='{% now "Y-m-d" %}'>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="" class="pull-right" id="">To Date:</label>
                                    </div>
                                    <div class="col-md-2">
                                         <input type="text" required class="form-control" id="to_date"  name="" value='{% now "Y-m-d" %}'>
                                    </div>
                                </div>
                            </div>

                    </form>


  <div class="col-md-1"></div>
<div class="row text-center">
        <div class="col-md-12">
              <div class="col-md-1"></div>
            <!-- <a class="btn btn-primary" href="{% url 'inventory_management:product_manage' %}"> Product Wise</a> -->
             <input type="submit" id="btn_expiry_report" class="btn btn-primary" style="width:150px" value="Search"/>
             <a class="btn btn-primary" href="{% url 'inventory_management:outlet_viewall' %}"> Back </a>
            <!-- <a class="btn btn-primary" href="{% url 'inventory_management:CategoryWiseReport' %}"> CategoryWise Report</a>
             <a class="btn btn-primary" href="{% url 'inventory_management:product_manage' %}"> SupplierWise Report</a> -->
<!--             <button type="button" id="reloadpage" class="btn btn-primary"> <span class="glyphicon glyphicon-refresh"></span>Refresh</button> -->
            <input type="submit" id="btn_print" class="btn btn-success btn-sm" style="width:100px" value="Print"/>
        </div>
    </div>

        <div class="row">
        <div class="col-md-12" style="margin-top:20px;">
            <div class="table-responsive">
              <!--   <table class="table" id="myTable"> -->
                     <table class="table table-bordered" id="Table_content">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Mine Name</th>
                            <th>Prod Entered/Invoice Date</th>
                            <th>Prod Category</th>
                            <th>Product Name</th>
                            <th>InStock</th>
                            <th>Prod Expiry</th>
                            <th>DaysToExpiry</th>
                            <th>Status</th>
                            </tr>
                    </thead>
                      <tbody id="body_id">
                            {% for book in Report %}
                        <tr>
                             <td>{{forloop.counter}}</td>
                            <td>{{ book.mine_id }}</td>
                            <td>{{ book.entry_date }}</td>
                            <td>{{ book.prod_category }}</td>
                            <td>{{ book.prod_name }}</td>
                            <td>{{ book.quantity }}</td>
                           <!--  <td>{{ book.prod_expiry }}</td>
                            <td>{{ book.total_tax }}</td>
                            <td>{{ book.net_amount }}</td> --> 
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </section>
    </div>
</div>


<div class="modal fade" id="update_info" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Alert!
                </h4>
            </div>
            <div class="modal-body">Are you sure, You want to delete?
            </div>
            <div class="modal-footer">
                <a  id="sureDelete"><button type="button" class="btn btn-danger" >Yes</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        $("#id_mine_id").addClass('form-control');
        $('#myTable').DataTable();
    });

    $(document.body).on("click", ".delete", function () {

        $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');

    });
$('#reloadpage').click(function() {
 
     location.reload(true);
 
});
$(function() {
$("#from_date").datepicker({ format: 'yyyy-mm-dd'});
$("#to_date").datepicker({ format: 'yyyy-mm-dd'});

});
$(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });

$("#id_mine_id").on("change",function(){
    mine_id=this.value;
       $("#body_id").empty();

     $.ajax({
            type:"get",
            url: "{% url 'inventory_management:fetch_category_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                console.log(data.result);
               //alert(data.result[0]);
                fill_dropdown(data.result);


                    },
            error: function(){
                    console.log("error");
                 }
            });
});
function fill_dropdown(result){
    $("#id_category_list").html("<option>--Select Category--</option>");
    for (index = 0; index < result.length; index++) {
    //alert(result[index]);
    var str_array = result[index].split(',');
    //alert("id="+str_array[0]+":name="+str_array[1]);
    $("#id_category_list").append($("<option />").val(str_array[0]).text(str_array[1]));
    }
}


$("#id_category_list").on("change",function(){
    id_category=this.value;
    $.ajax({
            type:"get",
            url: "{% url 'inventory_management:fetch_product_ajax' %}",
            data: {
                     'id': id_category
                   },
            success: function(data) {
                //console.log(data.result);
                // alert(data.result[0]);
                fill_dropdown_product(data.result);

                return data;
                    },
            error: function(){
                    console.log("error he ji");
                 }
            });
});
function fill_dropdown_product(result){
    $("#id_product_list").html("<option>--Select Product--</option>");
    for (index = 0; index < result.length; index++) {
    //alert(result[index]);
    var str_array = result[index].split(',');
    //alert("id="+str_array[0]+":name="+str_array[1]);
    $("#id_product_list").append($("<option />").val(str_array[0]).text(str_array[1]));
    }
}

$("#btn_expiry_report").click(function(){
    id_category=$("#id_category_list").val();
    // alert(id_category)
    id_Product=$("#id_product_list").val();
    // alert(id_Product)
    if(id_category!="--Select Category--")
    {
            date_from=$("#from_date").val();
            date_to=$("#to_date").val();
                 $("#Table_data").empty();//empty the table on each click
                  $.ajax({
                    type:"get",
                    url: "{% url 'inventory_management:fetch_expiry_report_ajax' %}",
                    data: {
                              'id': id_category,
                              'date_from':date_from,
                              'date_to':date_to,
                              'id_prod':id_Product,
                           },
                    success: function(data) {
                             console.log(data.result);

                             fill_Report_table(data.result);
                             alert(data)
                             return data;
                            },
                    error: function(){
                            console.log("error");
                         }

                    });
            }
     else
     {
        alert("Please Select Mine then Category");
     }
});
function fill_Report_table(result){
    var TodayDate = new Date();
    //alert(TodayDate);
    for (index = 0; index <= result.length; index++) {
    var str_array = result[index].split(',');
    var todaydate = new Date(str_array[8]);
       var expirydate = new Date(str_array[1]);
       var diff = new Date(expirydate-todaydate);

// get days
       var days = diff/1000/60/60/24;
       var daystoexpire = days.toString();
       //alert(daystoexpire);
       if (daystoexpire<=0) 
       {
        var str ="Expired";
        var st1 = str.fontcolor("red");
        var status =st1.bold() ;
        
        //alert(daystoexpire+" "+"to expire product");
        //alert(daystoexpire+"/"+to expire product)
        } 
        else if (daystoexpire>0 && daystoexpire<=60) {
           // status=daystoexpire+" about to expire";
            var str="Product will expire in "+daystoexpire+ " days";
            alert(str);
            var st1 = str.fontcolor("green");
            var status =st1.bold() ;
        }
        else { 
             var x = daystoexpire/30;
             var months = Math.ceil(x)
             status= months+" months left to expire product";
            }
    
     // $("#Table_content").append($("<tr><td>"+str_array[0]+"</td><td>"+str_array[7]+"</td><td>"+str_array[5]+"</td><td>"+str_array[2]+"</td><td>"+str_array[3]+"</td><td>"+str_array[4]+"</td></tr>"));
     //$( "#id_category_list" ).val(conceptName);
//    //alert(conceptName)  
       //alert(str_array[8]-str_array[5]);
          $("#Table_content").append($("<tr><td>"+str_array[0]+"</td><td>"+str_array[7]+"</td><td>"+str_array[5]+"</td><td>"+str_array[2]+"</td><td>"+str_array[3]+"</td><td>"+str_array[4]+"</td><td>"+str_array[1]+"</td><td>"+daystoexpire+"</td><td>"+status+"</td></tr>"));

      //$("#ip_hidden").val(str_array[17]);

    }
}

$("#btn_print").click(function(){
    window.print();
});
    
</script>
{% endblock %}