{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">
        <center>
        <section class="col-md-12">
            <h1 class="page-header">Add Branch
                <small>&nbsp&nbsp&nbsp Here you can add another branch of clinic</small>
                </h1>  
                </center> 

            <div class="row text-center">
                <div class="col-md-12">
                 
             <!--        <a class="btn btn-primary" href="{% url 'inventory_management:supplier_manage' %}">Manage Supplier</a>
                    <a class="btn btn-primary" href="{% url 'inventory_management:product_manage' %}">Manage Product</a>
                 
                    <a class="btn btn-primary" href="{% url 'inventory_management:category_manage' %}">Manage Category</a>
                    <a class="btn btn-primary" href="{% url 'inventory_management:altProd_manage' %}">Manage Alternate Product</a>
                    <a class="btn btn-primary" href="{% url 'inventory_management:branch_manage' %}">Manage Branch</a> -->
                   
               <!--      <a class="btn btn-primary" href="{% url 'inventory_management:supplier_manage' %}">Manage Product</a>
                    <a class="btn btn-primary" href="{% url 'inventory_management:supplier_manage' %}">Manage Product</a> -->
                </div>
            </div>
            <hr>
            <!-- Table content -->
            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" >{% csrf_token %}

                        <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue">Mine Specific Details</font></legend>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="mine_id" class="" id="">Choose Clinic Area:</label>
                                    </div>
                                    <div class="col-md-8">
                                         {{ form.mine_id }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="id_business_website" class="" id="">Branch Name:</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{ form.branch_nm }}
                                    </div>
                                </div>
                            </div>
                    </fieldset>


               
                       
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Add Branch"/>
                        </div>
                    </form>

<!-- <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data" >{% csrf_token %}

                    <fieldset class="scheduler-border">
                            <legend class="scheduler-border"><font color="blue">Enter Category of Product</font></legend>
                            <centre>
                            <div class="form-group col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-4">
                                        <label for="prod_category" class="" id="">Product Category</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{form.prod_category}}
                                    </div>
                                </div>
                            </div>
                               </centre>
                            </div> -->
                                                   
                            <!-- {{ form.as_table }} -->
                       <!--  <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Add Category"/>
                        </div> -->
                    </form>
                </div>
                                                   
                            <!-- {{ form.as_table }} -->
                </div>
            </div><!--end Table content -->
        </section>
    </div>
</div>

<style>

    fieldset.scheduler-border {
    border: solid 1px #DDD !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}
fieldset ul {list-style:none}

</style>
<script>

$(document).ready(function(){
        $("#id_mine_id").addClass('form-control');

});



</script>

{% endblock %}

