{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container-fluid">
    <div class="row">
        <section class="col-md-12">
            
            <center>
            <h1 class="page-header"><centre>Sub-Branch Report<small></small></centre></h1>

            <!-- Table content -->
           </center>



<div class="row text-center">
        <div class="col-md-12">
             
            <a class="btn btn-primary" href="{% url 'inventory_management:OutletOutOfStock' %}"> OutOfStock Report</a>
            <a class="btn btn-primary" href="{% url 'inventory_management:OutletExpiredView' %}"> Expired Report</a>
             
             <input type="submit" id="btn_print" class="btn btn-success btn-sm" style="width:100px" value="Print"/>

             
        </div>
    </div>
            <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table" id="myTable" >
                     
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Invoice Number</th>
                            <th>Mine Name</th> 
                            <th>Prod Category</th>
                            
                            <th>Prod Batch </th>
                            
                            <th>Product Name</th>
                            <th>In Stock</th>
                            <th>Per Unit Price</th>
                            <th>Prod Expiry</th>
                            <th>Daysleft to Expire</th>
                            <th>Product Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in object_list %}
                            {% if book.11 == "Expired" %} 
                                <tr style="background-color: #e6ffff">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ book.7 }}</td>
                                    <td>{{ book.1 }}</td>
                                    <td>{{ book.3 }}</td>
                                    <td>{{ book.12 }}</td>
                                    <td>{{ book.4 }}</td>
                                    <td>{{ book.6 }}</td>                       
                                    <td>{{ book.10 }}</td>
                                    <td>{{ book.8 }} </td>
                                    <td>{{ book.13 }} </td>
                                    {% if book.6 == "Out of Stock" %}
                                        <td>  {{ book.6 }} </td> 
                                    {% else %} 
                                         <td> {{ book.11 }}  </td> 
                                    {% endif %}
                                </tr>
                            {% elif book.11 == "Expiring Soon"  %}
                                <tr style="background-color: #ffe6e6" >
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ book.7 }}</td>
                                    <td>{{ book.1 }}</td>
                                    <td>{{ book.3 }}</td>
                                    <td>{{ book.12 }}</td>
                                    <td>{{ book.4 }}</td>
                                    <td>{{ book.6 }}</td>                                
                                    <td>{{ book.10 }}</td>
                                    <td>{{ book.8 }} </td>
                                    <td>{{ book.13 }} </td>
                                    {% if book.6 == "Out of Stock" %}
                                        <td>  Out of Stock </td> 
                                    {% else %} 
                                         <td> {{ book.11 }}  </td> 
                                    {% endif %}                                                                                         
                                </tr>
                            {% else %}
                                <tr style="background-color: #ffffff">
                                    <td>{{forloop.counter}}</td>
                                    <td>{{ book.7 }}</td>
                                    <td>{{ book.1 }}</td>
                                    <td>{{ book.3 }}</td>
                                    <td>{{ book.12 }}</td>
                                    <td>{{ book.4 }}</td>
                                     <td>{{ book.6 }}</td>
                                    <td>{{ book.10 }}</td>
                                    <td>{{ book.8 }} </td>
                                    <td>{{ book.13 }} </td>
                                    {% if book.6 == "Out of Stock" %}
                                        <td>  {{ book.6 }} </td> 
                                    {% else %} 
                                         <td> {{ book.11 }}  </td> 
                                    {% endif %}
                                </tr>

                            {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        </section>
    </div>
</div>

<style type="text/css">
.NegativeTransaction {
  color: #FF0000;
}

.PositiveTransaction.green {
  color: #33FF3C;
}

</style>



<script>
    $(document).ready(function(){

        $('#myTable').DataTable();
           // d_table();
    });

    $(document.body).on("click", ".delete", function () {

        $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');

    });

$("#btn_print").click(function(){
    window.print();
});

// function d_table(){
//          $('#myTable').DataTable({
//                 paging: false,
//                 searching: true,
//                 "ordering": false,
//                 dom: 'Bfrtip',
//                 buttons: [
//                     'copy', 'csv', 'excel', 'pdf', 'print'
//                 ]
//          });
//     }

  
</script>
{% endblock %}