<html>
    <head>
        <title>Digital Mine (IoT) | CSIR-CIMFR</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>
        <table width="100%">
            <tr>
                <td>
                    <h3 align="center"><b>ANNUAL RETURN OF COAL MINE FOR THE YEAR ENDING ON THE 31<sup>ST</sup> DECEMBER,{{form.aecm_year}}</b></h3>
                    <h4 align="center"><b>(Under the Mines Act, 1952 and allied legislation framed thereunder)</b></h4>
                    <h3><b>PART-A :The Coal Mines Regulations, 1957 (See Regulation 5):</b></h3>
                    <table class="table">
                        <!-------------------------------------- START POINT 1 ----------------------------------------------------------------->
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>1.Name of Mine:</td>
                                        <td><b>{{form.mine_name}}</b></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!------------------------------------- END POINT 1------------------------------------------------------------------------>
                        <!------------------------------------- START POINT 2 --------------------------------------------------------------------->
                    <table class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td> 2.Postal address of mine:</td>
                                        <td>
                                            Village/Area/Road: <b>{{ form.mine_vill}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                             Tehsil/Taluka/Sub-division: <b>{{ form.mine_tehsil}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                             District:<b>{{ form.mine_dist}}</b>
                                        </td>
                                        <td>
                                            PIN:<b>{{ form.mine_pin}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            State:<b>{{ form.mine_state}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!-------------------------------------------------- END POINT 2 ---------------------------------------------------->
                        <!--------------------------------------------------START POINT 3 --------------------------------------------------->

                    <table class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td> 3.Date of Opening:</td>
                                        <td><b>{{ form.mine_dop}}</b></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 3 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 4 --------------------------------------------------->
                    <table class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>4.Labour Identification No.(LIN):</td>
                                        <td><b>{{ form.labour_id_no}}</b></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 4 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 5 ----------------------------------------------------->
                    <table width="100%" class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>5. Name of Owner:</td>
                                        <td><b>{{ form.owner_name}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (a) Contact details of owner:
                                        </td>
                                        <td>
                                            Tel No:<b>{{ form.owner_telephone}}</b>
                                        </td>
                                        <td>
                                            Mob No:{{ form.owner_mobile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (b) e-mail id of Owner:
                                        </td>
                                        <td>
                                            Email:<b>{{ form.owner_email}}</b>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            (c) Postal address of Owner:
                                        </td>
                                        <td>
                                            Village/Area/Road: <b>{{ form.owner_vill}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            Tehsil/Taluka/Sub-division:<b>{{ form.owner_tehsil}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            District: <b>{{ form.owner_dist}}</b>
                                        </td>
                                        <td>
                                            PIN: <b>{{ form.owner_pin}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            State:<b>{{ form.owner_state}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 5 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 6 ----------------------------------------------------->
                    <table width="100%" class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                          6. Name of Agent <br><small>(if any) as defined in section 2(c)<br> of the Mines Act, 1952</small> :
                                        </td>
                                        <td>
                                            <b>{{ form.agent_name}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (a) Contact details of Agent:
                                        </td>
                                        <td>
                                            Tel No:<b>{{ form.agent_telephone}}</b>
                                        </td>
                                        <td>
                                            Mob No:{{ form.agent_mobile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (b) e-mail id of Agent:
                                        </td>
                                        <td>
                                            Email:<b>{{ form.agent_email}}</b>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            (c) Postal address of Agent:
                                        </td>
                                        <td>
                                            Village/Area/Road: <b>{{ form.agent_vill}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            Tehsil/Taluka/Sub-division:<b>{{ form.agent_tehsil}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            District: <b>{{ form.agent_dist}}</b>
                                        </td>
                                        <td>
                                            PIN: <b>{{ form.agent_pin}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            State:<b>{{ form.agent_state}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 6 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 7 ----------------------------------------------------->
                    <table class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>7.Name of Manager:</td>
                                        <td><b>{{ form.manager_name}}</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (a) Contact details of Manager:
                                        </td>
                                        <td>
                                            Tel No:<b>{{ form.manager_telephone}}</b>
                                        </td>
                                        <td>
                                            Mob No:{{ form.manager_mobile}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            (b) e-mail id of Manager:
                                        </td>
                                        <td>
                                            Email:<b>{{ form.manager_email}}</b>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            (c) Postal address of Manager:
                                        </td>
                                        <td>
                                            Village/Area/Road: <b>{{ form.manager_vill}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            Tehsil/Taluka/Sub-division:<b>{{ form.manager_tehsil}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            District: <b>{{ form.manager_dist}}</b>
                                        </td>
                                        <td>
                                            PIN: <b>{{ form.manager_pin}}</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            State:<b>{{ form.manager_state}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 7 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 8 ----------------------------------------------------->
                    <table width="100%" class="table">
                        <tr>
                            <td>
                             8.Statutory Personnel employed in the mine:
                                 <table width="100%" border="1">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sl. No.</th>
                                            <th scope="col">Designation</th>
                                            <th scope="col">No. required</th>
                                            <th scope="col">No. available</th>
                                            <th scope="col">Shortage/surplus</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for table1 in subTable1 %}
                                        <tr>
                                            <td align="center">{{forloop.counter}}</td>
                                            <td align="center">{{table1.spem_designation}}</td>
                                            <td align="center">{{table1.spem_no_requried}}</td>
                                            <td align="center">{{table1.spem_no_available}}</td>
                                            <td align="center">{{table1.spem_short_surplus}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 8 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 9 ----------------------------------------------------->
                    <table width="100%" class="table">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            9. No. of contractors engaged :
                                        </td>
                                        <td>
                                            <b>{{ form.no_of_contractors}}</b>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------END POINT 9 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 10 ----------------------------------------------------->

                                10. EMPLOYMENT<br>
                                (1) Number of persons employed on roll in the mine:
                                <table width="100%" border="1">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Classification</th>
                                            <th colspan="3">
                                                <center>Departmental</center>
                                            </th>
                                            <th colspan="3">
                                             <center>Contractual</center>
                                            </th>
                                        </tr>
                                        <tr>

                                            <th>Male</th>
                                            <th>Female</th>
                                            <th>Total</th>
                                            <th>Male</th>
                                            <th>Female</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td align="left">Belowground</td>
                                            <td align="center">
                                                {{ form.dept_background_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_background_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_total_background_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_background_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_background_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_background_total_male_female}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">Open Cast</td>
                                            <td align="center">
                                                {{ form.dept_opencast_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_opencast_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_opencast_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_opencast_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_opencast_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_opencast_total_male_female}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">Aboveground</td>
                                            <td align="center">
                                                {{ form.dept_aboveground_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_aboveground_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_aboveground_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_aboveground_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_aboveground_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_aboveground_total_male_female}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                (2) Maximum number of persons employed on any day during the year {{form.aecm_year}}<br>
                                (i) in workings below ground on <b>{{ form.wbg_number}}</b> (specific day): <b>{{ form.wbg_day}}</b><br>
                                (ii) in all in the mine on <b>{{ form.am_number}}</b> (specific day):<b>{{ form.am_day}}</b><br>
                                (3) Details of mandays worked and average employment:
                                <table border="1" width="100%">
                                    <thead>
                                        <tr>
                                            <th rowspan="3">Classification</th>
                                            <th colspan="6">
                                                <center>Departmental</center>
                                            </th>
                                            <th colspan="6">
                                                <center>Contractual</center>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Total mandays worked</td>
                                            <td colspan="3">Average daily number of persons employed</td>
                                            <td colspan="3">Total mandays worked</td>
                                            <td colspan="3">Average daily number of persons employed</td>
                                        </tr>
                                        <tr>
                                            <td>Male</td>
                                            <td>Female</td>
                                            <td>Total</td>
                                            <td>Male</td>
                                            <td>Female</td>
                                            <td>Total</td>
                                            <td>Male</td>
                                            <td>Female</td>
                                            <td>Total</td>
                                            <td>Male</td>
                                            <td>Female</td>
                                            <td>Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>(a)Belowground</td>
                                            <td align="center">
                                                {{ form.dept_tmw_background_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_tmw_background_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_tmw_background_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_adnpe_background_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_adnpe_background_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_adnpe_background_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_tmw_background_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_tmw_background_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_tmw_background_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_adnpe_background_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_adnpe_background_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_adnpe_background_total_male_female}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>(b)Open Cast</td>
                                            <td align="center">
                                                {{ form.dept_tmw_opencast_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_tmw_opencast_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_tmw_opencast_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_adnpe_opencast_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_adnpe_opencast_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.dept_adnpe_opencast_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_tmw_opencast_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_tmw_opencast_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_tmw_opencast_total_male_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_adnpe_opencast_male}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_adnpe_opencast_female}}
                                            </td>
                                            <td align="center">
                                                {{ form.cont_adnpe_opencast_total_male_female}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>(c)Aboveground</td>
                                            <td align="center">
                                             {{ form.dept_tmw_aboveground_male}}
                                            </td>
                                         <td align="center">
                                            {{ form.dept_tmw_aboveground_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.dept_tmw_aboveground_total_male_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.dept_adnpe_aboveground_male}}
                                        </td>
                                        <td align="center">
                                            {{ form.dept_adnpe_aboveground_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.dept_adnpe_aboveground_total_male_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.cont_tmw_aboveground_male}}
                                        </td>
                                        <td align="center">
                                            {{ form.cont_tmw_aboveground_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.cont_tmw_aboveground_total_male_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.cont_adnpe_aboveground_male}}
                                        </td>
                                        <td align="center">
                                            {{ form.cont_adnpe_aboveground_female}}
                                        </td>
                                        <td align="center">
                                            {{ form.cont_adnpe_aboveground_total_male_female}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        <!--------------------------------------------------END POINT 10 --------------------------------------------------->
                        <!--------------------------------------------------START POINT 11 ----------------------------------------------------->
                    <table class="table" width="100%">
                        <tr>
                            <td>
                                11. No. of contractors engaged:<b>{{ form.no_of_contractors_engaged}}</b>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No.
                                of shift worked:<b> {{ form.no_of_shift_worked}}</b>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------End POINT 11 ----------------------------------------------------->
                        <!--------------------------------------------------Start POINT 12 ----------------------------------------------------->
                    <table class="table" width="100%">
                        <tr>
                            <td>
                                12. DETAILS OF COAL RAISED, MATERIAL HANDLED, ETC.<br>
                                (a) COAL RAISED ETC. (for all mines) :
                                <table border="1" width="100%">
                                    <thead>
                                        <tr>
                                            <th rowspan="4">Grade</th>
                                            <th rowspan="4">Opening stock on 1st January,
                                                {{form.aecm_year}}
                                            </th>
                                            <th colspan="6">Coal raised during the year</th>
                                            <th rowspan="4"> Total of Columns (2) and (7)</th>
                                            <th rowspan="4">Coal Dispatched</th>
                                            <th rowspan="4">Closing stock on 31st December
                                                {{form.aecm_year}}
                                                {Diff. of Column (9) & (10)}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="4">Below ground</th>
                                            <th rowspan="3">Open- cast</th>
                                            <th rowspan="3">Sub- total of (3) to (7)</th>
                                        </tr>
                                        <tr>
                                            <th colspan="2">Bord & Pillar Method</th>
                                            <th colspan="2">Method other than Bord & Pillar {____
                                                (Specify Method)}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <center>(1)</center>
                                            </td>
                                            <td>
                                                <center>(2)</center>
                                            </td>
                                            <td>
                                                <center>(3)</center>
                                            </td>
                                            <td>
                                                <center>(4)</center>
                                            </td>
                                            <td>
                                                <center>(5)</center>
                                            </td>
                                            <td>
                                                <center>(6)</center>
                                            </td>
                                            <td>
                                                <center>(7)</center>
                                            </td>
                                            <td>
                                                <center>(8)</center>
                                            </td>
                                            <td>
                                                <center>(9)</center>
                                            </td>
                                            <td>
                                                <center>(10)</center>
                                            </td>
                                            <td>
                                                <center>(11)</center>
                                            </td>
                                        </tr>
                                        {% for table3 in subTable3 %}
                                        <tr>
                                            <td align="center">{{table3.cre_grade}}</td>
                                            <td align="center">{{table3.cre_2}}</td>
                                            <td align="center">{{table3.cre_3}}</td>
                                            <td align="center">{{table3.cre_4}}</td>
                                            <td align="center">{{table3.cre_5}}</td>
                                            <td align="center">{{table3.cre_6}}</td>
                                            <td align="center">{{table3.cre_7}}</td>
                                            <td align="center">{{table3.cre_8}}</td>
                                            <td align="center">{{table3.cre_9}}</td>
                                            <td align="center">{{table3.cre_10}}</td>
                                            <td align="center">{{table3.cre_11}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                (b) MATERIAL HANDLED (for Open cast mines only) :
                                <table border="1" width="100%">
                                    <thead>
                                        <tr>

                                            <th>Coal raised during the year {Column (7) of 12(a)
                                                converted in cubic meter}
                                            </th>
                                            <th>Stone, debris, etc. handled during the year(cubic
                                                meter)
                                            </th>
                                            <th>Total material handled during the calendar
                                                year(cubic
                                                meter) {Col.(1)+(2)}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <center>(1)</center>
                                            </td>
                                            <td>
                                                <center>(2)</center>
                                            </td>
                                            <td>
                                                <center>(3)</center>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <center>{{ form.mh_1}}</center>
                                            </td>
                                            <td>
                                                <center>{{ form.mh_2}}</center>
                                            </td>
                                            <td>
                                                <center>{{ form.mh_3}}</center>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </table>
                    <!--    ------------------------------------------------End POINT 12 --------------------------------------------------->
                    <!--    ------------------------------------------------Start POINT 13 --------------------------------------------------->
                    <table class="table" width="100%">
                        <tr>
                            <td>
                                13.(a) AGGREGATE HORSE-POWER OF MACHINERY AND EQUIPMENT USED/INSTALLED IN THE MINE:
                                <table border="1" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <center>Place</center>
                                            </th>
                                            <th>
                                                <center>Electrical</center>
                                            </th>
                                            <th>
                                                <center>Oil/natural gas/steam</center>
                                            </th>
                                            <th>
                                                <center>Compressed air</center>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>(a)Belowground</td>
                                            <td align="center">
                                                {{ form.electrical_background}}
                                            </td>
                                            <td align="center">
                                                {{ form.ongs_background}}
                                            </td>
                                            <td align="center">
                                                {{ form.comp_air}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>(b)Open Cast</td>
                                            <td align="center">
                                                {{ form.electrical_opencast}}
                                            </td>
                                            <td align="center">
                                                {{ form.ongs_opencast}}
                                            </td>
                                            <td align="center">
                                                {{ form.comp_air_opencast}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>(c)Aboveground</td>
                                            <td align="center">
                                                {{ form.electrical_aboveground}}
                                            </td>
                                            <td align="center">
                                                {{ form.ongs_aboveground}}
                                            </td>
                                            <td align="center">
                                                {{ form.comp_air_aboveground}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td align="center">
                                                {{ form.total_electrical}}
                                            </td>
                                            <td align="center">
                                                {{ form.total_ongs}}
                                            </td>
                                            <td align="center">
                                                {{ form.total_comp_air}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                (b) Voltage(s) at which current is used :<br>
                                &nbsp;(i) Lighting <b>{{ form.lighting}}</b><br>
                                (ii) Power<b>{{ form.power}}</b>
                            </td>
                        </tr>
                    </table>
                        <!--------------------------------------------------End POINT 13 ----------------------------------------------------->
                        <!--------------------------------------------------Start POINT 14 ----------------------------------------------------->
                    <table class="table" width="100%">
                        <tr>
                            <td>
                                14. ACCIDENT STATISTICS (during last three years)
                                <table border="1" width="100%">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">Year</th>
                                            <th colspan="3">
                                                <center>Fatal Accident</center>
                                            </th>
                                            <th colspan="2">
                                                <center>Serious Accident</center>
                                            </th>
                                            <th colspan="2">Reportable Accident</th>
                                            <th colspan="2">Minor Accident</th>
                                        </tr>
                                        <tr>

                                            <th>Number</th>
                                            <th>Number of person(s) killed</th>
                                            <th>Number of person(s) seriously injured</th>
                                            <th>Number</th>
                                            <th>Number of person(s) seriously injured</th>
                                            <th>Number</th>
                                            <th>Number of person(s) injured</th>
                                            <th>Number</th>
                                            <th>Number of person(s) injured</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for table2 in subTable2 %}
                                        <tr>
                                            <td align="center">{{table2.accident_statistics_year}}</td>
                                            <td align="center">{{table2.accident_statistics_fatal_number}}</td>
                                            <td align="center">{{table2.accident_statistics_fatal_no_of_persion_killed}}</td>
                                            <td align="center">{{table2.accident_statistics_fatal_no_of_persion_injured}}</td>
                                            <td align="center">{{table2.accident_statistics_serious}}</td>
                                            <td align="center">{{table2.accident_statistics_serious_injured}}</td>
                                            <td align="center">{{table2.accident_statistics_reportable_number}}</td>
                                            <td align="center">{{table2.accident_statistics_reportable_injured}}</td>
                                            <td align="center">{{table2.accident_statistics_minor_number}}</td>
                                            <td align="center">{{table2.accident_statistics_minor_injured}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <!--------------------------------------------------End POINT 14 ----------------------------------------------------->
                    </table>

                    <h3><b>PART-B :The Mines Rules,1955:</b></h3>

                    <table width="100%">
                        <tr>
                            <td>
                                1. INITIAL/PERIODIC MEDICAL EXAMINATION (IME/PME) CONDUCTED DURING THE YEAR<br>&nbsp;&nbsp;&nbsp;{Rules 29B and 29P(1) of the Mines Rules,1955}
                                <table width="100%" border="1">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Number of Persons employed</th>
                                            <th colspan="2">Number of Persons requried to undergo IME/PME</th>
                                            <th colspan="2">Number of Persons actually undergone IME/PME</th>
                                            <th>No. of Persons deciared medically unfit</th>
                                        </tr>
                                        <tr>
                                            <th>Departmental</th>
                                            <th>Contractual</th>
                                            <th>Departmental</th>
                                            <th>Contractual</th>
                                            <th>Departmental</th>
                                            <th>Contractual</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="7"><b>Inital Medical Examination (IME)</b></td>
                                        </tr>
                                        <tr>
                                            <td  align="center">{{form.ime_npe_dept}}</td>
                                            <td  align="center">{{form.ime_npe_cont}}</td>
                                            <td  align="center">{{form.ime_npru_dept}}</td>
                                            <td  align="center">{{form.ime_npru_cont}}</td>
                                            <td  align="center">{{form.ime_npau_dept}}</td>
                                            <td align="center">{{form.ime_npau_cont}}</td>
                                            <td align="center">{{form.ime_no_of_p_d_m_unfit}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7"><b>Periodical Medical Examination (PME)</b></td>
                                        </tr>
                                        <tr>
                                            <td  align="center">{{form.pme_npe_dept}}</td>
                                            <td  align="center">{{form.pme_npe_cont}}</td>
                                            <td align="center">{{form.pme_npru_dept}}</td>
                                            <td align="center">{{form.pme_npru_cont}}</td>
                                            <td align="center">{{form.pme_npau_dept}}</td>
                                            <td align="center">{{form.pme_npau_cont}}</td>
                                            <td align="center">{{form.pme_no_of_p_d_m_unfit}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td>
                               2.APPOINTMENT OF WORKMEN'S INSPECTORS<br>
                               &nbsp;&nbsp;&nbsp;{Rules 29q of Mines Rules,1955}
                               (i) No. of Workmen's Inspector required{{form.no_of_workmen_req}}
                               (ii) No. of Workmen's Inspector provided{{form.no_of_workmen_provide}}

                           </td>
                       </tr>
                       <tr>
                        <td>
                            3. Number of Safety Commitee meeting conducted during the year {Rules 29V of Mines Rules,1955}{{form.no_of_satfy_c_meeting_conduct}}
                        </td>
                    </tr>
                    </table>

                    <h3><b>PART-C : Mines Vocational Training Rules,1966</b></h3>
                    <table width="100%">
                        <tr>
                            <td>
                             1. VOCATIONAL TRAINING
                             <table width="100%" border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">Number of Persons employed</th>
                                        <th colspan="2">Number of Persons requried to undergo vocational training</th>
                                        <th colspan="2">Number of Persons actually undergone vocational training</th>
                                    </tr>
                                    <tr>
                                        <th>Departmental</th>
                                        <th>Contractual</th>
                                        <th>Departmental</th>
                                        <th>Contractual</th>
                                        <th>Departmental</th>
                                        <th>Contractual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="6"><b>Basic Vocational Training</b>(under Rule 6)</td>
                                    </tr>
                                    <tr>
                                        <td align="center">{{form.npe_bvt_dept}}</td>
                                        <td align="center">{{form.npe_bvt_cont}}</td>
                                        <td align="center">{{form.npruvt_bvt_dept}}</td>
                                        <td align="center">{{form.npruvt_bvt_cont}}</td>
                                        <td align="center">{{form.npauvt_bvt_dept}}</td>
                                        <td align="center">{{form.npauvt_bvt_cont}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"><b>Refresher Training</b>(under Rule 8)</td>
                                    </tr>
                                    <tr>
                                        <td align="center">{{form.npe_rt_dept}}</td>
                                        <td align="center">{{form.npe_rt_cont}}</td>
                                        <td align="center">{{form.npruvt_rt_dept}}</td>
                                        <td align="center">{{form.npruvt_rt_cont}}</td>
                                        <td align="center">{{form.npauvt_rt_dept}}</td>
                                        <td align="center">{{form.npauvt_rt_cont}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
