{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
<div class="container">
    <div class="row">
        <section class="col-md-12">
            <h1 class="page-header"><b>STRATA LIVE DATA</b><small> Here we can view live strata data</small></h1>
            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-2">
                                 <label for="" class="" id="">Choose Mine:</label>
                            </div>
                            <div class="col-md-4">
                                {{form.mine_name}}
                            </div>
                             <div class="col-md-2">
                                  <label for="" class="" id="">Choose Location:</label>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" id="id_location_list">
                                    <option>--Select Location--</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                 <label> Choose Sensor:</label>
                            </div>
                            <div class="col-md-4">
                               <select class="form-control" id="id_sensor_list">
                                    <option value="">--Select Sensor--</option>
                                </select>
                            </div>
                             <div class="col-md-2">
                                 <label for="" class="" id="">Time Interval <small>  (in Seconds)</small>:</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="" value="30" id="id_interval">
                            </div>
                        </div>
                    </form>
                    <div class="row">
                         <div class="text-center">
                            <input type="submit" id="btn_show" class="btn btn-primary" value="Show"/>
                        </div>
                    </div>
                    <div class="row" style="margin-top:15px;">
                        <div class="col-md-4">
                            <label for="" class="" id="">Wireless data is comming from IP:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control" readonly id="ip_hidden">
                        </div>
                    </div>
                    <div class="col-md-12" style="margin-top:15px;">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="sensor_content">
                                <thead>
                                    <tr>
                                        <th>Date Time</th>
                                        <th>Mine Name</th>
                                        <th>Location Name</th>
                                        <th>Sensor Name</th>
                                        <th>Sensor Value</th>
                                        <th>Sensor Unit</th>
                                        <th>Tag No</th>
                                    </tr>
                                </thead>
                                <tbody id="sensor_content_body">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
 <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>
    $("#id_mine_name").addClass('form-control');
    $("#id_mine_name").on("change",function(){
        mine_id=this.value;
        $.ajax({
            type:"get",
            url: "{% url 'Strata:fetch_location_ajax' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                        fill_dropdown(data.result);
                    },
            error: function(){
                    console.log("error he ji");
                 }
        });
    });
    function fill_dropdown(result){
        $("#id_location_list").html("<option>--Select Location--</option>");
        for (index = 0; index < result.length; index++) {
            var str_array = result[index].split(',');
            $("#id_location_list").append($("<option />").val(str_array[0]).text(str_array[1]));
        }
    }
    $("#id_location_list").on("change",function(){
    location_id=this.value;
    $.ajax({
            type:"get",
            url: "{% url 'Strata:fetch_sensor_ajax' %}",
            data: {
                     'id': location_id
                   },
            success: function(data) {
                fill_dropdown_sensor(data.result);

                return data;
                    },
            error: function(){
                    console.log("error he ji");
                 }
            });
});
function fill_dropdown_sensor(result){
    $("#id_sensor_list").html("<option value=''>--Select Sensor--</option>");
    for (index = 0; index < result.length; index++) {
        var str_array = result[index].split(',');
        $("#id_sensor_list").append($("<option />").val(str_array[0]).text(str_array[1]));
    }
}

//======================================================================================================================
var l_value ="";
var m_value = "";
var h_value = "";
var audio_type =  "";
var first_warning =   "";
var second_warning =  "";
var third_warning =  "";

var first_audio =   "";
var second_audio = "";
var third_audio =   "";

   $("#id_sensor_list").on("change",function(){
        sensor_id=this.value;
        $.ajax({
                type:"get",
                url: "{% url 'Strata:fetch_sensor_details' %}",
                data: {
                    'sensor_id': sensor_id
                    },
                success: function(data) {
                     for(index = 0; index < data.result.length; index++) {
                            var str_array = data.result[index].split('@#');
                            l_value = str_array[0];
                            m_value = str_array[1];
                            h_value = str_array[2];

                            audio_type = str_array[9];
                            first_warning =  str_array[3];
                            second_warning = str_array[4];
                            third_warning = str_array[5];

                            first_audio =  str_array[6];
                            second_audio = str_array[7];
                            third_audio =  str_array[8];
                        }
                 },
                error: function(){
                        console.log("something went worng");
                     }
         });
    });

//====================================================================================================================


    var interval_time=0;
    $("#btn_show").click(function(){
         var warning_validation = 2;
        $("#btn_show").val("Please wait...");
        $("#btn_show").prop('disabled', true);
        interval_time=($("#id_interval").val()* 1000);
        sensor_id=$("#id_sensor_list").val();
        if(sensor_id == ""){
            alert("Please Choose Sensor");
            $("#btn_show").val("Show");
            $("#btn_show").prop('disabled', false);
        }else{
            $("#ip_hidden").val("");//empty the IP address on each click
            $("#sensor_content_body").empty();//empty the table on each click

            setInterval(function(){
                    $.ajax({
                    type:"get",
                    url: "{% url 'Strata:fetch_sensor_values_ajax' %}",
                    data: {
                             'id': sensor_id
                           },
                    success: function(data) {
                        console.log(data.result);
                        $('tr').css({ 'background-color' : '#FFFFFF'});
                        fill_table_sensor(data.result);

                        return data;
                            },
                    error: function(){
                            console.log("error he ji");
                         }
                    });
            }, interval_time);//time in milliseconds
        }

    });
    function fill_table_sensor(result){

        if ( $.fn.DataTable.isDataTable('#sensor_content') ) {
          $('#sensor_content').DataTable().destroy();
        }

        for (index = 0; index < result.length; index++) {
            var str_array = result[index].split(',');
            console.log(str_array);
            $("#ip_hidden").val(str_array[1]);
            $("#sensor_content").prepend($("<tr bgcolor='#ADFF2F'><td>"+str_array[2]+"</td><td>"+str_array[3]+"</td><td>"+str_array[4]+"</td><td>"+str_array[5]+"</td><td>"+str_array[6]+"</td><td>"+str_array[7]+"</td><td>"+str_array[8]+"</td></tr>"));
            checkAndPlay(str_array[6])
        }

        d_table();
        $("#btn_show").val("Show");
        $("#btn_show").prop('disabled', false);
    }
    $("#btn_print").click(function(){
        window.print();
    });

    function d_table(){
         $('#sensor_content').DataTable({
                paging: false,
                searching: true,
                "ordering": false,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
         });
    }

    $(document).ready(function() {
         $("#id_mine_name").addClass('form-control');
        d_table();
    } );



    function checkAndPlay(sensorValue){

        var loc = window.location;
        var baseUrl = loc.protocol + "//" + loc.hostname + (loc.port? ":"+loc.port : "") + "/media/" ;

        if((parseFloat(l_value) < parseFloat(sensorValue))&&(parseFloat(sensorValue) < parseFloat(m_value))){//low level
            $.toast({
                heading: '<b>Strata Monitoring : First Level Warning</b>',
                text: first_warning,
                showHideTransition: 'fade',
                position: 'bottom-right',
                icon: 'error'
            })
            if(audio_type =="text2voice"){
                 Speak(first_warning,9,0.5);
            }else{
                path = baseUrl+first_audio;
                var playNow = new Audio(path);
                playNow.play();
            }
        }
        if((parseFloat(m_value) < parseFloat(sensorValue)) && (parseFloat(sensorValue) < parseFloat(h_value))){//middle level
            $.toast({
                heading: '<b>Strata Monitoring : Second Level Warning </b>',
                text: second_warning,
                showHideTransition: 'fade',
                position: 'bottom-right',
                icon: 'error'
            })
             if(audio_type =="text2voice"){
                 console.log(second_warning)
                 Speak(second_warning,9,0.5);
             }else{
                  path = baseUrl+second_audio;
                 var playNow = new Audio(path);
                 playNow.play();
             }
        }

        if( parseFloat(h_value) < parseFloat(sensorValue)) {//high level

            $.toast({
                heading: '<b>Strata Monitoring : Third Level Warning</b> ',
                text: third_warning,
                position: 'bottom-right',
                showHideTransition: 'fade',
                icon: 'error'
            })
            if(audio_type =="text2voice"){
                  Speak(third_warning, 9, 0.5);
            }else{
                 path = baseUrl+third_audio;
                 var playNow = new Audio(path);
                playNow.play();
            }
        }
    }


</script>
{% endblock %}