{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
<section class="col-md-12">
    <h1 class="page-header">Manage Sensor</h1>
    <div class="row text-center">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{% url 'sensor:sensor_add' arduino_id %}">Add Sensor</a>
        </div>
    </div>
    <hr>
    <!-- Table content -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="content">
                    <thead>
                        <tr>
                            <th>SL No</th>
                            <th>ID</th>
                            <th>Sensor ID</th>
                            <th>Sensor Name</th>
                            <th>Min Range</th>
                            <th>Max Range</th>
                            <th>Sensor Unit</th>
                            <th>Threshold Limit</th>
                            <th>Green Level Limit</th>
                            <th>Yellow Level Limit</th>
                            <th>Red Level Limit</th>
                            <th>Photo</th>
                            <th class="text-center" colspan="2">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                            {% for book in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ book.id }}</td>
                            <td>{{ book.sensorid }}</td>
                            <td>{{ book.sensorname }}</td>
                            <td>{{ book.minrange }}</td>
                            <td>{{ book.maxrange }}</td>
                            <td>{{ book.sensorunit }}</td>
                            <td>{{ book.thresholdlimit }}</td>
                            <td>{{ book.greenlevel }}</td>
                            <td>{{ book.yellowlevel }}</td>
                            <td>{{ book.redlevel }}</td>
                            <td><img class="image image-responsive" src="/media/{{ book.photo }}" height="100" width="100"/> </td>
                            <td class="text-center"><a href="{% url 'sensor:sensor_edit' book.id arduino_id%}" title="Edit Sensor."><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="text-center"><a href="#" class="delete" data-url="{% url 'sensor:sensor_delete' book.id arduino_id %}" title="Delete Sensor."><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <ul id="pagination" class="pagination light-theme simple-pagination"><li class="active"><span class="current prev">Prev</span></li><li class="active"><span class="current">1</span></li><li><a class="page-link" href="#page-2">2</a></li><li><a class="page-link" href="#page-3">3</a></li><li><a class="page-link next" href="#page-2">Next</a></li></ul>
        </div>
    </div><!--end Table content -->
</section>
        </div>
</div>

<div class="modal fade" id="update_info" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Alert!
                </h4>
            </div>
            <div class="modal-body">Are you sure, You want to delete?
            </div>
            <div class="modal-footer">
                <a  id="sureDelete"><button type="button" class="btn btn-danger" >Yes</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>


  <script>
      $(document.body).on("click", ".delete", function () {

        $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');

    });
  </script>
{% endblock %}