<html>
<head>
    <title>Ellicots Graph</title>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'image/csir_logo.ico' %}" type="image/icon type">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
</head>
<body>
<div class="container">
    <section class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{ node_id }}" id="node_id" data-url="{% url 'sensor:ellicots_ajax' %}">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="page-header text-center"><b>Ellicots Extension Graph</b></h3>
                    {% csrf_token %}
                    <div class="col-md-2">
                        {#                    <label> Select Mine </label><span id="mine_id_span">{{ form.mine }}</span><br>#}
                    </div>
                    <div class="col-md-4">
                        <div class="input-group date" id="date_from_time_picker">
                            <input type="text" name="date_of_opening" class="form-control" placeholder="From Date"
                                   id="id_date_fr" required="" autocomplete="off">

                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group date" id="date_to_time_picker">
                            <input type="text" name="date_of_opening" class="form-control" placeholder="To Date"
                                   id="id_date_to" required="" autocomplete="off">

                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="text-center">
                <button id="btn_show" class="btn btn-primary">Show Graph</button>
            </div>
            <div class="loader-container" hidden>
                <svg class="notfound-loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                    <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                    <circle cx="170" cy="170" r="135" stroke="#404041"/>
                    <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                    <circle cx="170" cy="170" r="85" stroke="#404041"/>
                </svg>
            </div>
        </div>
        <div id="linechart" class="text-center col-md-12"></div>
        <div id="notfound" hidden>
            <div class="notfound">
                <div class="notfound-404">
                    <h1>Oops!</h1>
                    <h2>404 - Data not found. Please Try Again Later!</h2>
                </div>

            </div>
        </div>

    </section>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'datetime/js/moment.js' %}"></script>
<script src="{% static 'datetime/js/moment-with-locales.js' %}"></script>
<script src="{% static 'datetime/js/collapse.js' %}"></script>
<script src="{% static 'datetime/js/transition.min.js' %}"></script>
<script src="{% static 'datetime/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'js/plotly-latest.min.js' %}"></script>
<script src="{% static 'js/customJS.js' %}"></script>
<script>
    var temp;
    $(document).ready(function () {
        let date_from = $('#date_from_time_picker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        let date_to = $('#date_to_time_picker').datetimepicker({
            format: 'YYYY-MM-DD'
        });
        $('.loader-container').hide();
        EEllicots();

        function EEllicots() {


            function GRAPH(url, id, from, to) {
                $.ajax({
                        type: "get",
                        url: url,
                        data: {
                            'id': id,
                            'date_from': from,
                            'date_to': to,
                        },
                        beforeSend: function () {

                            Plotly.purge('linechart');

                            $('#notfound').hide();
                            $('.loader-container').show();
                            $('#btn_show').prop('disabled', true);
                        },
                        success: function (data) {
                            if (data.hasOwnProperty('result') && !isEmpty(data.result)) {
                                let result = data.result;
                                let x_list = [[0], [0], [0], [0]];
                                let y_list = [[0], [0], [0], [0]];
                                let text = [[''], [''], [''], ['']];
                                let color = [[''], [''], [''], ['']];
                                let dates = [[''], [''], [''], ['']];
                                let index=0;
                                let xhighest=-1;
                                let yhighest=-1;
                                for (let r in result) {
                                    if (result.hasOwnProperty(r)) {
                                        xhighest=(parseFloat(result[r].x)>xhighest)?parseFloat(result[r].x):xhighest;
                                        yhighest=(parseFloat(result[r].y)>xhighest)?parseFloat(result[r].y):xhighest;
                                        x_list[result[r].quadrant].push(result[r].x);
                                        y_list[result[r].quadrant].push(result[r].y);
                                        text[result[r].quadrant].push((index + 1).toString());
                                        color[result[r].quadrant].push(result[r].color);
                                        dates[result[r].quadrant].push(result[r].dates);
                                        index += 1;
                                    }
                                }


                                var highest = Math.max.apply(Math, [Math.abs(xhighest), Math.abs(yhighest)]);

                                highest = highest * 1.2;
                                console.log('highest',highest)
                                var trace1 = {
                                    x: x_list[0],
                                    y: y_list[0],
                                    xa: dates[0],
                                    mode: 'text+dates+markers',
                                    type: 'scatter',
                                    {#name:dates,#}
                                    text: text[0],
                                    textfont: {
                                        {#family: 'sans serif',#}
                                        size: 16,
                                        color: color[0],
                                        weight: '900'
                                    },
                                    marker: {size: dates[0],},
                                    textposition: 'bottom center',

                                    hoveron: 'points',
                                    hovertemplate: "<b>%{marker.size}<b><extra></extra>",

                                    name: '<b>Non Combustible Non-Explosive(' + (x_list[0].length - 1) + ')</b>',
                                    hoverinfo: 'x+y',
                                };

                                var trace2 = {
                                    x: x_list[1],
                                    y: y_list[1],
                                    xa: dates[1],
                                    mode: 'text+dates+markers',
                                    type: 'scatter',
                                    {#name:dates,#}
                                    text: text[1],
                                    textfont: {
                                        {#family: 'sans serif',#}
                                        size: 16,
                                        color: color[1],
                                        weight: '900'
                                    },
                                    marker: {size: dates[1],},
                                    textposition: 'bottom center',

                                    hoveron: 'points',
                                    hovertemplate: "<b>%{marker.size}<b><extra></extra>",

                                    name: '<b>Clean Fuel Non-Explosive(' + (x_list[1].length - 1) + ')</b>',
                                    hoverinfo: 'x+y',
                                    showlegend: true
                                };
                                var trace3 = {
                                    x: x_list[2],
                                    y: y_list[2],
                                    xa: dates[2],
                                    mode: 'text+dates+markers',
                                    type: 'scatter',
                                    {#name:dates,#}
                                    text: text[2],
                                    textfont: {
                                        {#family: 'sans serif',#}
                                        size: 16,
                                        color: color[2],
                                        weight: '900'
                                    },
                                    marker: {size: dates[2],},
                                    textposition: 'bottom center',

                                    hoveron: 'points',
                                    hovertemplate: "<b>%{marker.size}<b><extra></extra>",

                                    name: '<b>Explosive(' + (x_list[2].length - 1) + ')</b>',
                                    hoverinfo: 'x+y',
                                };
                                var trace4 = {
                                    x: x_list[3],
                                    y: y_list[3],
                                    xa: dates[3],
                                    mode: 'text+dates+markers',
                                    type: 'scatter',
                                    {#name:dates,#}
                                    text: text[3],
                                    textfont: {
                                        {#family: 'sans serif',#}
                                        size: 16,
                                        color: color[3],
                                        weight: '900'
                                    },
                                    marker: {size: dates[3],},
                                    textposition: 'bottom center',

                                    hoveron: 'points',
                                    hovertemplate: "<b>%{marker.size}<b><extra></extra>",

                                    name: '<b>Potentialy Explosive(' + (x_list[3].length - 1) + ')</b>',
                                    hoverinfo: 'x+y',
                                };

                                var data = [trace1, trace2, trace3, trace4];
                                var layout = {
                                    title: 'Ellicott\'s Explosibility Graph(from Manual Entry)',
                                    titlefont: {
                                        size: 32
                                    },
                                    width: 1200,
                                    height: 800,

                                    xaxis: {
                                        title: "<b>(EFFECTIVE INSERT GASES IN %)</b>",
                                        tickmode: "linear", //  If "linear", the placement of the ticks is determined by a starting position `tick0` and a tick step `dtick`
                                        tick0: 0,
                                        dtick: 10,
                                        autoscale: false,
                                        {#range: [-1*((highest*lowest)/2), ((highest*lowest)/2)],#}
                                        range: [-highest * 1.2, highest * 1.2],
                                        ticks: "outside",
                                        showgrid: true,
                                        zeroline: true,
                                        showline: true,
                                        mirror: 'ticks',
                                        gridcolor: '#bdbdbd',
                                        gridwidth: 0.05,
                                        zerolinecolor: '#969696',
                                        zerolinewidth: 3,
                                        linecolor: '#636363',
                                        linewidth: 6,
                                        {#side:'right'#}
                                    },
                                    yaxis: {
                                        title: "<b>(TOTAL EFFECTIVE COMBUSTIBLE IN %)</b>",
                                        tickmode: "linear", //  If "linear", the placement of the ticks is determined by a starting position `tick0` and a tick step `dtick`
                                        tick0: 0,
                                        dtick: 2,
                                        autoscale: false,
                                        {#yanchor:'right',#}
                                        ticks: 'inside',
                                        {#range: [-1*((highest*lowest)/2), ((highest*lowest)/2)],#}
                                        range: [-highest * 1.2, highest * 1.2],
                                        showgrid: true,
                                        zeroline: true,
                                        showline: true,
                                        mirror: 'ticks',
                                        gridcolor: '#bdbdbd',
                                        gridwidth: 0.15,
                                        zerolinecolor: '#969696',
                                        zerolinewidth: 3,
                                        linecolor: '#636363',
                                        linewidth: 6,

                                    },
                                    annotations: [{
                                        xref: 'x',
                                        yref: 'y',
                                        x: -highest * 0.5,
                                        y: highest,
                                        xanchor: 'right',

                                        font: {
                                            family: 'Courier New, monospace',
                                            size: 16,
                                            color: '#8bc34a'
                                        },
                                        yanchor: 'top',
                                        text: '<b>CLEAN FUEL NON-EXPLOSIVE</b>',
                                        showarrow: false
                                    },
                                        {
                                            xref: 'x',
                                            yref: 'y',
                                            x: highest * 0.5,
                                            y: highest,
                                            xanchor: 'left',

                                            font: {
                                                family: 'Courier New, monospace',
                                                size: 16,
                                                color: '#ff9800'
                                            },
                                            yanchor: 'top',
                                            text: '<b>EXPLOSIVE</b>',
                                            showarrow: false
                                        },
                                        {
                                            xref: 'x',
                                            yref: 'y',
                                            x: -highest * 0.5,
                                            y: -highest,
                                            xanchor: 'right',
                                            font: {
                                                family: 'Courier New, monospace',
                                                size: 16,
                                                color: '#4caf50'
                                            },

                                            yanchor: 'bottom',
                                            text: '<b>NON COMBUSTIBLE NON-EXPLOSIVE</b>',
                                            showarrow: false
                                        }, {
                                            xref: 'x',
                                            yref: 'y',
                                            x: highest * 0.5,
                                            y: -highest,
                                            font: {
                                                family: 'Courier New, monospace',
                                                size: 16,
                                                color: '#f44336'
                                            },
                                            xanchor: 'left',

                                            yanchor: 'bottom',
                                            text: '<b>POTENTIALLY EXPLOSIVE</b>',
                                            showarrow: false
                                        },
                                    ],

                                    showlegend: true,
                                    legend: {
                                        y: 1,
                                        x: 0,
                                        "orientation": "h",
                                        font: {
                                            family: 'sans-serif',
                                            size: 11,
                                            color: '#000'
                                        },
                                        bgcolor: '#E2E2E2',
                                        bordercolor: '#FFFFFF',
                                        borderwidth: 2
                                    }
                                };
                                Plotly.newPlot('linechart', data, layout, {modeBarButtonsToRemove: ['autoScale2d']});
                                {#Plotly.relayout('linechart', relayout);#}
                                {#Plotly.extendTraces('linechart', update, [0], [10]);#}

                            } else {
                                $('#notfound').show();
                            }
                        },
                        complete: function () {
                            $('.loader-container').hide();
                            $('#btn_show').prop('disabled', false);
                        },
                        error: function () {
                            console.log("Something Went Wrong!");
                            {#alert("Please select Mine and location to see graph")#}
                        }
                        ,
                    }
                );
            }

            $('#btn_show').click(function () {
                let endpoint = $('#node_id').data('url');
                let id = $('#node_id').val();
                let from = $('#id_date_fr').val();
                let to = $('#id_date_to').val();
                if (!isEmpty(from) && !isEmpty(to)) {
                    console.log('clicked in');
                    GRAPH(endpoint, id, from, to)
                } else {
                    let from = "1899-01-01";
                    let to = "2999-12-12";
                    GRAPH(endpoint, id, from, to)
                }
            });
        }

    });
</script>
</body>
</html>
