{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <div class="container">
        <section class="col-md-12">
            <h3 class="page-header text-center"><b>Manage Wireless Node</b>
                <small>&nbspHere you can update ,view and delete nodes</small>
            </h3>
            <div class="row text-center">
                <div class="col-md-12">
                    <a class="btn btn-primary" href="{% url 'sensor:node_add' %}">Add Wireless Node</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive ">
                        <table class="table hover  table-bordered " id="myTable">
                            <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Mine Name</th>
                                <th>Node ID</th>
                                <th>Node Name</th>
                                <th>Node Location</th>
                                <th>X,Y (Axis)</th>
                                <th>Description</th>
                                <th>Is it Goaf?</th>
                                <th>Images</th>
                                <th>Data Aquition</th>
                                <th>Manage Sensor</th>
                                <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                            </thead>
                            <tbody id="RouterList">
                            {% for book in object_list %}


                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ book.mine_id.name }}</td>
                                    <td>{{ book.node_id }}</td>
                                    <td>{{ book.name }}</td>
                                    <td>{{ book.location }}</td>
                                    <td>{{ book.x_axis }},{{ book.y_axis }}</td>
                                    <td class="more">{{ book.description }}</td>
                                    <td class="text-center"><h4>
                                        {% if book.isgoaf == True %}
                                            <span class="label label-success">Yes</span>
                                        {% else %}
                                            <span class="label label-danger">No</span>
                                        {% endif %}
                                    </h4>
                                    </td>
                                    <td><img title="Image 1" class="image image-responsive"
                                             src="/media/{{ book.photo1 }}"
                                             height="60" width="60"/>
                                        <img title="Image 2" class="image image-responsive"
                                             src="/media/{{ book.photo2 }}"
                                             height="60" width="60"/>
                                    </td>

                                    <td class="text-center"><input
                                            {% if background|lookup:book.id %}checked {% endif %}
                                            {#                                            {% if not book.isgoaf %}disabled {% endif %}#}
                                            data-url="{% url 'sensor:start_save_multiple_sensor' book.mine_id_id book.id %}"
                                            id="isAcquire{{ book.id }}"
                                            data-val="{{ book.id }}" class="DataAcquisition"
                                            type="checkbox"
                                            data-toggle="toggle" data-on="On"
                                            data-off="off" data-onstyle="success"
                                            data-offstyle="danger"></td>

                                    <td class="text-center">
                                        <a href="{% url 'sensor:manage_sensor' book.mine_id.id|encrypt book.id|encrypt %}"
                                           class="manageSensor"
                                           data-url="{% url 'sensor:manage_sensor' book.mine_id.id book.id %}" 0
                                           title="Manage Sensor">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </a>
                                        <br>
                                        <br>
                                        {% if book.isgoaf %}
                                            <a href="{% url 'sensor:ellicots' book.id|encrypt %}"
                                               onclick="window.open('{% url 'sensor:ellicots' book.id|encrypt %}', 'Ellicots Graph', 'width=1600, height=1000','title=Hello'); return false;"
                                               title="Generate Ellicots Graph.">
                                                <span class="glyphicon glyphicon-picture"></span>
                                            </a>
                                            <br>
                                            <br>

                                        {% endif %}

{#                                        <a href="{% url 'sensor:locate_node' book.mine_id.id|encrypt book.id|encrypt %}"#}
{#                                           onclick="window.open('{% url 'sensor:locate_node' book.mine_id.id|encrypt book.id|encrypt %}', 'Node Location', 'width=1000, height=800','title=Hello'); return false;"#}
{#                                           title="Show Node Location">#}
{#                                            <span class="glyphicon glyphicon-map-marker"></span>#}
{#                                        </a>#}
{#                                        <br>#}
{#                                        <br>#}
{#                                        <a href="{% url 'sensor:node_edit' book.id|encrypt %}"#}
{#                                           class="editRouter"#}
{#                                           data-url="{% url 'sensor:node_edit' book.id|encrypt %}"#}
{#                                           title="Edit Router."><span#}
{#                                                class="glyphicon glyphicon-pencil"></span></a>#}
{#                                        <br>#}
{#                                    <br>#}
{#                                        <a href="#" class="delete"#}
{#                                           data-url="{% url 'sensor:node_delete' %}"#}
{#                                           id="{{ book.id }}"#}
{#                                           title="Delete Router."><span#}
{#                                                class="glyphicon glyphicon-trash"></span></a>#}


                                    </td>

                                    <td class="text-center"><a href="{% url 'sensor:node_edit' book.id|encrypt %}"
                                                               class="editRouter"
                                                               data-url="{% url 'sensor:node_edit' book.id|encrypt %}"
                                                               title="Edit Router."><span
                                            class="glyphicon glyphicon-pencil"></span></a></td>
                                    <td class="text-center"><a href="#" class="delete"
                                                               data-url="{% url 'sensor:node_delete' %}"
                                                               id="{{ book.id }}"
                                                               title="Delete Router."><span
                                            class="glyphicon glyphicon-trash"></span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 7, 8]
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 7, 8]
                        }
                    },
                ],
            });

            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-bottom-full-width",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
            };
            (function Delete_Node() {
                $(document.body).on("click", ".delete", function () {
                    $('#update_info').modal('show');
                    var node_id = $(this).attr('id');
                    var url = $(this).data('url');
                    console.log(node_id)
                    var Curr = $(this).parents('tr');
                    var datatable = $('#myTable').DataTable();
                    $('#update_info').on('click', '#delete', function (e) {
                        $('#update_info').unbind('click');
                        $('#update_info').modal('hide');
                        $.ajax({
                            type: "post",
                            url: url,
                            data: {
                                csrfmiddlewaretoken: "{{ csrf_token }}",
                                'id': node_id,
                            },
                            success: function (json) {
                                if (json.hasOwnProperty("success")) {
                                    datatable.row(Curr).remove().draw();
                                    toastr.success(json.success);
                                } else {
                                    toastr.error(json.error);
                                }
                            },
                            error: function () {
                                console.log("something is not right.please contact admin - 1");
                            }
                        });
                    });
                });
            })();

            $('.DataAcquisition').change(function () {
                let isAcquire = this.id;
                let action = $('#' + isAcquire).prop("checked");

                console.log('Changed', action);
                $.ajax({
                    type: "post",
                    url: $(this).data('url'),
                    data: {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        'action': action
                    },
                    success: function (json) {
                        console.log(json);
                        if (json.hasOwnProperty("error")) {
                            $('#' + isAcquire).bootstrapToggle('off');
                        }
                    },
                    error: function () {
                        $('#' + isAcquire).bootstrapToggle('off');
                        console.log("something is not right.please contact admin - 1");
                    }
                });
                {#console.log($(this).data('val'), $(this).prop('checked'));#}
            });

        });
    </script>
    <style>
        .container {
            width: 1251px;
        }

        .red-tooltip + .tooltip > .tooltip-inner {
            background: none;
        }

        .red-tooltip + .tooltip > .tooltip-arrow {
            border-bottom-color: #fff;
        }


    </style>
{% endblock %}
