  {% extends "base.html" %}

{% block content %}

<!--<h2>Manage Employee</h2>-->

<!--<ul>-->
    <!--{% for book in object_list %}-->
    <!--<li>{{ book.fname }}  ({{ book.age }} )-->
    <!--<a href="{% url 'employee:employee_edit' book.id %}">edit</a>-->
    <!--<a href="{% url 'employee:employee_delete' book.id %}">delete</a>-->
    <!--</li>-->
    <!--{% endfor %}-->
<!--</ul>-->

<!--<a href="{% url 'employee:employee_add' %}">New</a>-->

dfh

<div class="container">
    <div class="row">
<section class="col-md-12">
    <h1 class="page-header">Manage Wireless Node</h1>
    <div class="row text-center">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{% url 'sensor:node_add' %}">Add Node</a>
        </div>
    </div>
    <hr>
    <!-- Table content -->
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered" id="content">
                    <thead>
                        <tr>
                            <th class="text-center">SL No</th>
                            <th class="text-center">Mine name</th>
                            <th class="text-center">Node Name</th>
                            <!--<th class="text-center">IP Address</th>-->
                            <th class="text-center">Image1</th>
                            <th class="text-center">Location</th>
                            <th class="text-center">Add Sensor</th>
                            <th class="text-center">Data Aquisition</th>
                            <th class="text-center">Edit</th>
                            <th class="text-center">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for book in object_list %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td class="text-center">{{ book.mine_id }}</td>
                            <td class="text-center">{{ book.name}}</td>
                            <!--<td class="text-center">{{ book.ip_add}}</td>-->
                            <td class="text-center"><img class="image image-responsive" src="/media/{{ book.photo1 }}" height="100" width="100"/> </td>
                            <td class="text-center">{{ book.location }}</td>
                            <td class="text-center"><a target="_blank" href="{% url 'sensor:add_sensor'  book.id %}"><span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Add Sensor"></span></a></td>
                            <td class="text-center"><a href="{% url 'sensor:background_view' book.id %} "><button  type="button" class="btn btn-success" id="id_start">Save</button></a></td>
                            <td class="text-center"><a href="{% url 'sensor:node_edit' book.id %}" title="Edit Node."><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td class="text-center"><a href="#" class="delete" data-url="{% url 'sensor:node_delete' book.id  %}" title="Delete Node."><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--end Table content -->
</section>
        </div>
</div>


 <div class="modal fade" id="update_info" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    Alert!
                </h4>
            </div>
            <div class="modal-body">Are you sure, You want to delete?
            </div>
            <div class="modal-footer">
                <a  id="sureDelete"><button type="button" class="btn btn-danger" >Yes</button></a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>

            </div>
        </div>
    </div>
</div>


  <script>
      $(document.body).on("click", ".delete", function () {

        $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');

    });
  </script>

{% endblock %}