{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
<!--<link rel="stylesheet" href="{% static '/css/w3.css' %}">-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<div class="container">
    <div class="row">

      <div class="alert alert-success alert-dismissible fade in hide " id="success-alert" role="alert">
        <a href="#" class="close" data-dismiss="alert"aria-label="close">&times;</a>
      </div>
      <div class="alert alert-danger alert-dismissible fade in hide " id="failure-alert" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>

      <section class="col-md-12">
        <h1 class="page-header">Add Node
          <small>&nbsp&nbsp&nbspHere you can create ,view and delete nodes</small>
        </h1>

            <!-- Table content -->
            <div class="row" style="background-color: powderblue;">
                <div class="form-group"></div>
                <div class="form-group">
                    <form class="form-horizontal" method="post" id="NodeForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Select Mine</label>
                                </div>
                                <div class="col-md-8">
                                    {{form.mine_id}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Node ID </label></label>
                                </div>
                                <div class="col-md-8">
                                     {{form.nodeid}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Node Name</label>
                                </div>
                                <div class="col-md-8">
                                     {{form.name}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Node Location </label>
                                </div>
                                <div class="col-md-8">
                                      {{form.location}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>X-Axis</label>
                                </div>
                                <div class="col-md-8">
                                    {{form.x_axis}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Y-Axis </label>
                                </div>
                                <div class="col-md-8">
                                    {{form.y_axis}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Image 1</label>
                                </div>
                                <div class="col-md-8">
                                    {{form.photo1}}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4">
                                    <label>Image 2</label>
                                </div>
                                <div class="col-md-8">
                                     {{form.photo2}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <label>Description</label>
                                </div>
                                <div class="col-md-10">
                                     {{form.description}}
                                </div>
                            </div>

                        </div>
                        <center><button id="RouterNode" onclick="document.querySelector('.glyphicon').classList.toggle('icon-rotate')" type="submit" class="btn btn-primary" value="Create Node"/><i class="glyphicon glyphicon-signal"></i> Create Node</center>

                    </form>
                </div>
            </div>


            <br>
            <hr>
            <center><h2>All Created Wireless Nodes</h2></center>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive ">
                        <table class="table hover  table-bordered " id="myTable">
                            <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Mine Name</th>
                                <th>Node ID</th>
                                <th>Node Name</th>
                                <th>Node Location</th>
                                <th>X,Y (Axis)</th>
                                <th>Description</th>
                                <th>Image1</th>
                                <th>Image2</th>
                                <th>Manage Sensor</th>
                                 <th>Edit</th>
                                <th>Delete</th>

                            </tr>
                            </thead>
                            <tbody id="RouterList">
                              {% for book in object_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ book.mine_id.name }}</td>
                                <td>{{ book.nodeid }}</td>
                                <td>{{ book.name }}</td>
                                <td>{{ book.location }}</td>
                                <td>{{ book.x_axis }},{{ book.y_axis }}</td>
                                 <td class="more">{{ book.description }}</td>
                                <td><img class="image image-responsive" src="/media/{{ book.photo1 }}" height="100" width="100"/> </td>
                                 <td><img class="image image-responsive" src="/media/{{ book.photo2 }}" height="100" width="100"/> </td>

                                <td class="text-center"><a href="{% url 'sensor:manage_sensor' book.id %}" class="manageSensor"
                                                           data-url="{% url 'sensor:manage_sensor' book.id %}"0
                                                           title="Manage Sensor"><span
                                        class="glyphicon glyphicon-plus"></span></a></td>

                                <td class="text-center"><a href="{% url 'sensor:node_manage' book.id %}" class="editRouter"
                                                           data-url="{% url 'sensor:node_manage' book.id %}"
                                                           title="Edit Router."><span
                                        class="glyphicon glyphicon-pencil"></span></a></td>
                                <td class="text-center"><a href="#" class="delete"
                                                           data-url="{% url 'sensor:node_delete' %}"
                                                           id="{{book.id}}"
                                                           title="Delete Router."><span
                                        class="glyphicon glyphicon-trash"></span></a></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<section class="KBmap" id="KBtestmap"/>
<script>
$(document).ready(function() {
   if($('#id_mine_id').val()!=''){
       $('#RouterCreate').prop("disabled", false)
       setImageData($( "#id_mine_id option:selected" ).val());
       $('#RouterCreate').prop("disabled", false)
   }
   else{
       $('#RouterCreate').prop("disabled", true)
   }
    $("#id_mine_id").addClass('form-control');
    $('#KBtestmap').hide();

    parameters=getUrlVars();
    if(parameters.hasOwnProperty('result')){
        toastr.success('Node Created Successfully!')
    }

    $('#myTable').DataTable( {
          dom: 'Bfrtip',
          buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
          ]

    });

    $("#id_mine_id").on("change",function(){
        if($(this).val()!=''){
          setImageData(this.value);
          $('#RouterNode').prop("disabled", false)
        }
        else{
          $('#RouterNode').prop("disabled", true)
        }
        $('#KBtestmap').hide();
    });

    $("#id_x_axis").click(function(){
        if($('#id_mine_id').val()!=""){
            PointInitialization();
            var elem = document.getElementById("KBtestmap");
            openFullscreen(elem);
            FULLSCREEN();
        }
        ZoomButtonsInitialization();
    });

    $("#id_y_axis").click(function(){
        if($('#id_mine_id').val()!=""){
            PointInitialization();
            var elem = document.getElementById("KBtestmap");
            openFullscreen(elem);
        }
    });






    $(document).keyup(function(e) {
     // if (e.keyCode === 13) $('.save').click();     // enter
      if (e.keyCode === 27 || e.keyCode === 13){ //esc
            $(function () {
                $('#AddRouter').modal('toggle');
            });
      }
    });


    document.addEventListener("fullscreenchange", function (event) {
      if(checkFullScreenStatus()){
          $('#KBtestmap').show();
          $("body").css({"overflow":"hidden"});
      }
      else{
        $('#KBtestmap').hide();
        $("body").css({"overflow":"visible"});
      }
    });

    $( "#CurrentPhotoCheck1" ).has( "a" ).children('a').attr('id','CurrentPhotoCheckOnHover1')
    $( "#CurrentPhotoCheck2" ).has( "a" ).children('a').attr('id','CurrentPhotoCheckOnHover2')

    $('#CurrentPhotoCheckOnHover1').attr('data-toggle','tooltip');
    $('#CurrentPhotoCheckOnHover2').attr('data-toggle','tooltip');

    $('#CurrentPhotoCheckOnHover1').attr('class','red-tooltip');
    $('#CurrentPhotoCheckOnHover2').attr('class','red-tooltip');

    $('#CurrentPhotoCheckOnHover2').attr('title',"<img src='"+$('#CurrentPhotoCheckOnHover2').attr("href")+"' />");
     $('#CurrentPhotoCheckOnHover1').attr('title',"<img src='"+$('#CurrentPhotoCheckOnHover1').attr("href")+"' />");

    $('a[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true
    });

    Delete_Node();
    PointInitialization()

});
var added=0;
var P;
function PointInitialization(){
          $(".KBmap__mapHolder").click(function(e){

            if(added==0){
                var temp= mousePositionElement(e);
                P=temp;
                console.log(temp);
                var icon="/static/image/router.svg";
                var offset = $(this).offset();
                var offsetWidth=$('#KBtestmap')[0].offsetWidth;
                var ScrollWidth=$('#KBtestmap')[0].scrollWidth;

                var offsetHeight=$('#KBtestmap')[0].offsetHeight;
                var ScrollHeight=$('#KBtestmap')[0].scrollHeight;

                var offsetY=((offsetHeight-ScrollHeight)/offsetHeight)*100;
                var offsetX=((offsetWidth-ScrollWidth)/offsetWidth)*100;
                console.log(offsetX+" "+offsetY);
                var PosX=temp.x+offsetY;
                var PosY=temp.y-((document.documentElement.scrollTop))/7.8+offsetX;
                   //var PosY=temp.y
                console.log(PosX+" "+PosY);

                var random=Math.floor((Math.random() * 10) + 1);
                var node_id=$('#id_nodeid').val();
                var node_mine_name=$('#id_mine_id').children("option:selected").text();
                var markerName="Test"
                var NodeName=node_id+"||"+node_mine_name+"||";
                var ipAddress=$('#id_ip_add').val();
                var routerLocation=$('#id_location').val();
                var routerAddress=$('#id_address').val();

                var NodeContent="<small>";

                NodeContent+="<strong >"+"Name : ";
                NodeContent+="<span class='badge'>";
                NodeContent+=$('#id_name').val();
                NodeContent+="</span>";
                NodeContent+="</strong></br>";

                NodeContent+="<strong >"+"Location : ";
                NodeContent+="<span class='badge'>";
                NodeContent+=routerLocation;
                NodeContent+="</span>";
                NodeContent+="</strong></br>";


                NodeContent+="<strong >"+"Description : ";
                NodeContent+="<span class='badge'>";
                NodeContent+=$('#id_description').val();
                NodeContent+="</span>";
                NodeContent+="</strong></br>";
                NodeContent+="</small>";

                var KBkeys=KBtestmap.mapMarkers;

                if("Test" in KBkeys)KBkeys.Test.removeMarker();

                KBtestmap.addMarker(icon,PosX,PosY,markerName);
                KBtestmap.mapMarkers[markerName].addModal(NodeName,NodeContent);

                $('#id_x_axis').val(PosX);
                $('#id_y_axis').val(PosY);
                $('.KBmap__marker').not(':last').remove();

                KBtestmap.showAllMapMarkers();

            }
          });
    }

function Delete_Node(){
    $(document.body).on("click", ".delete", function () {

       // $("#sureDelete").attr("href", $(this).data('url'));
        $('#update_info').modal('show');
        var node_id=$(this).attr('id');
        var url=$(this).data('url');
        console.log(node_id)
        var Curr=$(this).parents('tr');
        var datatable=$('#myTable').DataTable();
        $('#update_info').on('click', '#delete', function(e) {
        $('#update_info').unbind('click');
        $('#update_info').modal('hide');
        $.ajax({
            type:"post",
            url:url,
            data:{
                csrfmiddlewaretoken: "{{ csrf_token }}",
                'id':node_id,
            },
            success:function(json){
                console.log(json);
                if(json.hasOwnProperty("success")){
                    // $("#success-alert").removeClass("hide");
                    // $("#success-alert").text(json.success);
                     //$("#success-alert").fadeTo(2000, 500).slideUp(500, function() {$("#success-alert").slideUp(500);});
                     datatable.row(Curr).remove().draw();
                     toastr.success(json.success);
                 }
                else{
                        //$("#failure-alert").removeClass("hide");
                        //$("#failure-alert").text(json.error);
                        //$("#failure-alert").fadeTo(2000, 500).slideUp(500, function() {$("#success-alert").slideUp(500);});
                        toastr.error(json.error);
                }
            },
            error: function(){
                    console.log("something is not right.please contact admin - 1");
            }});
        });
    });}

    function setImageData(mine_id){
        url=$("#get_url").data('url');

        $.ajax({
            type:"get",
            url: "{% url 'Strata:fetch_map_image' %}",
            data: {
                     'id': mine_id
                   },
            success: function(data) {
                tempData=data;
                CreateKBtestMap(data.result.image_url);
            },
            error: function(){
                    console.log("something is not right.please contact admin - 1");
                 }
            });
    }

    function CreateKBtestMap(data){
        var img=data;
        if(addedKBmaps.length>0){
          addedKBmaps.pop();
          $('.KBmap__mapContainer').remove();
        }

        if(img){
          createKBmap('KBtestmap', '/media/'+img);
          var icon="/static/image/router.svg";
          KBtestmap.addMarker(icon,$('#id_x_axis').val(),$('#id_y_axis').val(),'Test');

          KBtestmap.showAllMapMarkers();
        }
        else{
          $("#map").css("");
          $("#map").html("No Mine map(blue print) is added in this mine.please add it.");
        }

    };

function ZoomButtonsInitialization(){
        var $section = $('#KBtestmap');
        var $panzoom = $section.find('.KBmap__mapContainer').panzoom({
                increment       : 0.01,
                minScale        : 1,
                maxScale        : 10,
                startTransform  : 'scale(1.0)',
                disablePan: false,
                contain: 'invert',
        });
        $panzoom.parent().on('mousewheel.focal', function( e ) {
                e.preventDefault();
                var delta = e.delta || e.originalEvent.wheelDelta;

                var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
                $panzoom.panzoom('zoom', zoomOut, {
                  animate: false,
                  focal: e
                });
              });
    }
</script>
<style>
    .red-tooltip + .tooltip > .tooltip-inner {background: none;}
    .red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#fff; }
</style>
{% endblock %}

